.offset3.row
  .span6.well
    %h2 Incassi giornalieri
    %ul.unstyled
      - for month, values in @incassi.group_by {|f| f.data.beginning_of_month} do
        .page-break
        %li
          %strong= l month, format: :month_year
        - for i in values do
          %li
            .data.pull-left{ style: "width: 50%"}
              = link_to "#", class: "trigger" do
                = l i.data, format: :day_of_month
              
            .pull-right{ style: "text-align: right; width:50%"}
              = number_to_currency i.incasso
      %li
        .pull-left Incasso totale
        .pull-right{ style: "text-align: right"}
          = number_to_currency @incassi.sum { |i| i.incasso.to_d }


#cassa.the-modal{style: "display: none;"}
  %a.the-close{ href: "#"}
    x
  .modal-content

  