.content-main.span8
  .content-header
    .header-inner
      %h2 Volumi da consegnare

    .libri
      - @da_consegnare.each do |libro, righe|
        .row
          .span8[libro]
            .row
              .titolo.span3
                = link_to image_tag(libro.image_url(:small_thumb)), libro
                %strong= libro.titolo
                %br
                = libro.cm
              .quantita.span1
                = righe.sum(&:quantita)
              .righe.span2
                -for riga in righe do
                  = link_to riga.appunto, class: "label label-info" do
                    %strong= riga.quantita
                    -
                    = riga.appunto.cliente.titolo
              .in_ordine.span1
                - index = @in_ordine.keys.index(libro)
                - unless index.nil?
                  = @in_ordine.values[index].sum(&:quantita)
              .giacenza.span1
                - unless index.nil?
                  = @in_ordine.values[index].sum(&:quantita) - righe.sum(&:quantita)
                - else
                  = 0 - righe.sum(&:quantita)