- righe ||= []
- group ||= :appunto

.nested-righe
  
  - righe_grouped = righe.group_by(&group)
  
  - righe_grouped.each do |a, righe|

    .grouped-righe

      = check_box_tag "", "select_righe", false, class: 'cb-toggle pull-left'
      
      - if group == :appunto
        = render "appunti/appunto_header", appunto: a
      - else
        = a.to_s
      
      .table-righe-new

        = render righe

        - if righe_grouped.keys.count > 1
          .riga
            .dati-riga      
              .quantita
                %small= righe.map(&:quantita).sum
              .importo              
                %small= number_to_currency righe.map(&:importo).sum, unit: ''

