- righe ||= []
- group ||= :appunto

.nested-righe

  - righe.group_by(&group).map do |a, righe|

    .grouped-righe

      = check_box_tag "", "select_righe", false, class: 'cb-toggle'
      
      - if group == :appunto
        = render "appunti/appunto_header", appunto: a
      - else
        = a.to_s
      
      .table-righe-new
        - for riga in righe
          = render riga

        .riga
          .dati-riga      
            .quantita
              %strong
                = righe.map(&:quantita).sum
            .importo              
              = number_to_currency righe.map(&:importo).sum, unit: ''

  .riga
    .dati-riga      
      .quantita
        %strong
          = righe.map(&:quantita).sum
      .importo              
        = number_to_currency righe.map(&:importo).sum, unit: ''
