%div.clearfix[riga]
  .cb
    = check_box_tag("riga_ids[]", riga.id, false)

  .titolo
    = link_to riga.cached_libro.titolo, riga.cached_libro
    - if riga.can_registra?
      %small= riga.state
      - unless riga.consegnata_il.nil?
        %small.badge.badge-info= formatta_data riga.consegnata_il
      - unless riga.pagata_il.nil?  
        %small.badge.badge-success= formatta_data riga.pagata_il
    / - if Rails.env.production?
    /   %small= riga.cached_libro.cm
    / - else
    /   %small= riga.state

  .dati-riga      
    .quantita
      %strong
        = riga.quantita
    .prezzo
      - unless riga.importo.zero?
        = number_to_currency riga.prezzo_unitario, unit: ''
      - else
        &nbsp
    .sconto
      - unless riga.importo.zero?
        = "- #{riga.sconto}%" unless riga.sconto.zero?
      - else
        %span.badge.badge-info gratis
    .importo
      - unless riga.importo.zero?
        = number_to_currency riga.importo, unit: ''


    