%tr[riga]
  %td= riga.titolo
  %td.quantita
    %strong
      = riga.quantita
  %td x
  - unless riga.prezzo_unitario.zero?
    %td
      = pretty_prezzo riga.prezzo_unitario
  - else
    %td.gratis 
      %span.badge.badge-info gratis
  %td
  %td.sconto
    = "- #{riga.sconto}%" unless riga.sconto.zero?
  
  %td =
  %td
  - unless riga.importo.zero?
    %td
      = pretty_prezzo riga.importo
  - else
    %td.gratis
      %span.badge.badge-info gratis