%div[riga]
  .titolo
    = riga.titolo
  .dati-riga
    .quantita
      %strong
        = riga.quantita
    .prezzo
      - unless riga.prezzo_unitario.zero?
        = number_to_currency riga.prezzo_unitario
      - else
        %span.badge.badge-info gratis
    .sconto
      = "- #{riga.sconto}%" unless riga.sconto.zero?
    .importo
      - unless riga.importo.zero?
        = number_to_currency riga.importo
      - else
        %span.badge.badge-info gratis