%div.clearfix[riga]
  .cb
    = check_box_tag("riga_ids[]", riga.id, false)

  .titolo
    = link_to riga.cached_libro.titolo, riga.cached_libro
    - if Rails.env.production?
      %small= riga.cached_libro.cm
    - else
      %small= riga.state

  .dati-riga      
    .quantita
      %strong
        = riga.quantita
    .prezzo
      - unless riga.importo.zero?
        = number_to_currency riga.prezzo_unitario, unit: ''
      - else
        &nbsp
    .sconto
      - unless riga.importo.zero?
        = "- #{riga.sconto}%" unless riga.sconto.zero?
      - else
        %span.badge.badge-info gratis
    .importo
      - unless riga.importo.zero?
        = number_to_currency riga.importo, unit: ''


    