%div.clearfix[riga]
  / .consegnata
  /   = check_box_tag "cx-consegnato", riga.consegnato, riga.consegnato
  / .pagata
  /   = check_box_tag "cx-pagato", riga.pagato, riga.pagato
  .titolo
    = link_to riga.cached_libro.titolo, riga.cached_libro
    %small= riga.cached_libro.cm
  .dati-riga
    .quantita
      %strong
        = riga.quantita
    .prezzo
      - unless riga.importo.zero?
        = number_to_currency riga.prezzo_unitario, unit: ''
      - else
        &nbsp
    .sconto
      - unless riga.importo.zero?
        = "- #{riga.sconto}%" unless riga.sconto.zero?
      - else
        %span.badge.badge-info gratis
    .importo
      - unless riga.importo.zero?
        = number_to_currency riga.importo, unit: ''


    