.span2.side-bar

  .module.well
    %ul
      %li
        .btn-group
          = link_to "NO", params.except(:status).merge(data: Date.new(2014, 1, 1)), class: "btn"
          %button.btn.dropdown-toggle{"data-toggle" => "dropdown"}
            %span.caret
          %ul.dropdown-menu{ role: "menu", "aria-labelledby" => "dLabel" }
            %li
              = link_to "NO Visita", pianifica_propa2014s_url(data_visita: 'no')
            %li
              = link_to "NO Vacanze", pianifica_propa2014s_url(data_vacanze: 'no')
            %li
              = link_to "NO Ritiro", pianifica_propa2014s_url(data_ritiro: 'no')

      %li
        .btn-group
          = link_to "da pianificare", params.except(:data).merge(status: "da_fare"), class: "btn"
          %button.btn.dropdown-toggle{"data-toggle" => "dropdown"}
            %span.caret          
          %ul.dropdown-menu{ role: "menu", "aria-labelledby" => "dLabel" }
            %li
              = link_to "da fare", pianifica_propa2014s_url(data_visita: "da_fare")
            %li
              = link_to "dare vacanze", pianifica_propa2014s_url(data_vacanze: "da_fare")
            %li
              = link_to "da ritirare", pianifica_propa2014s_url(data_ritiro: "da_fare")

  .module.well           

    %ul
      - p_start = Date.new(2014, 3, 24); p_end = Date.new(2014, 4, 17)

      - (p_end - p_start).to_i.times do |d|
        - day = p_start + d.day
        - clienti = @tutti.select{|c| c.propa2014.data_visita == day || c.propa2014.data_vacanze == day}
        - unless day.sunday?

          %li
            .btn-group
              = link_to "#{l day, format: :short_with_day} (#{clienti.size})", params.except(:status, :provincia).merge(data: day), class: "btn", style: "width: 120px;"
              %button.btn.dropdown-toggle{"data-toggle" => "dropdown"}
                %span.caret

              %ul.dropdown-menu{ role: "menu", "aria-labelledby" => "dLabel" }
                %li
                  = link_to "Visita", pianifica_propa2014s_url(data_visita: day)
                %li
                  = link_to "Vacanze", pianifica_propa2014s_url(data_vacanze: day)

  .module.well
    %ul

      - @vacanze_dates.each do |day|
        - clienti = @tutti.select{|c| c.propa2014.data_vacanze == day || c.propa2014.data_visita == day}
        - unless day.sunday?             
          %li
            .btn-group
              = link_to "#{l day, format: :short_with_day} (#{clienti.size})", params.except(:status, :provincia).merge(data: day), class: "btn", style: "width: 100px;"
              %button.btn.dropdown-toggle{"data-toggle" => "dropdown"}
                %span.caret

              %ul.dropdown-menu{ role: "menu", "aria-labelledby" => "dLabel" }
                %li
                  = link_to "Visita", pianifica_propa2014s_url(data_visita: day)
                %li
                  = link_to "Vacanze", pianifica_propa2014s_url(data_vacanze: day)

.span2.side-bar

  .module.well           
    %ul


      - p_start = Date.new(2014, 5, 12); p_end = Date.new(2014, 7, 12)
      - (p_end - p_start).to_i.times do |d|
        - day = p_start + d.day
        - clienti = @tutti.select{|c| c.propa2014.data_visita == day || c.propa2014.data_vacanze == day || c.propa2014.data_ritiro == day}
        - unless day.sunday? || day.saturday?

          %li
            .btn-group
              = link_to "#{l day, format: :short_with_day} (#{clienti.size})", params.except(:status, :provincia).merge(data: day), class: "btn", style: "width: 120px;"
              %button.btn.dropdown-toggle{"data-toggle" => "dropdown"}
                %span.caret

              %ul.dropdown-menu{ role: "menu", "aria-labelledby" => "dLabel" }
                %li
                  = link_to "Ritiro", pianifica_propa2014s_url(data_ritiro: day)
                %li
                  = link_to "Vacanze", pianifica_propa2014s_url(data_vacanze: day)
        - else

          %li
            Solenne


