= new_button( new_cliente_url )

- title "Propa 2014"

/ = render @direzioni.uniq

/ = nested_scuole @clienti.arrange(:order => "provincia asc, comune asc")
/ - zone = @clienti.arrange(:order => "provincia asc, comune asc")

/ = zone.size


/ - zone.each do |zona|
  
/   - if zona[0].scuola_primaria?
/     = render zona[0]
/   - else
/     = link_to zona[0]
  
/   - zona[1].each do |direzione|
/     - if direzione[0].scuola_primaria? == true
/       = render direzione[0]
/     - else
/       = link_to direzione[0].titolo, direzione[0]


.row


  .content-main.span12
    %header.content-header
    
      .header-inner
        - if @provincie
          
          .sort-box.clearfix
            
            %h2.pull-left 
              Propaganda 2014
              %small= @count_elementari
            
            .btn-group.pull-right
              = link_to 'tutte', params.except(:provincia, :data), class: "btn #{params[:provincia].present?  ? '' : 'btn-primary'}", remote: false
              - for provincia in @provincie
                = link_to provincia, params.except(:data).merge(provincia: provincia), class: "btn #{params[:provincia] == provincia  ? 'btn-primary' : ''}", remote: false
            
    .module

    .row.floating    
      
      #clienti.list.module.span8

        - zone = @clienti.arrange(:order => "provincia asc, comune asc")

        %table.table
          %tr
            %th           
            %th Cliente
            %th Propaganda
            %th Adozioni

          - zone.each do |zona|

            - if zona[0].scuola_primaria? == true              
              = render zona[0].propa2014
            - else
              %tr.warning
                %td{colspan: 6}
                  = link_to zona[0].titolo, zona[0]
                  %small= zona[0].descendants.select{|s| s.scuola_primaria? == true}.count
            
            - zona[1].each do |direzione|
              - if direzione[0].scuola_primaria? == true
                = render direzione[0].propa2014
              - else
                %tr.warning
                  %td{colspan: 6}= link_to direzione[0].titolo, direzione[0]

              - direzione[1].each do |plesso|
                - if plesso[0].scuola_primaria? == true
                  = render plesso[0].propa2014
                - else
                  %tr.warning
                    %td{colspan: 6}= link_to plesso[0].titolo, plesso[0]


      / vecchio sistema
      / = render 'side_propaganda'

      

      .floating-side.span4
        .floating-toolbar
          .module
            .header
              = show_hide_tag
              %h3 Nel Baule
            .more
              .riepilogo.clearfix
                = render 'baule/riepilogo_baule'
              .well
                = render "baule/form"

          #calendar_small.module
            %h2#month
              = link_to "<", {calendar: @date.prev_month}, class: "btn"
              = l @date, format: :month_year
              = link_to ">", {calendar: @date.next_month}, class: "btn"
            
            = calendar @date do |date|
              = date.day
              - if @visite_grouped[date]
                %ul.unstyled
                  %li
                    = link_to giro_path(giorno: date) do
                      %span{ class: "badge #{date.future? ? 'badge-important' : 'badge-info'}" }
                        = @visite_grouped[date].size







