= new_button( new_cliente_url )

- title "Propa 2014"

.row


  .content-main.span12
    %header.content-header
    
      .header-inner
        - if @provincie
          .sort-box.clearfix
            %h2.pull-left 
              Propaganda 2014
              %small= @count_elementari
            .btn-group.pull-right
              = link_to 'tutte', params.except(:provincia), class: "btn #{params[:provincia].present?  ? '' : 'btn-primary'}", remote: false
              - for provincia in @provincie
                = link_to provincia, params.merge(provincia: provincia), class: "btn #{params[:provincia] == provincia  ? 'btn-primary' : ''}", remote: false

    #clienti.list

      - zone = @clienti.arrange(:order => "provincia asc, comune asc")

      %table
        %tr
          %th Cliente
          %th 
          %th Data visita
          %th Data ritiro
          %th Data interclasse
          %th Data collegio
          %th Kit 123
          %th Nr 123
          %th Kit 45
          %th Nr 45
          %th Kit 123 ing
          %th Nr 45 ing
          %th Kit 123 rel
          %th Nr 123 rel
          %th Kit 45 rel
          %th Nr 45 rel
          %th Vac 1
          %th Vac 2
          %th Vac 3
          %th Vac 4
          %th Vac 5
          %th
          %th
          %th
        - zone.each do |zona|
          %tr
            %td
              = link_to zona[0].titolo, zona[0]
              %small= zona[0].descendants.select{|s| s.scuola_primaria? == true}.count
          
          
          - zona[1].each do |direzione|
            %tr
              %td= link_to direzione[0].titolo, direzione[0]
              - if direzione[0].scuola_primaria? == true
                %td{ class: "#{dom_id(direzione[0])} cliente"}= baule_tag direzione[0]
                %td= on_the_spot_edit direzione[0].propa2014, :data_visita, tooltip: "...", type: :select, data: [[nil, ""], ["#{Time.now.beginning_of_year.to_date}", "no"], ["#{Time.now.to_date}", "#{Time.now.to_date}"], ["#{(Time.now + 1.day).to_date}", "#{(Time.now + 1.day).to_date}"], ["#{(Time.now + 2.day).to_date}", "#{(Time.now + 2.day).to_date}"], ["#{(Time.now + 3.day).to_date}", "#{(Time.now + 3.day).to_date}"], ["#{(Time.now + 4.day).to_date}", "#{(Time.now + 4.day).to_date}"]]
            
            - direzione[1].each do |plesso|
              %tr
                %td= link_to plesso[0].titolo, plesso[0]
                - if plesso[0].scuola_primaria? == true
                  %td{ class: "#{dom_id(plesso[0])} cliente"}= baule_tag plesso[0]
                  %td= on_the_spot_edit plesso[0].propa2014, :data_visita, tooltip: "...", type: :select, data: [[nil, ""], ["#{Time.now.beginning_of_year.to_date}", "no"], ["#{Time.now.to_date}", "#{Time.now.to_date}"], ["#{(Time.now + 1.day).to_date}", "#{(Time.now + 1.day).to_date}"], ["#{(Time.now + 2.day).to_date}", "#{(Time.now + 2.day).to_date}"], ["#{(Time.now + 3.day).to_date}", "#{(Time.now + 3.day).to_date}"], ["#{(Time.now + 4.day).to_date}", "#{(Time.now + 4.day).to_date}"]]


