= new_button( new_cliente_url )

- title "Propa 2014"

.row

  .content-main.span12
    
    %header.content-header
    
      .header-inner
        - if @provincie
          
          .sort-box.clearfix
            
            %h2.pull-left 
              Propaganda 2014
              %small= @clienti.scuola_primaria.size

            .btn-toolbar.pull-right
              
              .btn-group
                
                = link_to 'tutte', params.except(:da_ritirare, :adozioni_da_consegnare, :provincia), class: "btn #{params[:adozioni_da_consegnare].present? || params[:da_ritirare].present? ? '' : 'btn-primary'}", remote: false

                = link_to "kit da consegnare", params.except(:da_ritirare).merge(adozioni_da_consegnare: true), class: "btn #{params[:adozioni_da_consegnare] == 'true'  ? 'btn-primary' : ''}", remote: false
                
                = link_to "kit consegnati", params.except(:da_ritirare).merge(adozioni_da_consegnare: false), class: "btn #{params[:adozioni_da_consegnare] == 'false'  ? 'btn-primary' : ''}", remote: false
                
                = link_to "da ritirare", params.except(:adozioni_da_consegnare).merge(da_ritirare: 'true'), class: "btn #{params[:da_ritirare] == 'true'  ? 'btn-primary' : ''}", remote: false
              
              .btn-group
                
                = link_to 'tutte', params.except(:provincia), class: "btn #{params[:provincia].present?  ? '' : 'btn-primary'}", remote: false
                
                - for provincia in @provincie
                  = link_to provincia, params.merge(provincia: provincia), class: "btn #{params[:provincia] == provincia  ? 'btn-primary' : ''}", remote: false
           
    .module

    .row.floating    
      
      #clienti.list.span8
        - @direzioni.each do |direzione|
          .module
            .content-header
              .header-inner
                %h3= link_to direzione.titolo, direzione
           
            - @clienti_grouped[direzione].each do |scuola| 
              .cliente.item             
                = render "clienti/cliente_propa", cliente: scuola

      .floating-side.span4
        
        .floating-toolbar

          = render "baule/form"

          = render_calendar






