= new_button( new_cliente_url )

- title "Propa 2014"






.row


  .content-main.span12
    %header.content-header
    
      .header-inner
        - if @provincie
          
          .sort-box.clearfix
            
            %h2.pull-left 
              Propaganda 2014
              %small= @clienti.scuola_primaria.size

            .btn-group.pull-right
              = link_to 'tutte', params.except(:adozioni_da_consegnare, :provincia), class: "btn #{params[:adozioni_da_consegnare].present?  ? '' : 'btn-primary'}", remote: false
              
              = link_to "kit da consegnare", params.merge(adozioni_da_consegnare: true), class: "btn #{params[:adozioni_da_consegnare] == 'true'  ? 'btn-primary' : ''}", remote: false
              = link_to "kit consegnati", params.merge(adozioni_da_consegnare: false), class: "btn #{params[:adozioni_da_consegnare] == 'false'  ? 'btn-primary' : ''}", remote: false
            
            .btn-group.pull-right
              = link_to 'tutte', params.except(:provincia), class: "btn #{params[:provincia].present?  ? '' : 'btn-primary'}", remote: false
              - for provincia in @provincie
                = link_to provincia, params.merge(provincia: provincia), class: "btn #{params[:provincia] == provincia  ? 'btn-primary' : ''}", remote: false

            
    .module

    .row.floating    
      
      #clienti.list.span8
        - @direzioni.each do |direzione|
          .module
            .content-header
              .header-inner
                %h3= link_to direzione.titolo, direzione
           
            - @clienti_grouped[direzione].each do |scuola|              
              = render "clienti/cliente_propa", cliente: scuola

      
      .floating-side.span4
        .floating-toolbar
          .module
            .header
              = show_hide_tag
              %h3 Nel Baule
            .more
              .riepilogo.clearfix
                = render 'baule/riepilogo_baule'
              .well
                = render "baule/form"

          #calendar_small.module
            %h2#month
              = link_to "<", {calendar: @date.prev_month}, class: "btn"
              = l @date, format: :month_year
              = link_to ">", {calendar: @date.next_month}, class: "btn"
            
            = calendar @date do |date|
              = date.day
              - if @visite_grouped[date]
                %ul.unstyled
                  %li
                    = link_to giro_path(giorno: date) do
                      %span{ class: "badge #{date.future? ? 'badge-important' : 'badge-info'}" }
                        = @visite_grouped[date].size







