%p#notice= notice

%p
  %b Cliente:
  = @propa2014.cliente_id
%p
  %b Data visita:
  = @propa2014.data_visita
%p
  %b Data ritiro:
  = @propa2014.data_ritiro
%p
  %b Data interclasse:
  = @propa2014.data_interclasse
%p
  %b Data collegio:
  = @propa2014.data_collegio
%p
  %b Kit 123:
  = @propa2014.kit_123
%p
  %b Nr 123:
  = @propa2014.nr_123
%p
  %b Kit 45:
  = @propa2014.kit_45
%p
  %b Nr 45:
  = @propa2014.nr_45
%p
  %b Kit 123 ing:
  = @propa2014.kit_123_ing
%p
  %b Nr 45 ing:
  = @propa2014.nr_45_ing
%p
  %b Kit 123 rel:
  = @propa2014.kit_123_rel
%p
  %b Nr 123 rel:
  = @propa2014.nr_123_rel
%p
  %b Kit 45 rel:
  = @propa2014.kit_45_rel
%p
  %b Nr 45 rel:
  = @propa2014.nr_45_rel
%p
  %b Vac 1:
  = @propa2014.vac_1
%p
  %b Vac 2:
  = @propa2014.vac_2
%p
  %b Vac 3:
  = @propa2014.vac_3
%p
  %b Vac 4:
  = @propa2014.vac_4
%p
  %b Vac 5:
  = @propa2014.vac_5

= link_to 'Edit', edit_propa2014_path(@propa2014)
\|
= link_to 'Back', propa2014s_path
