.devise-form.well
  %h2 Modifica profilo
  
  %hr
  
  = simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: { method: :put, multipart: true, class: "form-horizontal"} ) do |f|
    = devise_error_messages!
    
    %fieldset
      = f.input :username
      = f.input :email
      = f.input :nome_completo

    %fieldset
      = f.input :indirizzo
      = f.input :cap
      = f.input :citta
      = f.input :provincia
      = f.input :telefono
    
    %fieldset
      = f.input :iban
      = f.input :codice_fiscale
      = f.input :partita_iva
    
    %fieldset
      = f.input :current_password, :hint => "inserisci la password se desideri salvare le modifiche", label: "Password"
      %hr
      = f.input :password, :hint => "lasciare in bianco se non si vuole modificare", label: "Nuova password"
      = f.input :password_confirmation, label: "Conferma password"
      
    .control-group
      %label
        = image_tag f.object.avatar, alt: f.object.username unless f.object.avatar.blank?
      .controls
        = f.file_field :avatar


    
    .control-group
      .controls
        = f.button :submit, "Salva modifiche"
    
  
  %hr
  
  %p
    Non sei felice? 
    = link_to "Elimina questo account", registration_path(resource_name), :confirm => "Sei sicuro?", :method => :delete
  

