= simple_form_for @libro, :html => { :multipart => true } do |f|
  
  = f.input :titolo, :input_html => { :class => 'span4' }
  
  = f.input :settore, collection:  ::Libro::SETTORI

  = f.input :cm,    :input_html => { :class => 'input-small' },  label: "Codice Giunti"
  = f.input :sigla, :input_html => { :class => 'input-small' }
  = f.input :ean
  


  = f.input :prezzo_copertina,   :input_html => { :class => 'input-mini' }
  = f.input :prezzo_consigliato, :input_html => { :class => 'input-mini' }
  = f.input :coefficente,        :input_html => { :class => 'input-mini' }
  
  - if @libro.image?
    .control-group
      %label.control-label Copertina
      .controls
        = image_tag(@libro.image_url)
        elimina copertina
        = f.check_box :remove_image 
  - else      
    .control-group
      = f.label :image
      .controls 
        = f.file_field :image
    .control-group
      = f.label :remote_image_url, label: "oppure inserisci URL"
      .controls
        = f.text_field :remote_image_url, :class => 'span4'
        = link_to "cerca", '#', class: "giunti-url"
        nel sito Giunti
        

    
    
  .control-group
    .controls
      = f.button :submit, :class => "btn-primary"
