.item[libro]
  
  .content    
    .actions
      %ul.nav-appunto
        %li.show
          %a{ title: 'mostra dettagli', href: "#"}
            Apri
    
    .chiudi{ style: "float: right;"}
      %a{ title: 'chiudi', href: "#"}
        Chiudi    
    = link_to image_tag(libro.image_url(:small_thumb)), libro
    = libro.titolo

    = libro.settore
    = libro.cm
    = libro.sigla
	  
    - unless libro.prezzo_copertina.nil?
      = pretty_prezzo libro.prezzo_copertina
	  
    - unless libro.prezzo_consigliato.nil?
      = pretty_prezzo libro.prezzo_consigliato

  .more
    
    / .dates
    /   %small
    /     %span= "##{appunto.id} - "
    /     %span creato il
    /     %span= l appunto.created_at, format: :only_date
    /     %span= "- modificato il"
    /     %span= l appunto.updated_at, format: :only_date

    /     - if appunto.fattura
    /       = '-'
    /       = link_to appunto.fattura do
    /         = "#{appunto.fattura.causale} #{appunto.fattura.numero}" 
    /         = l appunto.fattura.data, format: :only_date
        
    
    / - if appunto.has_righe?
    /   .table-righe-new
    /     = render appunto.righe
  
  %footer
    
    / - if appunto.has_righe?

    /   .copie
    /     %strong= appunto.totale_copie
    /     copie
    /   .importo-totale
    /     %strong= pretty_prezzo appunto.totale_importo
    /     importo


    / .footer-actions
      
    /   %ul.nav-actions
    /     - unless appunto.status == "completato"
    /       %li.baule-div
    /         = baule_tag appunto.cliente
    /     %li.print
    /       %a{ href: "/appunti/#{appunto.id}.pdf", title: 'stampa etichetta', target: "_blank" }
    /         %i.icon-tag
    /         Stampa
    /     %li.edit
    /       %a{ href: "/appunti/#{appunto.id}/edit", title: 'modifica appunto'}
    /         %i.icon-pencil
    /         Modifica

    /     %li.delete
    /       %a{ href: "/appunti/#{appunto.id}", title: 'elimina', "data-confirm" => "Sei sicuro?", "data-method" => "delete", "data-remote" => true}
    /         %i.icon-trash
    /         Elimina



