%dl.dl-horizontal

  %dt settore
  %dd= link_to libro.settore, libri_url(settore: libro.settore)
  
  - if libro.scolastico?
  
    %dt editore
    %dd= link_to libro.editore, libro.editore       
  
  - if libro.scolastico? || libro.fascicoli? || libro.concorrenza?
  
    %dt materia
    %dd= link_to libro.materia, libro.materia  
  
    %dt classe
    %dd= libro.classe
  
    - unless libro.seguito.nil?
  
      %dt seguito
      %dd= link_to libro.seguito, libro.seguito   
  
  %dt prezzo di copertina
  %dd= number_to_currency libro.prezzo_copertina
  
  - unless libro.concorrenza?
    %dt prezzo consigliato
    %dd= number_to_currency libro.prezzo_consigliato


.more

  %dl.dl-horizontal

    - unless libro.concorrenza?
      
      %dt sigla
      %dd= libro.sigla
      
      %dt cm      
      %dd= libro.cm

    %dt id
    %dd= libro.id

    %dt ean
    %dd= libro.ean
    
    %dt coefficente
    %dd= libro.coefficente