.item[libro]
  
  .content    
    .actions
      %ul.nav-appunto
        %li.show
          %a{ title: 'mostra dettagli', href: "#"}
            Apri
    
    .chiudi{ style: "float: right;"}
      %a{ title: 'chiudi', href: "#"}
        Chiudi    
    .stato
      = link_to image_tag(libro.image_url(:small_thumb)), libro
    
    %strong
      = link_to libro.titolo, libro
      - if libro.concorrenza?
        %small= libro.editore

  %dl.dl-horizontal

    %dt settore
    %dd= libro.settore
    - if libro.scolastico?
      %dt editore
      %dd= libro.editore       
    - if libro.scolastico? || libro.fascicoli? || libro.concorrenza?
      %dt materia
      %dd= libro.materia  
      %dt classe
      %dd= libro.classe
      - unless libro.seguito.nil?
        %dt seguito
        %dd= libro.seguito  
    %dt prezzo di copertina
    %dd= number_to_currency libro.prezzo_copertina
    %dt prezzo consigliato
    %dd= number_to_currency libro.prezzo_consigliato

  .more

    %dl.dl-horizontal
      %dt sigla
      %dd= libro.sigla
      %dt cm      
      %dd= libro.cm
      %dt ean
      %dd= libro.ean
      %dt coefficente
      %dd= libro.coefficente
  
  %footer
    
    .footer-actions
      
      %ul.nav-actions

        %li.edit
          = link_to edit_libro_path(libro), title: 'modifica libro' do
            %i.icon-pencil
            Modifica

        %li.delete
          = link_to libro, title: 'elimina libro', method: :delete, confirm: "Sei sicuro?", remote: true do
            %i.icon-trash
            Elimina



