.item[libro]
  
  .content    
    .actions
      %ul.nav-appunto
        %li.show
          %a{ title: 'mostra dettagli', href: "#"}
            Apri
    
    .chiudi{ style: "float: right;"}
      %a{ title: 'chiudi', href: "#"}
        Chiudi    

    .stato
      = link_to image_tag(libro.image_url(:small_thumb)), libro
    
    %strong
      = link_to libro.titolo, libro
      - if libro.concorrenza?
        %small= libro.editore

    = render 'libri/libro_details', libro: libro

  %footer
    
    .footer-actions
      
      %ul.nav-actions

        %li.edit
          = link_to edit_libro_path(libro), title: 'modifica libro' do
            %i.icon-pencil
            Modifica

        - if current_user.admin?
          %li.delete
            = link_to libro, title: 'elimina libro', method: :delete, confirm: "Sei sicuro?", remote: true do
              %i.icon-trash
              Elimina



