.item-small[riga]
  %span
    = link_to riga.documento do
      = l riga.data, format: :short
  |
  %span.cliente
    = link_to riga.cliente do
      = riga.cliente.titolo
  %span.pull-right= riga.quantita