- title "Libri"




#libri
  %table.table
    %thead
      %tr
        %th Id
        %th Titolo
        %th Settore
        %th cm
        %th Sigla
        %th Prezzo
        %th Consigliato
    %tbody
      - for libro in @libri do
        %tr
          %td= link_to libro.id, libro_path(libro)
          %td= on_the_spot_edit libro, :titolo
          %td= on_the_spot_edit libro, :settore, type: :select, data: ::Libro::SETTORI_OPT
          %td= on_the_spot_edit libro, :cm,      selected: true
          %td= on_the_spot_edit libro, :sigla,   selected: true
          %td
            .pull-right= on_the_spot_edit libro, :prezzo_copertina,   selected: true
          %td
            .pull-right= on_the_spot_edit libro, :prezzo_consigliato, selected: true



/ .row
/   .side-bar.span3
/     = render :partial => 'shared/episode_views'
/     / = render :partial => 'shared/search_options'
/     
/ 
/       
/   .span9
/     %header
/       %h1 Libri
/     - if params[:provincia].present? || params[:citta].present? || params[:search].present? || params[:status].present?
/       = render :partial => 'shared/filters'
/ 
/     #libri{ 'data-json-url' => "#{ libri_url( params.merge(:format => :json)) }" }
/     / - @appunti.each do |appunto|
/     /   = render "appunto", :mustache => appunto_for_mustache(appunto)


- @libro = Libro.new
.modal.fade
  = render "appunti/modal"


/ %script{ type: "text/html", id: "appunto_template" }
/   = render "appunto"
/ 
/ %script{ type: "text/html", id: "appunto_tmp_template" }
/   = render "appunto_tmp"