= new_button( new_libro_url )

- title @libro.titolo

= link_to "click me", "#", class: "click-me"
 
.content
  %section.well.show-page
    %article.row-fluid[@libro]
      .copertina.span2
        = image_tag @libro.image_url
      .content-inner.span5
        %h1
          = @libro.titolo
          %small= @libro.settore
        %dl.dl-horizontal
          %dt sigla
          %dd= @libro.sigla
          %dt cm      
          %dd= @libro.cm
          %dt ean
          %dd= @libro.ean

        .prezzo-copertina
          %strong= pretty_prezzo(@libro.prezzo_copertina) unless @libro.prezzo_copertina.nil? 
          COPERTINA
        .prezzo-consigiato
          %strong= pretty_prezzo(@libro.prezzo_consigliato) unless @libro.prezzo_consigliato.nil?
          CONSIGLIATO

    %footer.show-toolbar
      
      .btn-group.pull-left      
        = link_to Libro.previous(@libro, 'titolo').first, class: "btn" do
          %i.icon-caret-left
        = link_to Libro.next(@libro, 'titolo').first, class: "btn" do
          %i.icon-caret-right
      
      .pull-right
        = link_to @libro, method: 'delete', title: 'elimina', confirm: "Sei sicuro?", class: "btn btn-danger" do
          %i.icon-trash
          Elimina
        / = link_to libro_url(@libro, format: :pdf), class: "btn" do
        /   %i.icon-print
        /   Stampa
        = link_to edit_libro_url(@libro), class: "btn btn-primary" do
          %i.icon-pencil
          Modifica
      
  
  .row-fluid
    .span4.carichi
      .well
        %h2 
          Carichi
          .pull-right
            = @carichi.sum(&:quantita)
        %h3 
          copie acquistate
          .pull-right
            = @carichi.select {|r| r.fattura.condizioni_pagamento != "Contanti" }.sum(&:quantita)
        %ul.unstyled
          - for riga in @carichi.select {|r| r.fattura.condizioni_pagamento != "Contanti" } do
            = render "riga", riga: riga

        %h3 
          copie in deposito
          .pull-right
            = @carichi.select {|r| r.fattura.condizioni_pagamento == "Contanti" }.sum(&:quantita)
        %ul.unstyled
          - for riga in @carichi.select {|r| r.fattura.condizioni_pagamento == "Contanti" } do
            = render "riga", riga: riga



    .span4.scarichi
      .well
        %h2 Scarichi
        
        / - da_consegnare = @scarichi.select {|r| r.consegnato = true }
        %h3 
          copie da consegnare
          .pull-right
            = @scarichi.select {|r| r.appunto.stato.blank?   }.sum(&:quantita)
        %ul.unstyled
          - for riga in @scarichi.select {|r| r.appunto.stato.blank? } do
            = render "riga", riga: riga  
              
        %h3 
          copie consegnate
          .pull-right
            = @scarichi.select {|r| r.appunto.consegnato? }.sum(&:quantita)
        %ul.unstyled
          - for riga in @scarichi.select {|r| r.appunto.consegnato? } do
            = render "riga", riga: riga  
      
      
    .span4
      .well
        %h2 Si sboccia
      

          