= new_button( new_libro_url )

- title @libro.titolo

= link_to "click me", "#", class: "click-me"
 
.content
  %section.well.show-page
    %article.row-fluid[@libro]
      .copertina.span2
        = image_tag @libro.image_url
      .content-inner.span5
        %h1
          = @libro.titolo
          %small= @libro.settore
        %dl.dl-horizontal
          %dt sigla
          %dd= @libro.sigla
          %dt cm      
          %dd= @libro.cm
          %dt ean
          %dd= @libro.ean

        .prezzo-copertina
          %strong= pretty_prezzo(@libro.prezzo_copertina) unless @libro.prezzo_copertina.nil? 
          COPERTINA
        .prezzo-consigiato
          %strong= pretty_prezzo(@libro.prezzo_consigliato) unless @libro.prezzo_consigliato.nil?
          CONSIGLIATO

    %footer.show-toolbar
      
      .btn-group.pull-left      
        = link_to Libro.previous(@libro, 'titolo').first, class: "btn" do
          %i.icon-caret-left
        = link_to Libro.next(@libro, 'titolo').first, class: "btn" do
          %i.icon-caret-right
      
      .pull-right
        = link_to @libro, method: 'delete', title: 'elimina', confirm: "Sei sicuro?", class: "btn btn-danger" do
          %i.icon-trash
          Elimina
        / = link_to libro_url(@libro, format: :pdf), class: "btn" do
        /   %i.icon-print
        /   Stampa
        = link_to edit_libro_url(@libro), class: "btn btn-primary" do
          %i.icon-pencil
          Modifica
      
  
  .row-fluid
    .span4.carichi
      - @carichi.each do |anno, carichi|
        .well
          %h2 
            = anno
          %h2 
            Carichi
            .pull-right
              = carichi.sum(&:quantita)
          %h3 
            copie acquistate
            .pull-right
              = carichi.select {|r| r.fattura.condizioni_pagamento != "Contanti" }.sum(&:quantita)
          %ul.unstyled
            - for riga in carichi.select {|r| r.fattura.condizioni_pagamento != "Contanti" } do
              = render "riga", riga: riga

          %h3 
            copie in deposito
            .pull-right
              = carichi.select {|r| r.fattura.condizioni_pagamento == "Contanti" }.sum(&:quantita)
          %ul.unstyled
            - for riga in carichi.select {|r| r.fattura.condizioni_pagamento == "Contanti" } do
              = render "riga", riga: riga



    .span4.scarichi
      - @scarichi.each do |anno, scarichi|

        .module
          .header
            - if anno == Time.now.year
              = show_hide_tag
            - else
              = show_hide_tag "down"
            %h2 
              = anno
          
          .more
            .header
              = show_hide_tag
              %h3 
                Scarichi
                .pull-right
                  = scarichi.sum(&:quantita)
            .more{ class: "#{anno == Time.now.year ? '' : 'hidden'}" }
              
              - ["completato", "in_sospeso", "preparato", "da_fare"].each do |stato|
                - righe = scarichi.select {|r| r.appunto.try("#{stato}?") }
                - if righe.sum(&:quantita) > 0
                  .header
                    = show_hide_tag
                    %h4 
                      = stato
                      .pull-right
                        %small
                          = righe.sum(&:quantita)
                  %ul.unstyled.more
                    - for riga in righe do
                      = render "riga", riga: riga  

      
    .side-bar.span4
      
      - if @libro.scolastico?
        .module
          .header
            = show_hide_tag
            %h3= pluralize(@adozioni.size, "Adozione")
          .more
            - for stato, adoz in @adozioni.group_by {|a| a.stato } do
              .header
                = show_hide_tag
                %h3
                  = stato
                  %small= adoz.size
              .more
                - for cliente, a in adoz.group_by { |a| a.classe.cliente } do
                  .cliente.item
                    = link_to cliente.titolo, cliente
                    = a.first.classe.classe
                    = a.map {|a| a.classe.sezione}.join
      

          