= new_button( new_libro_url )

- title @libro.titolo

.content
  .row
    %section.span11.well
      %header
        / = render 'shared/title_bar', title: @cliente.to_s
      %article.libro
      
        .copertina{ style: "float: left;"}  
          / = image_tag copertina(@libro)
          = image_tag @libro.image_url
        
        %div{ style: "margin-left: 150px"}  
          %h1= @libro.titolo
          
          .badge.badge-info.pull-right 
            = pretty_prezzo @libro.prezzo_copertina 
          
          .badge.badge-info.pull-right  
            = pretty_prezzo @libro.prezzo_consigliato
          .clearfix


      %footer
        = link_to '< previous', Libro.previous(@libro, 'titolo').first, class: "btn"
        = link_to 'next >',     Libro.next(@libro, 'titolo').first, class: "btn"
        
        .pull-right
          = link_to @libro, method: 'delete', title: 'elimina', confirm: "Sei sicuro?", class: "btn btn-danger" do
            %i.icon-trash
            Elimina
          / = link_to libro_url(@libro, format: :pdf), class: "btn" do
          /   %i.icon-print
          /   Stampa
          = link_to edit_libro_url(@libro), class: "btn btn-primary" do
            %i.icon-pencil
            Modifica
  .row
    .span4.well
      %h1 Carichi
      %h2 In arrivo

    .span4.well
      %h1 Scarichi
      %h2 Da Consegnare
      %ul
        - for riga in @libro.righe.scarico.da_consegnare do
          %li[riga]
            = riga.quantita
            = riga.appunto.cliente.titolo
            = l riga.appunto.created_at, format: :only_date
              
      
      %h2 Consegnati
      
      
    .span3.well
      %h1 Si sboccia
      

          