= new_button( new_libro_url )

- title @libro.titolo
 
.content
  
  %section.well.show-page
    
    %article.row-fluid[@libro]
      .copertina.span2
        = image_tag @libro.image_url
      .content-inner.span7
        %h1
          = @libro.titolo
          - if @libro.concorrenza?
            %small= @libro.editore
          - else
            %small= @libro.settore

        = render 'libro_details', libro: @libro



    %footer.show-toolbar
      
      .btn-group.pull-left      
        = link_to Libro.previous(@libro, 'titolo').first, class: "btn" do
          %i.icon-caret-left
        = link_to Libro.next(@libro, 'titolo').first, class: "btn" do
          %i.icon-caret-right
      
      .pull-right

        - if current_user.admin?

          = link_to @libro, method: 'delete', title: 'elimina', confirm: "Sei sicuro?", class: "btn btn-danger" do
            %i.icon-trash
            Elimina

        = link_to edit_libro_url(@libro), class: "btn btn-primary" do
          %i.icon-pencil
          Modifica

  
  .row   
    = render 'carico_scarico'
      
    .side-bar.span4      
      - if @libro.scolastico?  || @libro.concorrenza?      
        = render "adozioni/adozioni_grouped", adozioni: @adozioni

      

          