= new_button( new_libro_url )

- title @libro.titolo

.content
  %section.well.show-page
    %header
      / = render 'shared/title_bar', title: @cliente.to_s
    %article.row-fluid[@libro]
      .copertina.span2
        / = image_tag copertina(@libro)
        = image_tag @libro.image_url
      
      .content-inner.span5
        %h1= @libro.titolo
        .settore
          = @libro.settore
        .abbr
          = @libro.sigla
        .cm
          = @libro.cm
        .ean
          = @libro.ean

        .prezzo-copertina
          %strong= pretty_prezzo @libro.prezzo_copertina 
          COPERTINA
        .prezzo-consigiato
          %strong= pretty_prezzo @libro.prezzo_consigliato
          CONSIGLIATO

    %footer.show-toolbar
      
      .btn-group.pull-left      
        = link_to Libro.previous(@libro, 'titolo').first, class: "btn" do
          %i.icon-caret-left
        = link_to Libro.next(@libro, 'titolo').first, class: "btn" do
          %i.icon-caret-right
      
      .pull-right
        = link_to @libro, method: 'delete', title: 'elimina', confirm: "Sei sicuro?", class: "btn btn-danger" do
          %i.icon-trash
          Elimina
        / = link_to libro_url(@libro, format: :pdf), class: "btn" do
        /   %i.icon-print
        /   Stampa
        = link_to edit_libro_url(@libro), class: "btn btn-primary" do
          %i.icon-pencil
          Modifica
      
  
  .row-fluid
    .span4.carichi
      .well
        %h2 Carichi
        %h3 In arrivo

    .span4.scarichi
      .well
        %h2 Scarichi
        
        
        - scarichi = current_user.righe.includes(:appunto => [:cliente]).di_questa_propaganda.scarico.where("righe.libro_id = ?", @libro.id).order("appunti.created_at")
        
        %h3 
          copie da consegnare
          .pull-right
            = scarichi.da_consegnare.sum(&:quantita)
        %ul
          - for riga in scarichi.da_consegnare do
            %li[riga]
              %span
                = link_to riga.appunto do
                  = l riga.appunto.created_at, format: :only_date
              |
              %span.cliente
                = link_to riga.appunto.cliente do
                  = riga.appunto.cliente.titolo
              %span.pull-right= riga.quantita
              
        %h3 
          copie consegnate
          .pull-right
            = scarichi.consegnata.sum(&:quantita)
        %ul
          - for riga in scarichi.consegnata do
            %li[riga]
              %span.quantita= riga.quantita
              %span.titolo= riga.appunto.cliente.titolo
              %span.pull-right= l riga.appunto.created_at, format: :only_date
      
      
    .span4
      .well
        %h2 Si sboccia
      

          