.cliente{ class: "#{dom_id(cliente)} #{stato}"}
  
  = baule_tag cliente
  = link_to cliente.titolo, cliente

  .pull-right
    - if a.uniq{|a| a.try(:libro).try(:titolo)}.size == 1
      %small
        = a.first.classe.classe
        = a.map{|a| a.classe.sezione}.sort{|a, b| a <=> b}.join
        = "-"
    
    = adozioni_dropdown stato, a, "#{a.size}/#{a.sum{|a| a.classe.nr_alunni}}"
