.adozione[adozione]
  .row
    .span2= adozione.try(:libro).try(:materia)
    .span3= link_to adozione.try(:libro), adozione.try(:libro)
    .span2= adozione.try(:libro).try(:editore)
    .span1
      = adozione.nr_copie
      = link_to adozione, method: :delete, remote: true, confirm: "Sei sicuro?", class: "close" do
        &times
