.adozioni-grouped
  
  .module
    - if @provincie

      .sort-box.clearfix
        %strong filtra scuole
        .btn-group.pull-right
          = link_to 'tutte', params.except(:provincia), class: "btn #{params[:provincia].present?  ? '' : 'btn-primary'}", remote: false
          - for provincia in @provincie
            = link_to provincia, params.merge(provincia: provincia), class: "btn #{params[:provincia] == provincia  ? 'btn-primary' : ''}", remote: false


  .module

    -  # occhio ai params[:] da adozioni controller

    .header
      = show_hide_tag
      %h3
        - if params[:materia] 
          = params[:materia]
          .pull-right
            %small= "#{pluralize adozioni.uniq {|a| a.classe.cliente.id }.size, "scuola"}"
            = adozioni.size
        
        - elsif params[:titolo] 
          = link_to params[:titolo], @libro
          .pull-right
            %small= "#{pluralize adozioni.uniq {|a| a.classe.cliente.id }.size, "scuola"}"
            = adozioni.size
        
        - else
          = pluralize(adozioni.size, "Adozione")
          .pull-right
            %small= "#{pluralize adozioni.select{|a| a.classe.cliente.id }.uniq.size, "scuola"}"
            - if @giro
              %small= "#{@giro.adozioni.size} nel baule"
          
    .more

      - for stato, adoz in adozioni.group_by {|a| a.stato } do
        - per_cliente = adoz.group_by { |a| a.classe.cliente }
        .module
          .header
            = show_hide_tag "down"
            %h3
              = stato
              %small= "#{pluralize per_cliente.keys.size, "scuola"}"
              .pull-right            
                = adozioni_dropdown stato, adoz, "#{adoz.size}/#{adoz.sum{|a| a.classe.nr_alunni}}"
                
          .more.hidden
            - for cliente, a in per_cliente do
              = render 'adozioni/adozione_cliente', cliente: cliente, a: a, stato: stato


            