- title "Classifica Adozioni"

.well
  
  %h2 Classifica Adozioni
  %hr

  = simple_form_for classifiche_adozioni_path, method: :put, html: { class: "form-horizontal" } do |f|
    
    %fieldset.row
 
      .span3

        %label raggruppa per...

        = select_tag 'row', options_for_select(["gruppo", "titolo", "editore", "scuola"], @new_params["row"]), include_blank: true

      .span3


        %label calcola...
        = select_tag 'value_name', options_for_select(["sezioni", "copie", "valore", "provvigioni"], @new_params["value_name"]), include_blank: true
      
      .span3
        %label &nbsp
        
        = f.button :submit, "Ricalcola", class: "btn-warning"


    %hr

    %fieldset.row

      .control-group.collection_checkbox
          
        - Materia.order(:ordine).all.group_by(&:gruppo).each do |gruppo, materie|

          .span2
            - for materia in materie
              %label.checkbox
                = check_box_tag "materia_ids[]", materia.id, @new_params["materia_ids"].include?( materia.id.to_s)
                = materia

  - total_sorted = @grid.row_totals.sort.reverse

  %table#classifica.table.table-condensed.table-striped
    %thead
      %tr
        %th
        - for column in @grid.columns do
          %th= column.header
          %th %
        %th totale
        %th %
        %th classifica

    %tbody
      - for row in @grid.rows do
        %tr
          %td= row.header

          - row.data.each_with_index do |data, index|
            
            %td= data.value.round(1) if data.try(:value)
            %td= (data.value / @grid.columns[index].total * 100).round(1) if data.try(:value)

          %td= row.total.round(1)
          %td= (row.total / @grid.grand_total * 100 ).round(1)
          %td= total_sorted.index(row.total) + 1


    %tfoot
      %tr
        %td= @grid.rows.size

        - for column in @grid.columns do
          %td= column.total.round(1)
          %td 100%

        %td= @grid.grand_total.round(1)
        %td 100%
        %td



  = content_tag :div, "", id: "adozioni_chart", data: {adozioni: current_user.adozioni.chart_data(@new_params), labels: @new_params["value_name"]}
