.row
  .well.span7
    %h2 Riepilogo Adozioni
    %br
    %table.table.adozioni-nel-baule
      %tr
        %th Materia
        %th 
          Titolo
          %span.pull-right.label.label-warning saggio
          %span.pull-right.label no saggio

        %th Sezioni
        %th
          %span.label no kit
        %th
          %span.label.label-success kit

      - for materia, adozioni in @adozioni_per_titolo.group_by { |a| a.libro.materia_id } do
        %tr
          %td
            = link_to materia, params.except(:titolo).merge(materia: materia)
          %td
            %table.table
              - for libro, adoz in adozioni.group_by(&:libro) do
                %tr
                  %td= link_to libro.titolo, params.except(:materia).merge(titolo: libro.titolo)
                  %td
                    .pull-right
                      %strong= adoz.size
                  %td
                    - no_saggio = adoz.select {|a| a.kit_1 != 'consegnato'}.size
                    - if no_saggio > 0
                      .pull-right
                        %span.label= no_saggio
                  %td
                    - saggio = adoz.select {|a| a.kit_1 == 'consegnato'}.size
                    - if saggio > 0
                      .pull-right
                        %span.label.label-warning=  saggio

          %td
            .pull-right
              %strong= adozioni.size
          %td
            .pull-right= adozioni.select {|a| a.kit_2 != 'consegnato'}.size
          %td
            .pull-right= adozioni.select {|a| a.kit_2 == 'consegnato'}.size

  .sidebar.span4

    .module
      .sort-box.clearfix
        %strong filtra scuole
        .btn-group.pull-right
          = link_to 'tutte', params.except(:provincia), class: "btn #{params[:provincia].present?  ? '' : 'btn-primary'}"
          - for provincia in @provincie
            = link_to provincia, params.merge(provincia: provincia), class: "btn #{params[:provincia] == provincia  ? 'btn-primary' : ''}"
 

    
    = render 'adozioni/adozioni_grouped', adozioni: @adozioni

                  
