.row

  .well.span7
    %h2 Riepilogo Adozioni
    %br
    %table.table.adozioni-nel-baule
      %tr
        %th Materia
        %th 
          Titolo
          %span.pull-right.label.label-warning saggio
          %span.pull-right.label no saggio

        %th Sezioni
        %th
          %span.label no kit
        %th
          %span.label.label-success kit

      - for materia, adozioni in @adozioni_per_titolo.group_by { |a| a.libro.materia_id } do
        %tr
          %td
            = link_to materia, params.except(:titolo).merge(materia: materia)
          %td
            %table.table
              - for libro, adoz in adozioni.group_by(&:libro) do
                %tr
                  %td= link_to libro.titolo, params.except(:materia).merge(titolo: libro.titolo)
                  %td
                    .pull-right
                      %strong= adoz.size
                  %td
                    - no_saggio = adoz.select {|a| a.kit_1 != 'consegnato'}.size
                    - if no_saggio > 0
                      .pull-right
                        %span.label= no_saggio
                  %td
                    - saggio = adoz.select {|a| a.kit_1 == 'consegnato'}.size
                    - if saggio > 0
                      .pull-right
                        %span.label.label-warning=  saggio

          %td
            .pull-right
              %strong= adozioni.size
          %td
            .pull-right= adozioni.select {|a| a.kit_2 != 'consegnato'}.size
          %td
            .pull-right= adozioni.select {|a| a.kit_2 == 'consegnato'}.size

  .sidebar.span4
    .module
      
      .header
        = show_hide_tag
        %h3
          - if params[:materia] 
            = params[:materia]
            .pull-right
              = @adozioni.size
          - elsif params[:titolo] 
            = link_to params[:titolo], @libro
            .pull-right
              = @adozioni.size
          - else
            = pluralize(@adozioni.size, "Adozione")
            .pull-right
              %small= "#{@giro.adozioni.size} nel baule"
      .more
        - for stato, adoz in @adozioni.group_by {|a| a.stato } do
          .header
            = show_hide_tag
            %h3
              = stato
              .pull-right
                %small= adoz.size
          .more
            - for cliente, a in adoz.group_by { |a| a.classe.cliente } do
              .cliente.item
                = baule_tag cliente
                = link_to cliente.titolo, cliente
                - if cliente.preparato?
                  = image_tag asset_path "task-preparato.png"
                .pull-right
                  - if params[:titolo]
                    %small
                      = a.first.classe.classe
                      = a.map {|a| a.classe.sezione}.join
                      = "-"

                  %small= a.size
                  
