- title "Adozioni per scuola"

.well
  

  / = @adozioni_decorator.aggregate_by_params(@new_params)


  %h2 Adozioni per scuola
  %hr

  = simple_form_for scuole_adozioni_path, method: :put, html: { class: "form-horizontal" } do |f|
    
    %fieldset.row
 
      .span3

        %label filta province...

        - for province in ["RA", "RE"]
          %label.checkbox
            = check_box_tag "province[]", province, @new_params["province"].try(:include?, province)
            = province

      .span3


        %label filtra direzioni...
        = select_tag 'value_name', options_for_select(["sezioni", "copie", "valore", "provvigioni"], @new_params["value_name"])

      .span3


        %label altri...
        = select_tag 'column', options_for_select(["provincia", "materia", "titolo"], @new_params[:column])
      
      .span2
        %label &nbsp
        
        = f.button :submit, "Filtra", class: "btn-warning"


    %hr

    %fieldset.row

      .control-group.collection_checkbox
          
        - Materia.order(:ordine).all.group_by(&:gruppo).each do |gruppo, materie|

          .span2
            - for materia in materie
              %label.checkbox
                = check_box_tag "materia_ids[]", materia.id, @new_params["materia_ids"].include?( materia.id.to_s)
                = materia

  - total_sorted = @grid.row_totals.sort.reverse

  %table#classifica.table.table-condensed.table-striped
    %thead
      %tr
        %th
        - for column in @grid.columns do
          %th= column.header
          %th %
        %th totale
        %th %
        %th classifica

    %tbody
      - for row in @grid.rows do
        %tr
          %td= row.header

          - row.data.each_with_index do |data, index|
            
            %td= data.value.round(1) if data.try(:value)
            %td= (data.value / @grid.columns[index].total * 100).round(1) if data.try(:value)

          %td= row.total.round(1)
          %td= (row.total / @grid.grand_total * 100 ).round(1)
          %td= total_sorted.index(row.total) + 1


    %tfoot
      %tr
        %td= @grid.rows.size

        - for column in @grid.columns do
          %td= column.total.round(1)
          %td 100%

        %td= @grid.grand_total.round(1)
        %td 100%
        %td



  = content_tag :div, "", id: "adozioni_chart", data: {adozioni: @adozioni_presenter.chart_data, labels: @new_params["value_name"]}
