- grouped = grouped ||= ""
- righe   = righe   ||= appunto.cached_righe

- cache [current_user.id, appunto, appunto.cliente, grouped] do

  - if !(appunto.stato == "X") && (appunto.cliente.nel_baule?)
    - favorited = "favorited"
  - else
    -favorited = ''
  
  .item[appunto]{ class: "#{appunto.status} #{grouped} #{favorited}" }
    
    .content
      
      .dogear

      %small.time
        %time.timeago{ datetime: "#{appunto.updated_at || appunto.created_at}" }
      
      .actions
        %a.apri{ title: 'mostra dettagli', href: "#"}
          Apri  
        %a.chiudi{ title: 'chiudi', href: "#"}
          Chiudi
      
      .stato.dropdown
        %a{ class: "dropdown-toggle #{appunto.status}", "data-toggle" => "dropdown" }
          .icon-status{ class: "#{appunto.status}" }

        - if !appunto.has_righe? || appunto.da_fatturare?
        
          %ul.dropdown-menu
            %li
              %a.change-status{ href: "#", "data-status" => "",  "data-id" => "#{appunto.id}"} da fare
            %li
              %a.change-status{ href: "#", "data-status" => "S",  "data-id" => "#{appunto.id}"} preparato
            %li
              %a.change-status{ href: "#", "data-status" => "P", "data-id" => "#{appunto.id}"} in sospeso
            %li
              %a.change-status{ href: "#", "data-status" => "X", "data-id" => "#{appunto.id}"} completato

      
      
      - if grouped == ""
        
        = link_to appunto.cliente do
          %strong.full_name= appunto.cliente.titolo       
        %small.destinatario= "@#{appunto.destinatario}" if appunto.destinatario?
      
      - else
        -  if appunto.destinatario?
          %strong= "@#{appunto.destinatario}"
        - else
          %strong.full_name &nbsp 

      %p
        = appunto.note
      
      - unless appunto.cached_tag_list.empty?
        - for tag in appunto.cached_tag_list do
          .pull-left.tag-remove.label.label-warning{ style: "margin: 0 3px 3px 0"}
            
            %span.pull-left= tag
            / = link_to tag, tag_path(tag: tag), class: "pull-left"
            = form_for appunto, remote: true, html: {style: "display:inline; margin: 0 0 0 12px", class: "close"} do |f|
              = hidden_field_tag "appunto[cached_tag_list]", (appunto.cached_tag_list - [tag]).join(', ')
              = f.button "x"
        .clearfix

      = render "appunti/recapiti", appunto: appunto
      
      - if appunto.completato? && appunto.has_righe? && appunto.da_fatturare?
        %p
          da registrare

      - if appunto.has_righe?

        .copie
          %strong.pull-right= appunto.totale_copie
          %span.pull-right copie
        .importo-totale
          %strong.pull-right= pretty_prezzo appunto.totale_importo
          %span.pull-right importo


    .more
            
      - if appunto.has_righe?

        = render 'righe/nested_righe', righe: righe, group: :state

    
    %footer




      .footer-actions
        
        %ul.nav-actions
          

          %li= baule_tag appunto.cliente
              
          %li   
            %small.label.label-info= formatta_data appunto.updated_at.to_date
          %li  
            %small.label.label-success= formatta_data appunto.created_at.to_date

          %li.print
            %a{ href: "/appunti/#{appunto.id}.pdf", title: 'stampa etichetta', target: "_blank" }
              %i.icon-tag
              Stampa

          - unless appunto.fatturato?
            
            %li.edit
              %a{ href: "/appunti/#{appunto.id}/edit", title: 'modifica appunto'}
                %i.icon-pencil
                Modifica

            %li.delete
              %a{ href: "/appunti/#{appunto.id}", title: 'elimina', "data-confirm" => "Sei sicuro?", "data-method" => "delete", "data-remote" => true}
                %i.icon-trash
                Elimina


