- if !(appunto.stato == "completato") && !(appunto.nel_baule == false )
  - favorited = "favorited"
- else
  -favorited = ''

- grouped = grouped ||= ""

%div[appunto]{ class: "#{appunto.status} #{grouped} #{favorited}" }
  .content
    .dogear
    %small.time
      %time.timeago{ datetime: "#{appunto.updated_at || appunto.created_at}" }
    
    .actions
      %ul.nav-appunto
        %li.show
          %a{ title: 'mostra dettagli'}
            Apri
    .chiudi{ style: "float: right;"}
      %a
        Chiudi

    .stato.dropdown
      %a{ class: "dropdown-toggle #{appunto.status}", "data-toggle" => "dropdown" }
        .icon-status{ class: "#{appunto.status}" }
      %ul.dropdown-menu
        %li
          %a.change-status{ "data-status" => "",  "data-id" => "#{appunto.id}"} da fare
        %li
          %a.change-status{ "data-status" => "S",  "data-id" => "#{appunto.id}"} preparato
        %li
          %a.change-status{ "data-status" => "P", "data-id" => "#{appunto.id}"} in sospeso
        %li
          %a.change-status{ "data-status" => "X", "data-id" => "#{appunto.id}"} completato
    
    
    - if grouped == ""
      = link_to appunto.cliente do
        %strong.full_name= appunto.cliente.titolo 
      %small.destinatario= "@#{appunto.destinatario}" if appunto.destinatario?
    - else
      -  if appunto.destinatario?
        %strong= "@#{appunto.destinatario}"
      - else
        %strong.full_name &nbsp 

    %p
      = appunto.note
    
    - unless appunto.tag_list.empty?
      %p
        - for tag in appunto.tag_list do
          .pull-left.tag-remove.label.label-warning{ style: "margin: 0 3px 3px 0"}
            
            %span.pull-left= tag
            / = link_to tag, tag_path(tag: tag), class: "pull-left"
            = form_for appunto, remote: true, html: {style: "display:inline; margin: 0 0 0 12px", class: "close"} do |f|
              = hidden_field_tag "appunto[tag_list]", (appunto.tag_list - [tag]).join(', ')
              = f.button "x"
      
    = render "appunti/recapiti", appunto: appunto
    
    - if appunto.has_righe? && appunto.da_fatturare?
      %p
        DA FATTURARE
    

  .clearfix      
  .more
    .dates
      %small
        %span= "##{appunto.id} - "
        %span creato il
        %span= l appunto.created_at, format: :only_date
        %span= "- modificato il"
        %span= l appunto.updated_at, format: :only_date
        
    .table-righe-new
      - if appunto.has_righe?
        = render appunto.righe

  %footer
    - if appunto.has_righe?
      .totali-new.pull-right
        %span.totale-copie= "#{appunto.totale_copie} copie"
        = "-"
        %span.totale-importo= number_to_currency appunto.totale_importo
    - else
      &nbsp  

    .footer-actions
      %ul.nav-actions
        %li.delete
          %a{ href: "/appunti/#{appunto.id}", title: 'elimina', "data-confirm" => "Sei sicuro?", "data-method" => "delete", "data-remote" => true}
            %i.icon-trash
            Elimina
        %li.print
          %a{ href: "/appunti/#{appunto.id}.pdf", title: 'stampa etichetta', target: "_blank" }
            %i.icon-tag
            Stampa
        %li.edit
          %a{ href: "/appunti/#{appunto.id}/edit", title: 'modifica appunto'}
            %i.icon-pencil
            Modifica
        - unless appunto.status == "completato"
          %li.baule-div
            = baule_tag appunto.cliente
          
          / %li.baule
          /   - unless appunto.nel_baule == false
          /     %a{ href: "/visite/#{appunto.nel_baule}", "data-method" => 'delete', "data-remote" => true, title: "Scarica il baule."}
          /       %i.icon-shopping-cart
          /       Scarica baule
          /   - else
          /     %form{ action: '/visite', method: 'post', 'data-remote' => true }
          /       %input{ name: 'visita[cliente_id]', type: 'hidden', value: "#{appunto.cliente_id}"}
          /       %input{ name: 'visita[baule]',      type: 'hidden', value: 't' }
          /       %button{ title: 'metti nel baule!'}
          /         %i.icon-shopping-cart
          /         Nel baule

    .clearfix