- if !(appunto.stato == "completato") && !(appunto.nel_baule == false )
  - favorited = "favorited"
- else
  -favorited = ''

%div[appunto]{ class: "#{stato_to_s(appunto)} #{favorited}" }
  .content
    .dogear
    %small.time
      %time.timeago{ datetime: "#{appunto.updated_at || appunto.created_at}" }
    
    .actions
      %ul.nav-appunto
        %li.show
          %a{ title: 'mostra dettagli'}
            Apri
    .chiudi{ style: "float: right;"}
      %a
        Chiudi

    .stato.dropdown
      %a{ class: "dropdown-toggle #{stato_to_s(appunto)}", "data-toggle" => "dropdown" }
        .icon-status{ class: "#{stato_to_s(appunto)}" }
      %ul.dropdown-menu
        %li
          %a.change-status{ "data-status" => "",  "data-id" => "#{appunto.id}"} da fare                      
        %li
          %a.change-status{ "data-status" => "P", "data-id" => "#{appunto.id}"} in sospeso
        %li
          %a.change-status{ "data-status" => "X", "data-id" => "#{appunto.id}"} completato

    - if appunto.destinatario?
      %span.destinatario
        = "@#{appunto.destinatario}"

    %p
      = appunto.note

    %p
      - unless appunto.telefono.blank?
        %a.btn{ href: "tel:#{appunto.telefono}" }
          %i.icon-phone
          = appunto.telefono
        %br

      - unless appunto.email.blank?
        %a.btn{ href: "tel:#{appunto.email}" }
          %i.icon-envelope
          = appunto.email
        %br
    
    - if appunto.da_fatturare?
      %p
        DA FATTURARE
    

  .clearfix      
  .more

    %div{ style: "color: gray;"}
      %small
        %span creato il
        %span= l appunto.created_at, format: :only_date
        %span= "- modificato il"
        %span= l appunto.updated_at, format: :only_date
        
    .table-righe-new
      - if appunto.has_righe?
        - for riga in appunto.righe do
          = render riga

  %footer
    - if appunto.has_righe?
      .totali-new.pull-right
        %span.totale-copie= "#{appunto.totale_copie} copie"
        = "-"
        %span.totale-importo= number_to_currency appunto.totale_importo
    - else
      &nbsp  

    .footer-actions
      %ul.nav-actions
        %li.delete
          %a{ href: "/appunti/#{appunto.id}", title: 'elimina', "data-confirm" => "Sei sicuro?", "data-method" => "delete", "data-remote" => true}
            %i.icon-trash
            Elimina
        %li.print
          %a{ href: "/appunti/#{appunto.id}.pdf", title: 'stampa etichetta', target: "_blank" }
            %i.icon-tag
            Stampa
        %li.edit
          %a{ href: "/appunti/#{appunto.id}/edit", title: 'modifica appunto'}
            %i.icon-pencil
            Modifica
        - unless appunto.stato == "completato"
          %li.baule
            - unless appunto.nel_baule == false
              %a{ href: "/visite/#{appunto.nel_baule}", "data-method" => 'delete', "data-remote" => true, title: "Scarica il baule."}
                %i.icon-shopping-cart
                Scarica baule
            - else
              %form{ action: '/visite', method: 'post', 'data-remote' => true }
                %input{ name: 'visita[cliente_id]', type: 'hidden', value: "#{appunto.cliente_id}"}
                %input{ name: 'visita[baule]',      type: 'hidden', value: 't' }
                %button{ title: 'metti nel baule!'}
                  %i.icon-shopping-cart
                  Nel baule

    .clearfix