/ encoding: utf-8

- if !(appunto.stato == "completato") && !(appunto.nel_baule == false )
  - favorited = "favorited"
- else
  -favorited = ''

%div[appunto]{ class: "#{stato_to_s(appunto)} #{favorited}" }
  .content
    .dogear
    %small.time
      %time.timeago{ datetime: "#{appunto.updated_at || appunto.created_at}" }
    
    .actions
      %ul.nav-appunto
        %li.print
          %a{ href: "/appunti/#{appunto.id}.pdf", title: 'stampa etichetta', target: "_blank" }
            %i.icon-tag
            Stampa
        %li.edit
          %a{ href: "/appunti/#{appunto.id}/edit", title: 'modifica appunto'}
            %i.icon-pencil
            Modifica
        
        - if !(appunto.stato == "completato")
          %li.baule
            - unless appunto.nel_baule == false
              %a{ href: "/visite/#{appunto.nel_baule}", "data-method" => 'delete', "data-remote" => true, title: "Scarica il baule."}
                %i.icon-road
                Scarica baule
            - else
              %form{ action: '/visite', method: 'post', 'data-remote' => true }
                %input{ name: 'visita[cliente_id]', type: 'hidden', value: "#{appunto.cliente_id}"}
                %input{ name: 'visita[baule]',      type: 'hidden', value: 't' }
                %button{ title: 'metti nel baule!'}
                  %i.icon-road
                  Nel baule
        %li
          = " | "
        %li.show
          %a{ title: 'mostra dettagli'}
            Apri
    .chiudi{ style: "float: right;"}
      %a
        Chiudi
          
    
    .stato.dropdown
      %a{ class: "dropdown-toggle #{stato_to_s(appunto)}", "data-toggle" => "dropdown" }
        .icon-status{ class: "#{stato_to_s(appunto)}" }
      %ul.dropdown-menu
        %li
          %a.change-status{ "data-status" => "",  "data-id" => "#{appunto.id}"} da fare                      
        %li
          %a.change-status{ "data-status" => "P", "data-id" => "#{appunto.id}"} in sospeso
        %li
          %a.change-status{ "data-status" => "X", "data-id" => "#{appunto.id}"} completato
    
    
    / %a{ href: "/clienti/#{appunto.cliente_id}" }
    /   %strong.full_name
    /     = appunto.cliente_nome
    
    - if appunto.destinatario?
      %span.destinatario
        = "@#{appunto.destinatario}"
    
    %p
      = appunto.note
    
    - unless appunto.totale_importo.zero?
      .badge.badge-warning.importo{ "data-value" => "#{appunto.totale_importo}" }
        =  pretty_prezzo appunto.totale_importo 
    .clearfix
      
    .more
      - if appunto.has_righe?
        .table-righe
          %table.righe.table.table-striped.table-condensed
            - for r in appunto.righe
              %tr.riga
                %td= r.titolo
                %td.quantita
                  %strong
                    = r.quantita
                %td x
                - unless r.prezzo_unitario.zero?
                  %td
                    =  pretty_prezzo r.prezzo_unitario
                - else
                  %td.gratis 
                    %span.badge.badge-info gratis
                %td
                %td.sconto
                  = "- #{r.sconto}%" unless r.sconto.zero?
              
                %td =
                %td
                - unless r.importo.zero?
                  %td
                    = pretty_prezzo r.importo
                - else
                  %td.gratis
                    %span.badge.badge-info gratis
  
            - if appunto.righe.length > 1
              %tr.riga
                %td
                %td.quantita
                  %span.badge.badge-error= appunto.totale_copie
                %td
                %td
                %td
                %td
                %td
                %td
                %td
                  .badge.badge-info
                    =  pretty_prezzo appunto.totale_importo
                
                
      / %div{ style: "color: gray;"}
      /   - c = new Date(created_at)
      /   - u = new Date(@updated_at)
      /   %small
      /     %span creato il
      /     %span= "#{c.getDate()}-#{c.getMonth()+1}-#{c.getFullYear()}"
      /     %span - modificato il 
      /     %span= "#{u.getDate()}-#{u.getMonth()+1}-#{u.getFullYear()}"
    
      .more-actions
        %ul.nav-appunto
          %li.delete
            %a{ href: "/appunti/#{appunto.id}", title: 'elimina', "data-confirm" => "Sei sicuro?", "data-method" => "delete", "data-remote" => true}
              %i.icon-trash
              Elimina
          %li.print
            %a{ href: "/appunti/#{appunto.id}.pdf", title: 'stampa etichetta', target: "_blank" }
              %i.icon-tag
              Stampa
          %li.edit
            %a{ href: "/appunti/#{appunto.id}/edit", title: 'modifica appunto'}
              %i.icon-pencil
              Modifica
          - if appunto.has_righe?    
            %li.fattura
              %a{ href: "/fatture/new?appunto=#{appunto.id}", title: 'fattura appunto'}
                %i.icon-pencil
                Fattura
          - unless appunto.stato == "completato"
            %li.baule
              - unless appunto.nel_baule == false
                %a{ href: "/visite/#{appunto.nel_baule}", "data-method" => 'delete', "data-remote" => true, title: "Scarica il baule."}
                  %i.icon-shopping-cart
                  Scarica baule
              - else
                %form{ action: '/visite', method: 'post', 'data-remote' => true }
                  %input{ name: 'visita[cliente_id]', type: 'hidden', value: "#{appunto.cliente_id}"}
                  %input{ name: 'visita[baule]',      type: 'hidden', value: 't' }
                  %button{ title: 'metti nel baule!'}
                    %i.icon-shopping-cart
                    Nel baule
    