.appunti-side.span3
  .module
    %ul.stats
      %li.tutti
        = link_to params.except(:status), remote: true do
          %strong= @tutti
          appunti
      %li.da-fare
        = link_to params.merge(status: "da_fare"), remote: true do
          %strong= @da_fare
          da fare
      %li.in-sospeso
        = link_to params.merge(status: "in_sospeso"), remote: true do
          %strong= @in_sospeso
          in sospeso

  = render 'shared/search_provincia'
  = render "shared/search_comune"