<div data-role="content">
  <%= form_for(@appunto) do |f| %>
    <% if @appunto.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@appunto.errors.count, "error") %> prohibited this note from being saved:</h2>
        <ul>
        <% @appunto.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div data-role="fieldcontain">
      <%= f.label :cliente_id, "Cliente" %>
      <%= f.select :cliente_id, current_user.clienti.order(:titolo).collect {|s| [ s.titolo, s.id ] }, {:include_blank => true}  %>
      <%= f.label :destinatario %>
      <%= f.text_field :destinatario %>
    </div>
    <div data-role="fieldcontain">
      <%= f.label :note %>
      <%= f.text_area :note %>
    </div>
    <div data-role="fieldcontain">
      <%= f.label :telefono %>
      <%= f.phone_field :telefono %>
      <%= f.label :email %>
      <%= f.email_field :email %>
    </div> 
    <div data-role="fieldcontain">
      <%= f.submit %>
    </div>
  <% end %>
</div>