= simple_nested_form_for @appunto do |f|
  
  = f.error_notification

  = f.input :cliente_id, :collection => current_user.clienti.order(:titolo), :label_method => :titolo, :value_method => :id, :input_html => { :class => 'chzn-select', "data-placeholder" => "Seleziona il cliente..." }

  %hr

  = f.input :destinatario
  = f.input :note, :input_html => { rows: 5 }
  = f.input :telefono
  = f.input :email
  
  = f.error :base

  .control-group
    .controls
      %button{:class => "btn btn-primary", :type => "submit", id: "new_appunto_submit"} Salva
