= simple_nested_form_for @appunto do |f|
  

  = f.error_notification

  %ul.nav.nav-tabs.tab
    %li
      %a{ href: "#info",      "data-toggle" => "tab"} Appunto...
    %li
      %a{ href: "#dettaglio", "data-toggle" => "tab"} Inserisci dettaglio...
    %li
      %a{ href: "#completa",  "data-toggle" => "tab"} Completa ordine...

  
  = f.input :cliente_id, :collection => current_user.clienti.order(:titolo), :label_method => :titolo, :value_method => :id, :input_html => { :class => 'chzn-select', "data-placeholder" => "Seleziona il cliente..." }
    
  %hr

  .tab-content

    #info.tab-pane.fade.active.in
      = f.input :destinatario
      = f.input :note, :input_html => { rows: 5 }
      = f.input :telefono
      = f.input :email

    #dettaglio.tab-pane.fade
      
      .control-group
        %label.control-label Condizioni di pagamento:
        .controls
          %label.radio
            = radio_button_tag 'prezzo', 'consigliato', true
            prezzo consigliato
          %label.radio.form-inline
            = radio_button_tag 'prezzo', 'con_sconto', false
            sconto
            = select_tag 'prezzo', options_for_select([0, 10, 15, 18, 20, 25, 30, 35, 43]), class: 'input-small'
      
      .control-group
        = render 'righe/form'
        
        #righe
          - if f.object.righe.empty?
            .empty
              Nessuna riga in questo ordine...
          - else
            = f.fields_for :righe do |riga|
              = div_for riga.object, class: 'form-inline' do
                = riga.hidden_field :id
                = riga.hidden_field :libro_id
                .titolo= riga.object.libro.titolo
                .pull-right
                  = riga.text_field :quantita, class: 'input-mini riga_quantita'
                  = riga.text_field :prezzo,   class: 'input-mini riga_prezzo'
                  = riga.text_field :sconto,   class: 'input-mini riga_sconto'
                  / = riga.link_to_remove raw("<i class='icon-minus'></i>"), class: "btn btn-danger btn-mini"
        
        
    #completa.tab-pane.fade
      = f.input :stato

  = f.error :base

  .control-group
    .controls
      %button{:class => "btn btn-primary", :type => "submit", id: "new_appunto_submit"} Salva
  
