- if session[:return_to]
  .pull-right
    = link_to "Indietro", session[:return_to], class: "btn"


= simple_nested_form_for @appunto, html: { class: "form-horizontal"} do |f|
  
  = f.error_notification
  = f.input :cliente_id, :collection => current_user.clienti.not_deleted.order(:titolo), :label_method => :titolo, :value_method => :id, :input_html => { :class => 'chzn-select', "data-placeholder" => "Seleziona il cliente..." }

  %ul.nav.nav-tabs.tab
    %li.active
      %a{ href: "#info",           "data-toggle" => "tab"} Appunto
    %li
      %a{ href: "#dettaglio",      "data-toggle" => "tab"} Dettaglio righe
    %li
      %a{ href: "#parascolastico", "data-toggle" => "tab"} Parascolastico  
    / %li
    /   %a{ href: "#vacanze",        "data-toggle" => "tab"} Vacanze  
    %li
      %a{ href: "#scolastico",     "data-toggle" => "tab"} Scolastico  
    / %li
    /   %a{ href: "#varia",          "data-toggle" => "tab"} Varia  
    / %li
    /   %a{ href: "#adozionale",     "data-toggle" => "tab"} Adozionale  
    / %li
    /   %a{ href: "#guide",          "data-toggle" => "tab"} Guide  

  .tab-content

    #info.tab-pane.fade.active.in
      

      - if @appunto.cliente
        = f.input :destinatario, collection: @appunto.cliente.destinatari, label_method: :dest, value_method: :destinatario, input_html: { class: 'chzn-select', "data-placeholder" => "Seleziona il destinatario..." }
      - else
        = f.input :destinatario
      

      = f.input :note, :input_html => { rows: 5 }
      = f.input :telefono
      = f.input :email
      = f.input :data_visita_text
      = f.input :scopo_visita_text

      %hr
      = f.input :stato,    collection: [["da fare", ""], ["preparato", "S"], ["in sospeso", "P"], ["completo", "X"] ], as: :radio_buttons
      = f.input :tag_list, inline_label: 'Tag (separati da virgola)'
 
      - if @appunto.nota.present?
        .control-group
          %label.control-label Nota
          .controls
            = image_tag(@appunto.nota_url)
            %br
            elimina nota
            = f.check_box :remove_nota 
      - else      
        .control-group
          = f.label :nota
          .controls 
            = f.file_field :nota, title: "Cerca immagine", accept: "image/png, image/jpg, image/jpeg, image/gif"

    #dettaglio.tab-pane.fade     
      .control-group
        = render 'righe/select_prezzo'
      
      .control-group
        = render 'righe/form_create', model: 'appunto'        
        #righe
          - if f.object.righe.empty?
            .empty
              Nessuna riga in questo appunto...
          - else
            = f.simple_fields_for :righe do |riga|
              = render 'righe/form', riga: riga, remove: true

    #parascolastico.tab-pane.fade
      .control-group
        - @appunto.create_righe Libro.parascolastico
        = render partial: 'libri_riga_form', locals: { f: f, settore: "Parascolastico" }

    / #varia.tab-pane.fade
    /   .control-group
    /     - @appunto.create_righe Libro.varia
    /     = render partial: 'libri_riga_form', locals: { f: f, settore: "Varia" }

    / #vacanze.tab-pane.fade
    /   .control-group
    /     - @appunto.create_righe Libro.vacanze
    /     = render partial: 'libri_riga_form', locals: { f: f, settore: "Vacanze" }
    
    #scolastico.tab-pane.fade
      .control-group
        - @appunto.create_righe Libro.scolastico
        = render partial: 'libri_riga_form', locals: { f: f, settore: "Scolastico" }

    / #adozionale.tab-pane.fade
    /   .control-group
    /     - @appunto.create_righe Libro.adozionale
    /     = render partial: 'libri_riga_form', locals: { f: f, settore: "Adozionale" }

        
    / #guide.tab-pane.fade
    /   .control-group
    /     - @appunto.create_righe Libro.guide
    /     = render partial: 'libri_riga_form', locals: { f: f, settore: "Guide" }


      
  = f.error :base

  / .control-group
  /   .controls
  .form-actions
    %button{:class => "btn btn-primary", :type => "submit", id: "new_appunto_submit"} Salva
    = link_to "Annulla", :back, class: "btn btn-danger"
  
