/ # spostato dal controller attenzione remote: true per filter_tag se non non funziona

- @wunder = Wunderground.new location

#forecast
  - unless @wunder.non_trovato?
    %h3
      = @wunder.conditions.display_location['full']
    %ul
      - (0..3).each do |d|
        %li
          = image_tag ( @wunder.try("day_#{d}_morning").try(:icon_url) )
          %strong= l (Time.zone.now + d.days).to_date, format: :day_of_month
          %br
          = @wunder.try("day_#{d}_morning").try(:fcttext_metric)
  - else
    %strong= @wunder.conditions.display_location