.appunto-item[appunto]
  = link_to appunto, class: "item-link" do
    = "Nr.#{appunto.id} del #{l appunto.created_at, format: :only_date}"
  
  .destinatario= appunto.destinatario
  - if appunto.stato == "X"
    .pagato
      %small= "pagato il #{l appunto.updated_at, format: :only_date}"
  .totali
    = appunto.totale_copie
    = number_to_currency appunto.totale_importo