.appunto-item[appunto]
  = check_box_tag "appunto_ids[]", appunto.id, true, {:class => 'cb-appunto-item'}
  
  = link_to appunto do
    = "  ##{appunto.id} del #{l appunto.created_at, format: :only_date} - #{appunto.status}"

  .totali.pull-right

    %span.copie= appunto.totale_copie

    %span.importo= number_to_currency appunto.totale_importo



