#righe
  = f.simple_fields_for :righe do |riga|
    - if riga.object.new_record? && riga.object.libro.settore == settore && riga.object.quantita.nil?
      = div_for riga.object, class: 'form-inline' do
        = riga.hidden_field :id
        = riga.hidden_field :libro_id
        .titolo= riga.object.libro.titolo
        .pull-right
          = riga.number_field :quantita, class: 'input-mini riga_quantita'
          = riga.number_field :prezzo,   class: 'input-mini riga_prezzo', data: {copertina: riga.object.libro.prezzo_copertina.to_f, consigliato: riga.object.libro.prezzo_consigliato.to_f }
          = riga.number_field :sconto,   class: 'input-mini riga_sconto'
    - else
      .hidden
