= new_button( new_appunto_url )
  
- title "Appunti"

.row
  = render :partial => 'appunti_side'
  
  .content-main.span6
    %header.content-header
      .header-inner
        %h2 Appunti
    
    = render :partial => 'shared/filters'

    #appunti
      = render @appunti

    .stream-loader
      = paginate @appunti

  .side-right.span3
    .module.white
      
      #tag_cloud
        - tag_cloud current_user.appunti.tag_counts, %w[s m l] do |tag, css_class|
          = link_to tag.name, tag_path(tag.name), class: css_class, remote: true

