- title "Appunti"


.row
  .side-bar.span3
    = render :partial => 'shared/episode_views'
    = render :partial => 'shared/search_options'
  
  
  .content-main.span6
    %header.content-header
      .header-inner
        %h2 Appunti
    
    - if params[:provincia].present? || params[:citta].present? || params[:search].present? || params[:status].present?
      = render :partial => 'shared/filters'

    #appunti{ 'data-json-url' => "#{ appunti_url( params.merge(:format => :json)) }" }
    / - @appunti.each do |appunto|
    /   = render "appunto", :mustache => appunto_for_mustache(appunto)

- @appunto = Appunto.new
= render "modal"



%script{ type: "text/html", id: "appunto_template" }
  = render "appunto"


