<div data-role="header" >
  <h1>Appunti</h1>
  <%= link_to 'Nuovo', new_appunto_path, class: "ui-btn-right" %>
</div>
<div data-role="content">
  <ul data-role="listview">
  <% @appunti.each do |appunto| %>
    <li>
    <%= link_to appunto do %>
      <h2><%= appunto.cliente_nome %></h2>
      <%= appunto.destinatario %>
      <%= truncate(appunto.note, :length => 25) %>
    <% end %>
    </li>
  <% end %>
  </ul>
</div>
<div data-role="footer" data-position="fixed" data-id="nav">
  <div data-role="navbar">
    <ul>
      <li><a href="#appunti">Refresh</a></li>
      <li><%= link_to 'Nuovo', new_appunto_path %> </li>
    </ul>
    
  </div>
  
</div>