= new_button( new_appunto_url )
  
- title "Appunti"

.row
  .side-bar.span3
    = render :partial => 'shared/episode_views'
    = render :partial => 'shared/search_options'
  
  
  .content-main.span6
    %header.content-header
      .header-inner
        %h2 Appunti
    
    - if params[:provincia].present? || params[:citta].present? || params[:search].present? || params[:status].present?
      = render :partial => 'shared/filters'

    #appunti{ 'data-json-url' => "#{ appunti_url( params.merge(:format => :json)) }" }
    / - @appunti.each do |appunto|
    /   = render "appunto"
    .stream-loader
      

  .side-right.span3.visible-desktop
    .module
      
      #tag_cloud.content
        - tag_cloud @appunti.tag_counts, %w[s m l] do |tag, css_class|
          = link_to tag.name, tag_path(tag.name), class: css_class

