= new_button( new_appunto_url )
  
- title "Appunti"

.row
  = render :partial => 'appunti_side'
  
  .content-main.span6
    %header.content-header
      .header-inner
        %h2 Appunti
    
    = render :partial => 'shared/filters'

    #appunti.list
      = render @appunti

    .stream-loader
      = paginate @appunti

  .side-right.span3.only_desktop 

    .module.white
      - cache ['wunderground', params[:comune]], expires_in: 2.hours do
        = render 'forecast', location: @location

    .module
      = render 'visite/calendar_small'


