<div data-role="header" >
  <h1>Appunti in corso</h1>
  
</div>
<div data-role="content">

    <ul data-role="listview" data-divider-theme="b" data-inset="true">
      <li data-theme="c">
         <%= link_to "Nuovo appunto", new_appunto_url, "data-transition" => "slide"  %>
      </li>
      <li data-theme="c">
         <%= link_to "nel baule", baule_url(skip_mobile: true), "data-transition" => "slide"  %>
      </li>
      <li data-theme="c">
          <%= link_to "Clienti", clienti_url, "data-transition" => "slide"  %>
      </li>
      <li data-theme="c">
          Appunti
      </li>
      
      <li data-theme="c">
          <%= link_to "RA", appunti_url(provincia: "RA"), "data-transition" => "slide"  %>
      </li>
      
      <li data-theme="c">
          <%= link_to "RE", appunti_url(provincia: "RE"), "data-transition" => "slide"  %>
      </li>
      
      
    </ul>





  <ul data-role="listview" data-inset="true">
    <% @appunti.each do |appunto| %>
      <li>
      <%= link_to edit_appunto_path(appunto) do %>
        <h2><%= appunto.cliente_nome %></h2>
        <%= appunto.destinatario %>
        <%= truncate(appunto.note, :length => 25) %>
      <% end %>
      </li>
    <% end %>
  </ul>
</div>


<!-- <div data-role="footer" data-position="fixed" data-id="nav">
  <div data-role="navbar">
    <ul>
      <li><a href="#appunti">Refresh</a></li>
      <li><%= link_to 'Nuovo', new_appunto_path %> </li>
    </ul>
    
</div> -->
  
</div>