- title @appunto.to_s

.content-view
  = render 'shared/title_bar', title: @appunto.to_s
  #appunto-show
    .field
      .label Destinatario:
      .destinatario= on_the_spot_edit @appunto, :destinatario
    .field
      .label Scuola:
      .scuola_nome= @appunto.scuola_nome
    .field
      .label Note:
      .note= on_the_spot_edit @appunto, :note, :type => :textarea, :rows => 5, :display_text => markdown(@appunto.note), :loadurl => get_note_appunto_path(@appunto), :callback => "testCallback"
    .field
      .label Telefono:
      .telefono= on_the_spot_edit @appunto, :telefono
    .field
      .label Email:
      .telefono= on_the_spot_edit @appunto, :email