- title @appunto.to_s

.row
  .span7
    = render 'shared/title_bar', title: @appunto.to_s
    .well
      .field
        .label Destinatario:
        .destinatario= on_the_spot_edit @appunto, :destinatario
      .field
        .label Cliente:
        .cliente_nome= @appunto.cliente_nome
      .field
        .label Note:
        .note= on_the_spot_edit @appunto, :note, :type => :textarea, :rows => 5, :display_text => markdown(@appunto.note), :loadurl => get_note_appunto_path(@appunto), :callback => "testCallback"
      .field
        .label Telefono:
        .telefono= on_the_spot_edit @appunto, :telefono
      .field
        .label Email:
        .telefono= on_the_spot_edit @appunto, :email
    
        - unless @appunto.righe.empty?
          .table-righe
            %table.righe.table.table-striped.table-condensed
              - for r in @appunto.righe do
                %tr.riga
                  %td= r.titolo
                  %td= r.quantita
                  %td x
                  %td= r.prezzo_unitario
                  %td
                  %td= "- #{r.sconto}%" if r.sconto != 0.0
                  %td =
                  %td= r.importo 
              %tr.riga
                %td
                %td
                  %span.label.label-info= @appunto.totale_copie
                %td
                %td
                %td
                %td
                %td
                %td
                  %span.label.label-info
                    = "€ #{@appunto.totale_importo}"

