= new_button( new_appunto_url(cliente: @appunto.cliente, destinatario: @appunto.destinatario, telefono: @appunto.telefono) )

- title @appunto.to_s

.content
  .row
    %section.offset2.span8
      %header
      %article.appunto.well
        .appunto-status
          .status-container
            = show_status_css(@appunto.status)
          .star-container
        
        %div{ style: "margin-left: 80px"}  
          %h2= @appunto.destinatario.blank? ? @appunto.cliente.titolo : @appunto.destinatario
          %address
            %strong
              = link_to @appunto.cliente do
                = "@#{@appunto.cliente.ragione_sociale || [@appunto.cliente.nome, @appunto.cliente.cognome].join(' ')}"
            %br
            = @appunto.cliente.indirizzo
            %br
            = "#{@appunto.cliente.cap} #{@appunto.cliente.frazione} #{@appunto.cliente.comune} #{@appunto.cliente.provincia}"

          %p
            %strong= @appunto.note 
          
          = render "appunti/recapiti", appunto: @appunto
          
          %p
            %small
              creato il: 
              = l @appunto.created_at, format: :only_date
              %br
              ultima modifica: 
              = l @appunto.updated_at, format: :only_date

          - if @appunto.nota_url
            %p
              = image_tag @appunto.nota_url

        %footer.show-toolbar
          .pull-right
            - unless @appunto.fatturato?
              = link_to @appunto, method: 'delete', title: 'elimina', confirm: "Sei sicuro?", class: "btn btn-danger" do
                %i.icon-trash
                Elimina
            = link_to appunto_url(@appunto, format: :pdf), class: "btn" do
              %i.icon-print
              Stampa
            - unless @appunto.fatturato?
              = link_to edit_appunto_url(@appunto), class: "btn btn-primary" do
                %i.icon-pencil
                Modifica

        - if @appunto.has_righe?
          - unless @appunto.da_fatturare?
            .riferimento-fattura{ style: "margin-top: 10px;"}
              = link_to @appunto.fattura do
                = "registrato con #{@appunto.fattura.causale.downcase} nr. #{@appunto.fattura.numero} del #{l @appunto.fattura.data, format: :only_date}"
          
          .table-righe-new
            = render @appunto.righe
            
            .totali-new.pull-right
              %span.totale-copie= "#{@appunto.totale_copie} copie"
              = "-"
              %span.totale-importo= number_to_currency @appunto.totale_importo
      
        

