- title @appunto.to_s

.content-view
  = render 'shared/title_bar', title: @appunto.to_s
  #collapse
    .field
      %span.label Destinatario:
      %span.destinatario= on_the_spot_edit @appunto, :destinatario
    .field
      %span.label Scuola:
      %span.scuola_nome= @appunto.scuola_nome
    .field
      %span.label Note:
      %span.note= on_the_spot_edit @appunto, :note, :type => :textarea, :rows => 5, :loadurl => get_note_appunto_path(@appunto)
    .field
      %span.label Note:
      %div.note_markdown{id: "appunto__note__#{@appunto.id}", "data-auth" => "ppp"}= markdown @appunto.note
