.classe{style: "width: #{90/coef}%;"}[c]
  .inner
    .dropdown.clearfix.pull-right
      = link_to "...",  "#", class: "btn btn-link dropdown-toggle", "data-toggle" => "dropdown" 

      %ul.dropdown-menu{ role: "menu", "aria-labelledby" => "dLabel" }

        %li= link_to 'nuovo appunto', new_appunto_path(cliente: c.cliente.id, destinatario: "#{c.classe}#{c.sezione} #{c.insegnanti}"), title: "nuovo appunto"
        %li.divider
        %li= link_to "aggiungi sezione", aggiungi_sezione_classe_path(c), remote: 'true'
        %li= link_to "elimina", c, method: :delete, remote: true, confirm: "Sei sicuro?"
    .sezione
      %h1.nr_alunni.pull-left
        =c[:sezione]
        %small
          = on_the_spot_edit c, :nr_alunni, tooltip: "#", url: '/clienti/update_attribute_on_the_spot' 
    .clearfix
    .insegnanti
      = on_the_spot_edit c, :insegnanti, tooltip: "...", url: '/clienti/update_attribute_on_the_spot'  
    .note
      = on_the_spot_edit c, :note, tooltip: "...", type: :textarea, url: '/clienti/update_attribute_on_the_spot', rows: 2 
    .clearfix  
    
    %ul.inline

      %li.dropdown
        - unless c.libri_adottabili.empty?
          = link_to "#", class: "dropdown-toggle", "data-toggle" => "dropdown" do
            %i.icon-plus
          %ul.dropdown-menu{ role: "menu", "aria-labelledby" => "dLabel" }
            - for l in c.libri_adottabili
              %li
                = form_for c.adozioni.build, html: {class: "form-inline"}, remote: true do |f|
                  = hidden_field_tag "classe_id", c.id
                  = f.hidden_field :libro_id, value: l.id
                  = f.submit l.titolo, class: "btn btn-link"


      - unless c.adozioni.scolastico.empty?        
        - for a in c.adozioni.scolastico do
          %li.dropdown[a]
            = link_to "#", class: "dropdown-toggle", "data-toggle" => "dropdown" do
              - if a.kit_1 == 'consegnato' && a.kit_2 == 'consegnato'
                %span.label.label-success= "#{a.libro.sigla}"
              - elsif a.kit_1 == 'consegnato' && a.kit_2.blank?
                %span.label.label-warning= "#{a.libro.sigla}"
              - else
                %span.label= "#{a.libro.sigla}"
            %ul.dropdown-menu{ role: "menu", "aria-labelledby" => "dLabel" }
              %li
                = form_for a, method: "put", html: {class: "form-inline"}, remote: true do |f|
                  = hidden_field_tag "adozione[kit_1]", ""
                  = hidden_field_tag "adozione[kit_2]", ""
                  = f.submit "(vuoto)", class: "btn btn-link"
              %li
                = form_for a, method: "put", html: {class: "form-inline"}, remote: true do |f|
                  = hidden_field_tag "adozione[kit_1]", "consegnato"
                  = hidden_field_tag "adozione[kit_2]", ""
                  = f.submit "saggio", class: "btn btn-link"
              %li
                = form_for a, method: "put", html: {class: "form-inline"}, remote: true do |f|
                  = hidden_field_tag "adozione[kit_1]", "consegnato"
                  = hidden_field_tag "adozione[kit_2]", "consegnato"
                  = f.submit "kit", class: "btn btn-link"
              
              %li.divider
              %li
                = form_tag print_multiple_adozioni_path, :method => :put, target: "_blank", :id => "form_print_adozioni" do

                  = hidden_field_tag "adozione_ids[]", a.id
                  = submit_tag "stampa",  id: "bnt-pdf", class: "btn btn-link"

              %li
                = link_to "elimina", a, method: :delete, remote: true


      - ["fiuto", "castelli", "tutto"].each_with_index do |titolo, index|
        %li.vacanza.dropdown
          = link_to image_tag(vacanze_image_url(titolo, c.send("libro_#{index + 1}"))), "#", class: "dropdown-toggle", "data-toggle" => "dropdown"
          
          %ul.dropdown-menu{ role: "menu", "aria-labelledby" => "dLabel" }
            %li
              = form_for c, method: "put", html: {class: "form-inline"}, remote: true do |f|
                = hidden_field_tag "classe[libro_#{index + 1}]", "vacanze_vuoto"
                = f.submit "(vuoto)", class: "btn btn-link"
            %li
              = form_for c, method: "put", html: {class: "form-inline"}, remote: true do |f|
                = hidden_field_tag "classe[libro_#{index + 1}]", "vacanze_#{titolo}"
                = f.submit "in sospeso", class: "btn btn-link"
            %li
              = form_for c, method: "put", html: {class: "form-inline"}, remote: true do |f|
                = hidden_field_tag "classe[libro_#{index + 1}]", "vacanze_#{titolo}_adottato"
                = f.submit "adottato", class: "btn btn-link"
            %li
              = form_for c, method: "put", html: {class: "form-inline"}, remote: true do |f|
                = hidden_field_tag "classe[libro_#{index + 1}]", "vacanze_#{titolo}_ritirato"
                = f.submit "omaggio", class: "btn btn-link"

      