.fatture-side.span3
  
  .module
    %ul.stats
      %li
        = link_to "", remote: true do
          %strong= @tot_fatture.size
          DOC
      %li
        = link_to "", remote: true do
          %strong= @tot_fatture.sum(&:totale_copie)
          copie
      %li
        = link_to "", remote: true do
          %strong= number_to_currency @tot_fatture.sum(&:importo_fattura)
          importo
      
    .search-box
      = form_tag fatture_path, method:'get', id: 'fatture_search', class: "form-search", remote: true do
        .input-append
          = text_field_tag :search, params[:search], class: "input-medium search-query", placeholder: "cerca documenti"
          = button_tag class: "btn", name: nil do
            %i.icon-search

  .module
    %ul
      %li{ class: "#{ params[:causale].present? ? '': 'active' }" }
        = link_to params.except(:causale), class: "list-link", remote: true  do
          Tutti 
          %i.chev-right
      - for c in Fattura::TIPO_FATTURA
        %li{ class: "#{ params[:causale] == c ? 'active' : ''}"}
          = link_to fatture_url(params.merge(:causale => c)), class: "list-link", remote: true  do
            = c.pluralize
            %i.chev-right

  .module
    %ul
      %li{ class: "#{ params[:pagata].present? ? '': 'active' }" }
        = link_to params.except(:pagata), class: "list-link", remote: true  do
          Tutti 
          %i.chev-right

      %li{ class: "#{ params[:pagata] == 'false' ? 'active' : ''}"}
        = link_to fatture_url(params.merge(:pagata => false)), class: "list-link", remote: true  do
          non pagato
          %i.chev-right

      %li{ class: "#{ params[:pagata] == 'true' ? 'active' : ''}"}
        = link_to fatture_url(params.merge(:pagata => true)), class: "list-link", remote: true  do
          pagato
          %i.chev-right

  .module
    %ul
      %li{ class: "#{ params[:anno].present? ? '': 'active' }" }
        = link_to params.except(:anno), class: "list-link", remote: true  do
          Anni 
          %i.chev-right

      - for c in ["2013", "2012", "2011", "2010"]
        %li{ class: "#{ params[:anno] == c ? 'active' : ''}"}
          = link_to fatture_url(params.merge(:anno => c)), class: "list-link", remote: true  do
            = c
            %i.chev-right
  .module
    %ul
      %li{ class: "#{ params[:pagamento].present? ? '': 'active' }" }
        = link_to params.except(:pagamento), class: "list-link", remote: true  do
          Pagamenti 
          %i.chev-right
      - for c in Fattura::TIPO_PAGAMENTO
        %li{ class: "#{ params[:pagamento] == c ? 'active' : ''}"}
          = link_to fatture_url(params.merge(:pagamento => c)), class: "list-link", remote: true  do
            = c
            %i.chev-right
