.item[fattura]{ data: { id: "#{fattura.id}"}}
  .actions
    %ul.nav-fattura
      %li.print
        %a{ href: "/fatture/#{fattura.slug}.pdf", title: "stampa #{fattura.causale}", target: "_blank" }
          %i.icon-tag
          Stampa
      %li.edit
        %a{ href: "/fatture/#{fattura.slug}/fattura_steps/intestazione", title: 'modifica appunto'}
          %i.icon-pencil
          Modifica
      
      %li
        = " | "
      %li.show-fattura
        %a.apri-fattura{ title: 'mostra dettagli'}
          Apri
  .chiudi{ style: "float: right;"}
    %a
      Chiudi
    
  .causale
    %strong= fattura.causale
  .consegnato
    
  .pagato
  
  .numero
    %strong= fattura.numero
    %br
    %span= l(fattura.data, format: :short).downcase
  .cliente
    = link_to fattura.titolo, fattura.cliente
  .copie
    %strong= fattura.totale_copie
    copie
  .importo
    %strong= number_to_currency fattura.importo_fattura 
    importo
  .righe.loading
  / %table.table
  /   - for r in fattura.righe
  /     = render r
  .more-actions
    %ul.nav-fattura
      %li.delete
        %a{ href: "/fatture/#{fattura.slug}", title: 'elimina', "data-confirm" => "Sei sicuro?", "data-method" => "delete", "data-remote" => true}
          %i.icon-trash
          Elimina
      %li.print
        %a{ href: "/fatture/#{fattura.slug}.pdf", title: "stampa #{fattura.causale}", target: "_blank" }
          %i.icon-tag
          Stampa
      %li.edit
        %a{ href: "/fatture/#{fattura.slug}/fattura_steps/intestazione", title: 'modifica appunto'}
          %i.icon-pencil
          Modifica
    
  