%li{ class: "#{ fattura.pagata? ? '' : 'da_pagare'}", data: { id: "#{fattura.id}"} }
  %span.titolo
    = link_to fattura_url fattura do
      #{fattura.documento_causale}
      %br 
      #{fattura.numero} del #{l(fattura.data).downcase}
  %span.quantita
    = fattura.totale_copie
  %span.importo
    = number_to_currency fattura.importo_fattura
