= new_button( new_fattura_url )

.row
  = render 'fatture_side'

  .content-main.span5
    %header.content-header
      .header-inner
        %h2 Documenti
    
    = render :partial => 'shared/filters'

    #fatture.list
      = render "grouped_fatture"
    
    .stream-loader
      = paginate @fatture

  .side-bar.span4
    .module
      .header
        = show_hide_tag
        %h3
          = number_to_currency @righe_da_fatturare.sum(&:importo)
          %small pagati da registrare
      .more
                      
        - unless @clienti_righe_da_fatturare.empty?
          
          - for c, r in @clienti_righe_da_fatturare do
            .cliente
              = link_to  c do
                %span.titolo= c[:titolo]
              .dropdown.pull-right
                = link_to "Registra",  "#", class: "btn btn-link dropdown-toggle", "data-toggle" => "dropdown" 

                %ul.dropdown-menu{ role: "menu", "aria-labelledby" => "dLabel" }

                  %li.dropdown-submenu.pull-left
                    %a{ tabindex: "-1", href: "#"}
                      Fattura
                    %ul.dropdown-menu
                      %li
                        = form_for c, url: registra_documento_cliente_path(c), method: "put" do |f|
                          = hidden_field_tag 'data_documento', "ultima"
                          = hidden_field_tag 'causale_id', 0
                          - for a, righe in r.group_by(&:appunto) do
                            = hidden_field_tag "appunto_ids[]", a.id 
                          = f.submit "ultima data inserita", class: "btn btn-link"
                      
                      %li.divider
                      
                      %li= link_to "oggi",  new_fattura_url(causale: 1, cliente_id: c[:id])
                  
                  %li.divider
                  
                  %li.dropdown-submenu.pull-left
                    %a{ tabindex: "-1", href: "#"}
                      Buono di consegna
                    %ul.dropdown-menu
                      %li
                        %a{ tabindex: "-1", href: "#"}
                          23 giugno 2013
                      %li.divider
                      %li
                        %a{ tabindex: "-1", href: "#"}
                          oggi

 
                
              .pull-right
                = pretty_prezzo r.sum(&:importo)
              .clearfix  


              - for a, righe in r.group_by(&:appunto) do
                = render "appunti/item", appunto: a
        - else
          %span.list-link 
            %small non ci sono appunti pagati da registrare 


    .module
      .header
        = show_hide_tag
        %h3
          = number_to_currency @righe_da_pagare.sum(&:importo)
          %small da incassare e registrare
      .more

        - unless @clienti_righe_da_pagare.empty?
          - for c, r in @clienti_righe_da_pagare do
            .cliente
              = link_to  c do
                %span.titolo= c[:titolo]
              .pull-right
                = link_to "Registra",  new_fattura_url(causale: 1, cliente_id: c[:id]) 
              .pull-right
                = pretty_prezzo r.sum(&:importo)

              - for a, righe in r.group_by(&:appunto) do
                = render "appunti/item", appunto: a
        - else
          %span.list-link 
            %small non ci sono appunti da incassare e registrare 

        



