= new_button( new_fattura_url )

.row
  = render 'fatture_side'

  .content-main.span5
    %header.content-header
      .header-inner
        %h2 Documenti
    
    = render :partial => 'shared/filters'

    #fatture.list
      = render "grouped_fatture"
    
    .stream-loader
      = paginate @fatture

  .side-bar.span4
    
    - [@righe_da_fatturare, @righe_da_pagare ].each_with_index do |righe, index|

      - index == 0 ? label = "pagati da registrare" : label = "da incassare e registrare" 

      .module
        .header
          = show_hide_tag
          %h3
            = number_to_currency righe.sum(&:importo)
            %small= label
        .more
                        
          - unless righe.empty?
            
            - for c, r in righe.group_by(&:cliente) do
              .cliente-vendite
                %header
                  = link_to  c do
                    %span.titolo= c[:titolo]
                
                - for a, righe in r.group_by(&:appunto) do               
                  = render "appunti/item", appunto: a

                %footer.clearfix
                  .pull-left
                    = render 'registra', c: c, r: r
                  .totale-importo.pull-right
                    %strong= number_to_currency r.sum(&:importo)
                  .totale-copie.pull-right
                    %strong= r.sum(&:quantita)
          
          - else
            %span.list-link 
              %small= "non ci sono appunti #{label}"



