= content_for :add_button do
  .topbar-tweet-btn
    %a.btn.btn-primary{ "data-toggle" => "modal", "data-target" => ".modal" }
      .icon-tweet
      
      
.row
  .side-bar.span3
    .module
      %ul.stats
        %li
          = link_to "" do
            %strong= @fatture.sum(&:totale_copie)
            copie

        %li
          = link_to "" do
            %strong= @fatture.sum(&:importo_fattura)
            importo

    .module
      %ul
        %li{ class: "#{ params[:causale].present? ? '': 'active' }" }
          = link_to params.except(:causale), class: "list-link"  do
            Tutti 
            %i.chev-right

        - for c in Fattura::TIPO_FATTURA
          %li{ class: "#{ params[:causale] == c ? 'active' : ''}"}
            = link_to fatture_url(params.merge(:causale => c)), class: "list-link"  do
              = c.pluralize
              %i.chev-right
    .module
      %ul
        %li{ class: "#{ params[:anno].present? ? '': 'active' }" }
          = link_to params.except(:anno), class: "list-link"  do
            Tutti 
            %i.chev-right

        - for c in ["2012", "2011"]
          %li{ class: "#{ params[:anno] == c ? 'active' : ''}"}
            = link_to fatture_url(params.merge(:anno => c)), class: "list-link"  do
              = c
              %i.chev-right
        
  .content-main.span6
    %header.content-header
      .header-inner
        %h2 Documenti


    #fatture.list
      - @fatture_per_anno.each do |a, fatture|
        .item 
          %h3= a.strftime("%Y")
        - fatture.each do |fattura|
          = render fattura

- @fattura = Fattura.new
= render "modal"
          
          



