= new_button( new_fattura_url )

- title @fattura.slug.capitalize

.content
  .row
    %section.offset2.span8.fattura
      %header.well

        %div{ style: "margin-left: 80px"}  
          %h2= "#{@fattura.documento_causale} Nr. #{@fattura.numero} del #{l @fattura.data}"
          %address
            %strong
              = link_to @fattura.cliente do
                = "@#{@fattura.cliente.ragione_sociale || [@fattura.cliente.nome, @fattura.cliente.cognome].join(' ')}"
            %br
            = @fattura.cliente.indirizzo
            %br
            = "#{@fattura.cliente.cap} #{@fattura.cliente.frazione} #{@fattura.cliente.comune} #{@fattura.cliente.provincia}"

        %footer.show-toolbar
          .pull-right

            = link_to @fattura, method: 'delete', title: 'elimina', confirm: "Sei sicuro?", class: "btn btn-danger" do
              %i.icon-trash
              Elimina
            = link_to fattura_url(@fattura, format: :pdf), class: "btn", target: "_blank" do
              %i.icon-print
              Stampa

            = link_to fattura_fattura_step_url(@fattura, :dettaglio), class: "btn btn-primary" do
              %i.icon-pencil
              Modifica
        

      - unless @fattura.appunti.empty?
        %article.table-righe-new.well
          - for appunto, righe in @fattura.righe.group_by(&:appunto)
            .rif-appunto
              = link_to appunto do
                = "##{appunto.id} del #{l appunto.created_at, format: :only_date} - #{appunto.status}"
            = render righe

      - else
        %article.table-righe-new.well
          = render @fattura.righe
  
      %footer.well
        .copie
          %strong= @fattura.totale_copie
          copie
        .importo-totale
          %strong= pretty_prezzo @fattura.importo_fattura
          importo

  
          