%hr

= simple_form_for(@materia, html: { class: "form-horizontal"}) do |f|
  
  = f.error_notification

  = f.input :materia
  = f.input :gruppo
  = f.input :ordine
  = f.input :prezzo_copertina
  = f.input :prezzo_consigliato

  
  .controls
    = f.button :submit

%hr

