
.well.span8 
  %h1 Materie
  %br

  %table.table.table-hover.table-striped
    %tr
      %th
      %th Materia
      %th Gruppo
      %th Ordine
      %th Copertina
      %th Consigliato
      %th
      - if current_user.admin?      
        %th

    - @materie.each do |materia|
      %tr
        %td= materia.id
        %td= link_to materia.materia, materia

        %td= materia.gruppo
        %td= materia.ordine
        %td= number_to_currency materia.prezzo_copertina
        %td= number_to_currency materia.prezzo_consigliato

        %td= link_to 'Modifica', edit_materia_path(materia), class: "btn btn-primary"
        
        - if current_user.admin?
          %td= link_to 'Elimina', materia, :confirm => 'Are you sure?', :method => :delete, class: "btn"

  %br

  = link_to 'Nuova Materia', new_materia_path, class: "btn"
