
.well 
  %h1 Materie
  %br

  %table.table
    %tr
      %th
      %th Materia
      %th
      %th
      %th

    - @materie.each do |materia|
      %tr
        %td= materia.id
        %td= materia.materia
        %td= link_to 'Mostra', materia, class: "btn"
        %td= link_to 'Modifica', edit_materia_path(materia), class: "btn"
        %td= link_to 'Elimina', materia, :confirm => 'Are you sure?', :method => :delete, class: "btn"

  %br

  = link_to 'Nuova Materia', new_materia_path, class: "btn"
