.row
  .span8
    .well.clearfix
      %h2
        = link_to @fattura.titolo, @fattura.cliente
        %small= "#{@fattura.documento_causale} #{@fattura.numero} del #{l @fattura.data, format: :only_date}"
      %br

      %ul.nav.nav-tabs
        - if @fattura.documento_scarico? && !@fattura.cliente.righe.da_fatturare.empty?
          %li{class: "#{step == :scegli_appunti ? 'active' : ''}"}
            = link_to "Scegli Appunti", wizard_path(:scegli_appunti)      
 
        - if @fattura.documento_carico? && !@fattura.cliente.righe_documenti.completare_carico.di_quest_anno.empty?
          %li{class: "#{step == :scegli_appunti ? 'active' : ''}"}
            = link_to "Scegli Documenti", wizard_path(:scegli_appunti)      

        %li{class: "dropdown #{step == :vacanze ? 'active' : ''}"}
          %a.dropdown-toggle{ href: '#', "data-toggle" => 'dropdown'}
            Libri per settore
            %b.caret
          %ul.dropdown-menu
            -Libro::SETTORI.each do |settore|
              %li= link_to settore, wizard_path(:vacanze, settore: settore)
             

        

        %li{class: "#{step == :leggi ? 'active' : ''}"}   
          = link_to "Importa", wizard_path(:leggi)
        %li{class: "#{step == :dettaglio ? 'active' : ''}"}   
          = link_to "Dettaglio righe", wizard_path(:dettaglio)
        %li{class: "#{step == :intestazione ? 'active' : ''}"}  
          = link_to "Intestazione", wizard_path(:intestazione)
      
      %br

      = simple_nested_form_for @fattura, url: wizard_path do |f|
        = f.error_notification      
        = yield f

  
  .span4
    .well
      - libri = @fattura.righe.map(&:libro).select{|l| l.anagrafica_da_completare? == true}.uniq

      - for libro in libri do
        = render libro


    .well
      = link_to 'Documenti', fatture_path
