= render layout: 'form' do |f|
  
  - unless @fattura.ordine?
    .control-group
      = render 'righe/select_prezzo'
  
  .control-group
    = render 'righe/form_create', model: 'fattura'
  
  .control-group
    #righe
      = f.simple_fields_for :righe do |riga|
        = render 'righe/form', riga: riga, remove: 'fattura'
          
  %hr      
  .control-group
    .controls
      %button{:class => "btn btn-primary pull-right", :type => "submit"} Salva e continua
  
