= render layout: 'form' do |f|
  .control-group
    = render 'righe/form'
  .control-group
    #righe
      = f.simple_fields_for :righe do |riga|
        = div_for riga.object, class: 'form-inline' do
          = riga.hidden_field :id
          = riga.hidden_field :libro_id
          .titolo= riga.object.libro.titolo
          .pull-right
            = riga.text_field :quantita, class: 'input-mini riga_quantita'
            = riga.text_field :prezzo,   class: 'input-mini riga_prezzo'
            = riga.text_field :sconto,   class: 'input-mini riga_sconto'
            = link_to "#", class: "btn btn-danger btn-mini remove-fattura" do
              %i.icon-minus
          
  %fieldset
    %legend
      
    .control-group
      .controls
        = link_to "Inserisci Vacanze", wizard_path(:vacanze), class: "btn"
        = link_to "Scegli appunti", wizard_path(:scegli_appunti), class: "btn"
        %button{:class => "btn btn-primary", :type => "submit"} Salva e chiudi
  
