= render layout: 'form' do |f|
    
  %fieldset
    %legend= "Intestazione #{@fattura.causale}"
    = f.input :numero
    = f.input :data, input_html: {class: "input-small"}
  
  %fieldset
    %legend Modalita' pagamento
    = f.input :condizioni_pagamento, collection: Fattura::TIPO_PAGAMENTO
    = f.input :pagata
  
  .control-group
    .controls
      %button{:class => "btn btn-primary", :type => "submit"} Salva e continua      
