= render layout: 'form' do |f|
  
  .control-group
    = render 'righe/select_prezzo'

  .control-group
    #righe
      - if f.object.righe.empty?
        .empty
          Nessuna riga in questo documento...
      - else
        = f.simple_fields_for :righe do |riga|          
          - if riga.object.new_record?
            = render 'righe/form', riga: riga, remove: false
          - else
            .hidden

  .control-group
    .controls
      = link_to "Passaggio precedente", previous_wizard_path, class: "btn"
      %button{:class => "btn btn-primary", :type => "submit"} Salva e continua

      = link_to "Salta questo passaggio", next_wizard_path, class: "btn"