.navbar.navbar-fixed-top
  .navbar-inner
    .container
      %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.brand{:href => "/"}You-propa
      .container.nav-collapse
        - if user_signed_in?
          %ul.nav
            %li= link_to "Appunti",  appunti_url
            %li= link_to "Clienti",  clienti_url
            %li.dropdown
              %a.dropdown-toggle{ href: '#', "data-toggle" => 'dropdown'}
                Magazzino
                %b.caret
              %ul.dropdown-menu
                %li= link_to "Libri",    libri_url
                %li= link_to "Documenti",  fatture_url
                %li= link_to "Vendite",  vendite_url
                %li= link_to "Cassa",  cassa_url
            %li.dropdown
              %a.dropdown-toggle{ href: '#', "data-toggle" => 'dropdown'}
                Giri
                %b.caret
              %ul.dropdown-menu              
                %li.agenda= link_to "Agenda",  giri_url
                %li.divider
                %li= link_to "Ieri",   giro_url(giorno: Time.now.to_date - 1.day)
                %li= link_to "Oggi",   giro_url(giorno: Time.now.to_date)
                %li= link_to "Domani", giro_url(giorno: Time.now.to_date + 1.day)
                %li.divider
                %li= link_to "Baule",  baule_url
                %li.divider
                %li= link_to "Propa 2014",  propa2014s_url
                
            %li= link_to "Adozioni", adozioni_url

        - if user_signed_in?
          .pull-right
            %ul.nav
              %li
                = render partial: "shared/autocomplete"
              
                %li.divider-vertical
              %li.dropdown
                %a{ class: "dropdown-toggle", href: "#", "data-toggle" => "dropdown" }
                  = image_tag gravatar_url(current_user.email, :size => 80, :default => "mm"), :class => "avatar size19"
                  / %img.size19{ src: "#{current_user.image}" }
                  %b.caret
                %ul.dropdown-menu
                  %li.current-user
                    %a                      
                      = link_to "Profilo di #{current_user.username}", user_profile_path, :class => 'tab' 
                  %li
                    = link_to "Esci", destroy_user_session_path, {:method => :delete, :class => 'tab'}
            .toolbar-buttons.pull-right
              = link_to baule_url, class: "btn btn-warning topbar-tweet-btn nav-baule", style: "font-size: 24px" do
                %i.icon-road
                %sup= current_user.cached_baule_count
          
              = yield :add_button

          