- if collection.empty?
  .module.hidden{ class: "list-#{tipo_riepilogo}" }
- else  
  .module{ class: "list-#{tipo_riepilogo}" }
    .header
      = show_hide_tag
      %h3
        = collection.size 
        %small= tipo_riepilogo.humanize.downcase
    .more.riepilogo-libri
      %ul
        - for libro, righe in collection.group_by(&:libro) do
          %li
            %span.titolo= link_to libro.titolo, libro
            %span.quantita= righe.sum(&:quantita)

            - saggi = collection.select {|a| a.libro == libro && a.stato == 'saggio' }
            - kit = collection.select {|a| a.libro == libro && a.stato == 'kit' }

            - tutto = collection.select {|a| a.libro == libro && a.stato == 'da consegnare' }

            - kit_no_saggio = collection.select {|a| a.libro == libro && a.stato == 'saggio+guida' }

            - if kit.size > 0
              .kit.pull-right
                %span.label.label-success=kit.size
            
            - if kit_no_saggio.size > 0
              .kit_no_saggio.pull-right
                %span.label.label-important=kit_no_saggio.size
            
            - if saggi.size > 0
              .saggi.pull-right
                %span.label.label-warning=saggi.size
                
            - if tutto.size > 0
              .tutto.pull-right
                %span.label=tutto.size



        / %li.totali
        /   %span.totale Totale
        /   %span.quantita
        /     %strong= collection.sum(&:quantita)
        /   %span.importo
        /     %strong= number_to_currency collection.sum(&:importo)