.riepilogo-libri
  %header
    %h3
      Libri #{tipo_riepilogo.humanize.downcase}
  %section
    %ul{ class: "#{tipo_riepilogo}"}
      - for libro, righe in collection.group_by(&:libro) do
        %li
          %span.titolo= link_to libro.titolo, libro
          %span.quantita= righe.sum(&:quantita)
          %span.importo= number_to_currency righe.sum(&:importo)
      %li.totali
        %span.totale Totale
        %span.quantita= collection.sum(&:quantita)
        %span.importo= number_to_currency collection.sum(&:importo)