- if collection.empty?
  .module.hidden{ class: "list-#{tipo_riepilogo}" }
- else  
  .module{ class: "list-#{tipo_riepilogo}" }
    .header
      = show_hide_tag
      %h3
        = collection.sum(&:quantita) 
        %small= tipo_riepilogo.humanize.downcase
    .more.riepilogo-libri
      %ul
        - for libro, righe in collection.sort_by{|r| r.libro.titolo }.group_by(&:libro) do
          %li
            %span.titolo= link_to libro.titolo, libro
            %span.quantita= righe.sum(&:quantita)
            %span.importo= number_to_currency righe.sum(&:importo)
        %li.totali
          %span.totale Totale
          %span.quantita
            %strong= collection.sum(&:quantita)
          %span.importo
            %strong= number_to_currency collection.sum(&:importo)