- if params[:action] == "get_appunti_filters" || params[:controller] == 'appunti'
  .module
    %ul.stats
      %li
        = link_to params.merge(:controller => :appunti, :action => :index, :format => 'json').except(:status) do
          %strong= @tutti
          appunti

      %li
        = link_to params.merge(:controller => :appunti, :action => :index, :format => 'json').merge(status: "da_fare") do
          %strong= @da_fare
          da fare
      %li
        = link_to params.merge(:controller => :appunti, :action => :index, :format => 'json').merge(status: "in_sospeso") do
          %strong= @in_sospeso
          in sospeso

- if params[:action] == "get_clienti_filters" || params[:controller] == 'clienti'
  .module
    %ul.stats
      %li
        = link_to params.merge(:controller => :clienti, :action => :index, :format => 'json').except(:status) do
          %strong= @tutti
          clienti

      %li
        = link_to params.merge(:controller => :clienti, :action => :index, :format => 'json').merge(status: "da_fare") do
          %strong= @da_fare
          da visitare
      %li
        = link_to params.merge(:controller => :clienti, :action => :index, :format => 'json').merge(status: "in_sospeso") do
          %strong= @in_sospeso
          in sospeso


/ vecchio stile
/ - if params[:action] == "get_appunti_filters" || params[:controller] == 'appunti'
/   
/   .module
/     %ul
/ 
/       %li{ class: "#{ params[:status].present? ? '': 'active' }" }
/         = link_to(params.merge(:controller => :appunti, :action => :index, :format => 'json').except(:status), class: "list-link") do
/           Appunti
/           %i.chev-right
/       
/       %li{ class: "#{ params[:status] == 'in_corso' ? 'active' : '' }" }
/         = link_to params.merge(:controller => :appunti, :action => :index, :format => 'json').merge(status: "in_corso"), class: "list-link" do
/           in corso
/           %i.chev-right          
/       
/       %li{ class: "#{ params[:status] == "da_fare" ? 'active' : ''}" }
/         = link_to params.merge(:controller => :appunti, :action => :index, :format => 'json').merge(status: "da_fare"), class: "list-link" do
/           da fare
/           %i.chev-right
/       
/       %li{ class: "#{ params[:status] == "in_sospeso" ? 'active' : ''}" }
/         = link_to params.merge(:controller => :appunti, :action => :index, :format => 'json').merge(status: "in_sospeso"), class: "list-link" do
/           in sospeso
/           %i.chev-right
/           
/       %li{ class: "#{ params[:status] == "completati" ? 'active' : ''}" }
/         = link_to params.merge(:controller => :appunti, :action => :index, :format => 'json').merge(status: "completati"), class: "list-link" do
/           completati
/           %i.chev-right

     

- if params[:controller] == "clienti"
  .search_options.search-cliente_tipo.well{ style: "padding: 8px; 0"}
    %ul.nav.nav-list
      %li.nav-header= link_to "Tipo cliente", params.merge(:format => 'json').except(:tipo)
      
      %li{ class: "#{ params[:tipo] == "scuole" ? 'active' : ''}" }
        = link_to "Tutte le scuole",  params.merge(:format => 'json').merge(tipo: "scuole")
      %li{ class: "#{ params[:tipo] == "primarie" ? 'active' : ''}" }
        = link_to "Scuole Primarie",  params.merge(:format => 'json').merge(tipo: "primarie")
      %li{ class: "#{ params[:tipo] == "cartolerie" ? 'active' : ''}" }
        = link_to "Cartolerie",       params.merge(:format => 'json').merge(tipo: "cartolerie")
      %li{ class: "#{ params[:tipo] == "direzioni" ? 'active' : ''}" }
        = link_to "Direzioni",        params.merge(:format => 'json').merge(tipo: "direzioni")
      %li{ class: "#{ params[:tipo] == "privati" ? 'active' : ''}" }
        = link_to "Privati",          params.merge(:format => 'json').merge(tipo: "privati")
      %li{ class: "#{ params[:tipo] == "altri" ? 'active' : ''}" }
        = link_to "altri",            params.merge(:format => 'json').merge(tipo: "altri")

    
.module
  %ul
    %li{ class: "#{ params[:provincia].present? ? '': 'active' }" }
      = link_to params.merge(:controller => :appunti, :action => :index, :format => 'json').except(:provincia), class: "list-link" do
        Provincie
        %i.chev-right

    - for p in @provincie
      %li{ class: "#{ params[:provincia] == p.provincia ? 'active' : ''}" }
        = link_to params.merge(:controller => :appunti, :action => :index, :format => 'json').except(:comune).merge(:provincia => p.provincia, :page => nil), class: "list-link" do
          = p.provincia
          %i.chev-right
          
          
.module
  %ul
    %li{ class: "#{ params[:comune].present? ? '': 'active' }" }
      = link_to params.merge(:controller => :appunti, :action => :index, :format => 'json').except(:comune), class: "list-link"  do
        Comuni
        %i.chev-right
    
    - for c in @citta
      - unless c.nil? 
        %li{ class: "#{ params[:comune] == c.comune ? 'active' : ''}"}
          = link_to params.merge(:controller => :appunti, :action => :index, :format => 'json').merge(:comune => c.comune, :page => nil), class: "list-link"  do
            = c.comune
            %i.chev-right
        