.title-bar
  %span= title
  .links.pull-right
    - if params[:action] == 'edit'
      = link_to "Show", url_for(controller: params[:controller], action: 'show')
      \|
    - if params[:action] == 'show'
      = link_to "Elimina", url_for(controller: params[:controller], action: 'destroy'), { :method => "delete", :confirm => 'Sei sicuro?' }
      \|
      = link_to "Edit", url_for(controller: params[:controller], action: 'edit')
      \|
    = link_to params[:controller].humanize, url_for(controller: params[:controller], action: 'index')
    \|
    = link_to "Back", :back