.module.list-giro
  
  .header
    
    .pull-right
      .btn-group
        
        %button.btn.btn-link.dropdown-toggle{ "data-toggle" => "dropdown" }
          %i.icon-cog
        %ul.dropdown-menu.pull-right
          %li= adozioni_stato_tag "da consegnare", @giro.adozioni, false
          %li= adozioni_stato_tag "saggio", @giro.adozioni, false            
          %li= adozioni_stato_tag "kit", @giro.adozioni, false            
          %li= adozioni_stato_tag "saggio+guida", @giro.adozioni, false
          %li.divider
          %li
            = form_tag print_multiple_adozioni_path, :method => :put, target: "_blank", :id => "form_print_adozioni" do
              - for a in @giro.adozioni do
                = hidden_field_tag "adozione_ids[]", a.id
              = submit_tag "stampa adozioni",  id: "bnt-pdf", class: "btn btn-link"

        = show_hide_tag 'up'

    %h3
      = "#{ pluralize @giro.visite.size, 'tappa'}"

    
  .more 
    %ul.lista-visite{ "data-update-url" => "#{sort_visite_path}"}
      - for visita in @giro.visite do
        = render "visite/visita_item", visita: visita

  .module.white

    = simple_form_for current_user.visite.build do |f|
      
      - if @giro.baule?
        = f.hidden_field  :baule, value: 't'
      - else
        = f.hidden_field :data, value: @giro.giorno

      
      = f.input_field :cliente_id, :collection => current_user.clienti.not_deleted.order(:titolo), :label_method => :titolo, :value_method => :id, :class => 'chzn-select', "data-placeholder" => "Seleziona cliente da aggiungere" 

      = f.input_field :scopo, placeholder: "scopo" 

      
      = f.submit "Aggiungi", class: "btn-small btn-success pull-right"

