.btn-group
  %button.btn.btn-warning.dropdown-toggle{ "data-toggle" => "dropdown" }
    trasforma adozioni
    %span.caret
  %ul.dropdown-menu
    %li= adozioni_stato_tag "da consegnare", @giro.adozioni, remote: false
    %li= adozioni_stato_tag "saggio", @giro.adozioni, false            
    %li= adozioni_stato_tag "kit", @giro.adozioni, false            
    %li= adozioni_stato_tag "kit no saggio", @giro.adozioni, false           

.btn-group
  = form_tag print_multiple_adozioni_path, :method => :put, target: "_blank", :id => "form_print_adozioni" do
    - for a in @giro.adozioni do
      = hidden_field_tag "adozione_ids[]", a.id
    = submit_tag "Stampa Adozioni",  id: "bnt-adozioni", class: "btn"

.btn-group
  = form_tag print_multiple_appunti_path, :method => :put, target: "_blank", :id => "form_print_appunti" do
    - for a in @giro.appunti_da_fare do
      = hidden_field_tag "appunto_ids[]", a.id
    = submit_tag "Stampa Etichette",  id: "bnt-pdf", class: "btn"
    = select_tag "tipo_etichetta", options_for_select(["2x4 con bordo", "2x4 senza bordo", "3x8", "2x6", "Dymo 99012"])
    = number_field_tag "etichetta_da", "", class: "input-mini", placeholder: "salta"



- for v in @giro.visite do

  .module{ id: "#{v.cliente.slug}", class: "#{dom_id(v)} white" }
    .header
      = show_hide_tag "down"
      .break
        = link_to image_tag(asset_path "PageBreak16.png"), "", class: "pull-right"
    
      %h3
        = link_to v.cliente.titolo, v.cliente

    .more.appunti.clearfix
      - for a in v.appunti do
        .span5
          = check_box_tag "appunto_ids[]", a.id, a.da_consegnare?, {:class => 'cb-appunto'}
      
          = render a, grouped: "grouped"

    = render "clienti/foglio_scuola", cliente: v.cliente
