- title "Giri"

.row
  .span12
    .module
      .header
        = show_hide_tag
        %h2 Agenda
      .more#calendar
              
    .row
      .span4
        .module
          %ul
            %li{ class: "#{ params[:provincia].present? ? '': 'active' }" }
              = link_to giri_path, class: "list-link" do
                Provincie
                %i.chev-right
        
            - @provincie = current_user.clienti.primarie.select_provincia     
            - for p in @provincie
              %li{ class: "#{ params[:provincia] == p.provincia ? 'active' : ''}" }
                = link_to giri_path(:provincia => p.provincia), class: "list-link" do
                  = p.provincia
                  %i.chev-right

        .module
          .header
            = show_hide_tag 'down'
            %h3
              = "#{pluralize @clienti_da_fare.length, "cliente"}"
              %small con appunti da consegnare
          .clienti.more.hidden   
            = render @clienti_da_fare
            

          .header
            = show_hide_tag 'down'
            %h3
              = "#{pluralize @clienti_in_sospeso.length, "cliente"}"
              %small con appunti in sospeso
          .clienti.more.hidden    
            = render @clienti_in_sospeso


          .header
            = show_hide_tag 'down'
            %h3
              = "#{pluralize @scuole_da_fare.length, "scuola"}"
              %small da fare con adozioni
          .clienti.more.hidden
            = render @scuole_da_fare
        

          .header
            = show_hide_tag 'down'
            %h3
              = "#{pluralize @scuole_da_fare_senza.length, "scuola"}"
              %small da fare senza adozioni
          .clienti.more.hidden
            = render @scuole_da_fare_senza


          .header
            = show_hide_tag 'down'
            %h3 
              = "#{pluralize @scuole_fatte.length, "scuola"}"
              %small fatte
          .clienti.more.hidden
            = render @scuole_fatte

      .span4
        .module
          .header
            = show_hide_tag
            %h3
              Giri
              %small= @visite_grouped.keys.size

          .more.content
            - @visite_grouped.each do |k, v|
              .giro.header.clearfix{ class: "giro_#{k.parameterize} #{ (v[0].start.to_date == Time.now.to_date) ? 'oggi' : ''}"}
                
                %strong= link_to k, giro_url(giorno: "#{v[0].start.to_date}")
                %span= "#{pluralize(v.count, "tappa")}"
                
                .button-bar.pull-right
                  = show_hide_tag 'down'
                  .pull-right
                    = render "visite/destroy_all", visite: v
                     
              .more.hidden  
                %table.table
                  %tbody
                    - for visita in v.sort_by(&:start) do
                      %tr[visita]
                        %td= visita.start.try(:strftime, "%H:%M")
                        %td= link_to visita.cliente.titolo, visita.cliente
                        %td{ class: "cliente #{dom_id(visita.cliente)}" }
                          = baule_tag visita.cliente
                        %td
                          = link_to visita, method: :delete, remote: true, class: "close" do
                            &times;
        
      .side-bar.span4
        .module
          .header
            = show_hide_tag
            %h3 Nel Baule
          .more
            .riepilogo.clearfix
              = render 'baule/riepilogo_baule'
            .well
              = render "baule/form"

            .header
              = show_hide_tag
              %h3 Mappa
            .more
              = render 'baule/mappa_baule', clienti: @nel_baule

        
            

.the-modal{style: "display: none;"}
  %a.the-close{ href: "#"}
    x
  .modal-content
                        
