- title "Giro del #{Chronic.parse(params[:giorno]).strftime('%d-%m-%Y')}"

= new_button( new_appunto_url )


- if @giro.visite.empty?
  .module
    .header
      .btn-group.pull-right
        = previous_tag  giro_url(giorno: @giro.ieri)
        = next_tag      giro_url(giorno: @giro.domani)
        
      %h2= "Giro di #{l @giro.giorno.to_date, format: :long_with_day}"
    .image
      = image_tag asset_path("cavaliere.jpg")

- else

  .module.white
    .header
      .btn-toolbar.pull-right
        .btn-group
          = link_to "Solenne", "", class: "btn btn-danger"
          %a{ class: "btn btn-danger dropdown-toggle", href: "#", data: {toggle: "dropdown"} }
            %span.icon-caret-down
          %ul.dropdown-menu
            %li
              %a domani
            %li
              %a dopo domani
        .btn-group
          = stampami_tag
          = link_to "esandi tutto", "", class: "esandi-tutto btn"
        .btn-group  
          = previous_tag  giro_url(giorno: @giro.ieri)
          = next_tag      giro_url(giorno: @giro.domani)
      %h2= "Giro di #{l @giro.giorno.to_date, format: :long_with_day}"

  .row    
    .span4
      = render :partial => 'list_giro'

      = render partial: "shared/riepilogo_libri", locals: { tipo_riepilogo: "volumi_da_consegnare", collection: @giro.righe_da_consegnare} 
      = render partial: "shared/riepilogo_libri", locals: { tipo_riepilogo: "adozioni", collection: @giro.adozioni}

    .span8
      .module.white
        .header
          = show_hide_tag
          %h3 Mappa
        = render 'baule/mappa_baule', clienti: @giro.clienti




      - for v in @giro.visite do
        .module{ id: "#{v.cliente.slug}", class: "#{dom_id(v)} white" }
          .header
            = show_hide_tag "down"
            .break
              = link_to "page break", "", class: "pull-right btn"
            
            %h3
              = link_to v.cliente.titolo, v.cliente
          .more.hidden
            %br
            %table.table.table-bordered.classi-adozioni
              - v.cliente.classi_adozioni_grouped.each do |k, classi|
                %tr
                  %td.classe-group
                    .badge.badge-primary.pull-left= k
                  - classi.each do |c|
                    %td[c]
                      .pull-left
                        .badge.badge-info.sezione
                          =c[:sezione]
                      .pull-right
                        = link_to new_appunto_path(cliente: c.cliente.id, destinatario: "#{c.classe} #{c.sezione}"), class: "btn" do
                          %i.icon-book
                    
                      .clearfix  
                      - unless c.adozioni.scolastico.empty?
                        %ul.adozioni-list
                          - for a in c.adozioni.scolastico do
                            %li[a]
                              %span.label.label-important= a.libro.sigla

          .appunti.clearfix
            - for a in v.appunti do
              .span4
                = render a


