- title "Giro del #{Chronic.parse(params[:giorno]).strftime('%d-%m-%Y')}"

= new_button( new_appunto_url )


- if @giro.visite.empty?
  .module
    .header
      .btn-group.pull-right
        = previous_tag  giro_url(giorno: @giro.ieri)
        = next_tag      giro_url(giorno: @giro.domani)
        
      %h2= "#{l @giro.giorno.to_date, format: :long_with_day} in cavalleria"
    .image
      = image_tag asset_path("cavaliere.jpg")

- else

  .module
    .header
      .btn-toolbar.pull-right
        .btn-group
          = stampami_tag
          = link_to "esandi tutto", "", class: "esandi-tutto btn"
        .btn-group  
          = previous_tag  giro_url(giorno: @giro.ieri)
          = next_tag      giro_url(giorno: @giro.domani)
      %h2
        = l @giro.giorno.to_date, format: :long_with_day
        %small= @giro.scopo
      %p
        = @giro.localita

        
  .row.baule-page
    .span6
      = render :partial => 'giri/list_giro'
    .span4
      = render partial: "shared/riepilogo_adozioni", locals: { tipo_riepilogo: "adozioni", collection: @giro.adozioni}
    .span4
      = render partial: "shared/riepilogo_libri", locals: { tipo_riepilogo: "volumi_da_consegnare", collection: @giro.righe_da_consegnare} 
      
    - if @giro.appunti_da_fare.size > 0
      .span6  
        .content
          .content-header
            .header-inner.header
              = show_hide_tag
              %h3
                = pluralize @giro.appunti_da_fare.size, "appunti"
                %small da fare
            .more.appunti.list
              - for appunto in @giro.appunti_da_fare
                = render appunto
    
    - if @giro.appunti_preparato.size > 0
      .span6 
        .content
          .content-header
            .header-inner.header
              = show_hide_tag
              %h3
                = pluralize @giro.appunti_preparato.size, "appunti"
                %small pronti
            .more.appunti.list
              - for appunto in @giro.appunti_preparato
                = render appunto

    - if @giro.appunti_in_sospeso.size > 0
      .span6 
        .content
          .content-header
            .header-inner.header
              = show_hide_tag
              %h3
                = pluralize @giro.appunti_in_sospeso.size, "appunti"
                %small in sospeso
            .more.appunti.list
              - for appunto in @giro.appunti_in_sospeso
                = render appunto
            .footer

