- title "Giro del #{Chronic.parse(params[:giorno]).strftime('%d-%m-%Y')}"

= new_button( new_appunto_url )

.row
  
  .span4
    

    .module.well
      
      .day-calendar.pull-left
        %time.icon{ datetime: @giro.giorno }
          %em= I18n.t('date.day_names')[@giro.giorno.wday]
          %strong= I18n.t('date.month_names')[@giro.giorno.month]
          %span= @giro.giorno.day

      .pull-left

        - if @giro.visite.empty?
          %h2
            = "in cavalleria"
        
        - else
          %h3
            = @giro.scopo
            %small
              = @giro.localita
      .clearfix

      %footer.show-toolbar
        .btn-toolbar
          .btn-group  
            = previous_tag  giro_url(giorno: @giro.ieri)
            = next_tag      giro_url(giorno: @giro.domani)

          .btn-group.pull-right
            = link_to "esandi tutto", "", class: "esandi-tutto btn"
            / = stampami_tag

    - unless @giro.visite.empty?

      .module.map-avatar
        - mappa = @giro.clienti.to_gmaps4rails
        - unless mappa.empty?
          = gmaps({ :markers => {:data => mappa }, :map_options => { :type => "ROADMAP", :zoom => 15, :auto_zoom => true, scroll_weel: false } } )

    = render partial: "shared/riepilogo_adozioni", locals: { tipo_riepilogo: "adozioni", collection: @giro.adozioni}

    = render partial: "shared/riepilogo_libri", locals: { tipo_riepilogo: "volumi_da_consegnare", collection: @giro.righe_da_consegnare} 


    = render 'visite/calendar_small'


      
  
  .span8
    = render :partial => 'giri/list_giro'
  





      
    - if @giro.appunti_da_fare.size > 0

      .content.module
        .content-header
          .header-inner.header
            = show_hide_tag
            %h3
              = pluralize @giro.appunti_da_fare.size, "appunti"
              %small da fare
          .more.appunti.list
            - for appunto in @giro.appunti_da_fare
              = render appunto
  
    - if @giro.appunti_preparato.size > 0

      .content.module
        .content-header
          .header-inner.header
            = show_hide_tag
            %h3
              = pluralize @giro.appunti_preparato.size, "appunti"
              %small pronti
          .more.appunti.list
            - for appunto in @giro.appunti_preparato
              = render appunto

    - if @giro.appunti_in_sospeso.size > 0

      .content.module
        .content-header
          .header-inner.header
            = show_hide_tag
            %h3
              = pluralize @giro.appunti_in_sospeso.size, "appunti"
              %small in sospeso
          .more.appunti.list
            - for appunto in @giro.appunti_in_sospeso
              = render appunto
          .footer

