

.row
    
  .span6
    .content-main
      %header.content-header
        .header-inner
          %h2 Appunti errati    
      #appunti.list
        = render @appunti_errore_importo

    .content-main
      %header.content-header
        .header-inner
          %h2= "#{@appunti_fattura_id_errata.size} Appunti con Fatture errate"
          = @appunti_fattura_id_errata.map(&:id)
      #fatture.list
        = render @appunti_fattura_id_errata

  .span6 
    .content-main
      %header.content-header
        .header-inner
          %h2= "#{@fatture_errore_importo.size} Fatture errate"
      #fatture.list
        - for fattura in @fatture_errore_importo do
          
          %div.clearfix
            .errore
              = "id: #{fattura.id}    diff importo: #{fattura.differenza_importo} copie: #{fattura.differenza_copie}"
            
            = render fattura

    .content-main
      %header.content-header
        .header-inner
          %h2= "#{@fatture_copie_zero.size} Fatture copie zero"
      #fatture.list
        - for fattura in @fatture_copie_zero do
          
          %div.clearfix
            .errore
              = "id: #{fattura.id}    diff importo: #{fattura.differenza_importo} copie: #{fattura.differenza_copie}"
            
            = render fattura

  .span6 
    .content-main
      %header.content-header
        .header-inner
          %h2= "#{@documenti_errore_importo.size} Documenti errati"
      #documenti.list
        - for documento in @documenti_errore_importo do
          
          %div.clearfix
            .errore
              = "id: #{documento.id}    diff importo: #{documento.differenza_importo_appunti} copie: #{documento.differenza_copie}"
            
            = render documento


