- @date = params[:calendar] ? Date.parse(params[:calendar]) : Date.today

- visite = current_user.visite.filter_calendar(@date).non_nel_baule.order("data desc").select("visite.data, count(visite.id) as tappe").group("visite.data").group_by{ |v| v.data}


#calendar_small.module
  .header
    = show_hide_tag
    %h3
      .btn-group
        = link_to params.merge(calendar: @date.prev_month), class: "btn btn-mini" do
          %i.icon-caret-left
        
        = link_to params.merge(calendar: @date.next_month), class: "btn btn-mini" do
          %i.icon-caret-right
      
      = (l @date, format: :month_year).downcase
      
      .btn-group
        = link_to params.merge(calendar_view: 'week'), class: "btn btn-mini" do
          %i.icon-calendar

  .more
    = calendar @date do |date|
      = date.day
      - if visite[date]
        %ul.unstyled
          %li
            = link_to giro_path(giorno: date) do
              %span{ class: "badge #{date.future? ? 'badge-important' : 'badge-info'}" }
                = visite[date].first.tappe