%ol.clienti-small
  - @scuole.each do |s|
    %li[s]{class: "#{ s.nel_baule == false ? '' : 'favorited'}"}
      = s.titolo
      .baule.pull-right
        - unless s.nel_baule == false
          %a{ href: "/visite/#{s.nel_baule}", "data-method" => 'delete', "data-remote" => true, title: "Scarica il baule."}
            %i.icon-road
            Scarica baule
        - else
          %form{ action: '/visite', method: 'post', 'data-remote' => true }
            %input{ name: 'visita[cliente_id]', type: 'hidden', value: "#{s.id}"}
            %input{ name: 'visita[baule]',      type: 'hidden', value: 't' }
            %button{ title: 'metti nel baule!'}
              %i.icon-road
              Nel baule

      - if s.mie_adozioni.size > 0
        .pull-right
          %span.badge= s.mie_adozioni.size
      - if s.appunti.in_corso.size > 0
        .pull-right
          %span.badge.badge-info= s.appunti.in_corso.size
      .clearfix