- cache [visita.cliente, 'adozioni'] do 
  
  %tr[visita]
    %td
      = form_for visita, class: 'form-ora' do |f|
        = f.time_select :start, { minute_step: 15 }
        = f.submit 'modifica', class: 'btn btn-mini'
        
    %td
      = link_to visita.cliente.titolo, visita.cliente
      - if visita.cliente.scuola_primaria?
        = link_to cliente_path( id: visita.cliente.slug, view: 'foglio_scuola'), title: "foglio scuola" do
          %i.icon-file
      - if visita.cliente.last_giro

        %br

          = link_to giro_url(giorno: visita.cliente.last_giro.data) do
            %small= visita.cliente.last_giro.titolo
            %br
            %small= visita.cliente.last_giro.data

    %td.visible-phone
      - unless visita.cliente.latitude.nil?
        %a.btn{ href: "http://maps.apple.com/maps?q=#{visita.cliente.latitude},#{visita.cliente.longitude}" }
          / %a.btn{ href: "http://maps.google.it/maps?q=#{visita.cliente.latitude},#{visita.cliente.longitude}" }
          %i.icon-road
    
    %td.da_fare
      - if visita.cliente.appunti.da_fare.size > 0
        %span.badge.badge-important
          = visita.cliente.appunti.da_fare.size

    %td.in-sospeso
      - if visita.cliente.has_sospeso?
        %span.label.label-warning
          = number_to_currency visita.cliente.properties["importo_in_sospeso"].to_f

    %td.vacanze
      - if visita.cliente.vacanze_da_ritirare && visita.cliente.vacanze_da_ritirare > 0
        %span.badge.badge-inverse= visita.cliente.vacanze_da_ritirare

    %td.cliente-adozioni
      = render 'clienti/cliente_adozioni', cliente: visita.cliente
    
    %td
      = link_to visita, method: :delete, remote: true, class: "close" do
        &times;
