= content_tag_for :li, visita, class: 'clearfix' do
  

  .pull-left
    %span.handle [drag]
    %span.handle= "#{visita.start.try(:hour)}:#{visita.start.try(:min)}"
  
  .span5

    = render 'clienti/cliente_propa', cliente: visita.cliente

  .pull-left.visible-phone
    - unless visita.cliente.latitude.nil?
      %a.btn{ href: "http://maps.apple.com/maps?q=#{visita.cliente.latitude},#{visita.cliente.longitude}" }
        / %a.btn{ href: "http://maps.google.it/maps?q=#{visita.cliente.latitude},#{visita.cliente.longitude}" }
        %i.icon-road
      
  .pull-right
    = link_to visita, method: :delete, confirm: "Sei sicuro?", remote: true, class: "close" do
      &times;

