%tr[visita]
  %td= visita.start.try(:strftime, "%H:%M")
  %td
    = link_to visita.cliente.titolo, "##{visita.cliente.slug}"
  %td.visible-phone
    - unless visita.cliente.latitude.nil?
      %a.btn{ href: "http://maps.google.it/maps?q=#{visita.cliente.latitude},#{visita.cliente.longitude}" }
        %i.icon-road

  %td
    = link_to visita, method: :delete, remote: true, class: "close" do
      &times;
