- title "Giri"

/ = will_filter_tag(@visite, columns: [:start, :titolo, :baule])
/ = will_filter_table_tag(@visite, columns: [:data, :titolo, :baule])
/ = will_filter_actions_bar_tag(@visite, [['Delete Selected Languages', "alert('Deleting users...')"]])

.row  
  .side-bar.span5
    .module
      %ul
        %li{ class: "#{ params[:provincia].present? ? '': 'active' }" }
          = link_to visite_url, class: "list-link" do
            Provincie
            %i.chev-right
        
        - @provincie = current_user.clienti.primarie.select_provincia     
        - for p in @provincie
          %li{ class: "#{ params[:provincia] == p.provincia ? 'active' : ''}" }
            = link_to visite_url(:provincia => p.provincia), class: "list-link" do
              = p.provincia
              %i.chev-right

    .well
      .clienti
        %h3 Da Fare
        = render @scuole_da_fare
      .clienti
        %h3 Fatte
        = render @scuole_fatte
      .clienti
        %h3 Altro
        = render @altri_clienti
        
  .span7
    .module
      = render 'baule/mappa_baule', clienti: @nel_baule
      
      .item.clearfix
        .riepilogo.pull-left
          = render 'baule/riepilogo_baule'
        .well.pull-right
          = render "baule/form"
      
    
    
    %h2= "#{pluralize(@visite.count, "scuola")} completate."
    - i = 0
    
    - @visite_grouped.each do |k, v|
      .giro.well{ class: "giro_#{k.parameterize}"}
        %strong= k
        %span= "#{pluralize(v.count, "tappa")}"

        .pull-right
          = render "visite/destroy_all", visite: v  
        = link_to "", class: "pull-right show-hide btn" do
          %i.icon-caret-down

        .more.hidden  
          %table.table
            %tbody
              - for visita in v do
                %tr[visita]
                  %td= i += 1
                  %td= l visita.start, format: :only_date unless visita.start.nil?
                  %td= link_to visita.cliente.titolo, visita.cliente
                  %td{ class: "cliente #{dom_id(visita.cliente)}" }
                    = baule_tag visita.cliente
                  %td
                    = link_to visita, method: :delete, remote: true, class: "close" do
                      &times;
