- title "Giri"

#giri.well
  %table.table
    %thead
      %tr
        %th Id
        %th Titolo
        %th giorno
        %th cliente
    %tbody
      - i = 0
      - for visita in @visite do
        %tr
          %td= i += 1
          %td= visita.titolo
          %td= l visita.start, format: :only_date
          %td= visita.cliente.titolo
          %td= link_to 'elimina', visita, :confirm => 'Sei sicuro?', :method => :delete
/ - @libro = Libro.new
/ .modal.fade
/   = render "libri/modal"