- title "Giri"

/ = will_filter_tag(@visite, columns: [:start, :titolo, :baule])
/ = will_filter_table_tag(@visite, columns: [:data, :titolo, :baule])
/ = will_filter_actions_bar_tag(@visite, [['Delete Selected Languages', "alert('Deleting users...')"]])

.row  
  .side-bar.span5
    .module_1
      %ul
        %li{ class: "#{ params[:provincia].present? ? '': 'active' }" }
          = link_to visite_url, class: "list-link" do
            Provincie
            %i.chev-right
        
        - @provincie = current_user.clienti.primarie.select_provincia     
        - for p in @provincie
          %li{ class: "#{ params[:provincia] == p.provincia ? 'active' : ''}" }
            = link_to visite_url(:provincia => p.provincia), class: "list-link" do
              = p.provincia
              %i.chev-right
    
    .well
      
      = render :partial => 'da_visitare'

                

  .span7
    %h2= "#{pluralize(@visite.count, "scuola")} completate."
    - i = 0
    
    - @visite_grouped.each do |k, v|
      .giro.well
        .pull-left
          %strong= k
          %span= "#{pluralize(v.count, "tappa")}"
        .pull-right
          = link_to "esandi", "#", class: "mostra-tappe"
        .clearfix  
        %table.table.hidden
          %tbody
            - for visita in v do
              %tr[visita]
                %td= i += 1
                %td= l visita.start, format: :only_date unless visita.start.nil?
                %td= visita.cliente.titolo
                %td= link_to 'elimina', visita, :confirm => 'Sei sicuro?', :method => :delete
                %td
                  = form_for visita, remote: true do |f|
                    = f.hidden_field :baule, value: 't'
                    = f.submit "Nel baule"
   
