%hr

= simple_form_for(@editore, html: { class: "form-horizontal"}) do |f|
  
  = f.error_notification

  = f.input :nome
  = f.input :gruppo
  = f.input :codice

  .controls
    = f.button :submit

%hr
