
.well
  
  %h1 Editori

  %br

  %table.table
    %tr
      %th Nome
      %th Gruppo
      %th Codice
      %th
      %th
      %th

    - @editori.each do |editore|
      %tr
        %td= editore.nome
        %td= editore.gruppo
        %td= editore.codice
        %td= link_to 'Mostra', editore, class: "btn"
        %td= link_to 'Modifica', edit_editore_path(editore), class: "btn"
        %td= link_to 'Elimina', editore, :confirm => 'Sei sicuro?', :method => :delete, class: "btn"

  %br

  = link_to 'Nuovo Editore', new_editore_path, class: "btn"
