.well
  
  %p#notice= notice

  %p
    %b Nome:
    = @editore.nome
  %p
    %b Gruppo:
    = @editore.gruppo
  %p
    %b Codice:
    = @editore.codice

  = link_to 'Modifica', edit_editore_path(@editore), class: "btn"
  \
  = link_to 'Indietro', editori_path, class: "btn"
