%p#notice= notice

%p
  %b Nome:
  = @editore.nome
%p
  %b Gruppo:
  = @editore.gruppo
%p
  %b Codice:
  = @editore.codice

= link_to 'Edit', edit_editore_path(@editore)
\|
= link_to 'Back', editori_path
