- baule = Giro.new(baule: true, user: current_user)

.riepilogo-baule
  %ul.stats
    %li
      = link_to "" do
        %strong= baule.visite.size
        Tappe
    %li
      = link_to "" do
        %strong= baule.copie_da_consegnare
        libri
    %li
      = link_to "" do
        %strong= baule.adozioni.size
        adozioni
    %li
      %span
        = baule.localita

    