- title "Nel Baule"

= new_button( new_appunto_url )

.module
  .header
    .btn-toolbar.pull-right
      .btn-group
        = stampami_tag
        = link_to "page break", "", class: "toggle-break btn"
        = link_to "esandi tutto", "", class: "esandi-tutto btn"

    %h2 Nel Baule

.row.baule-page
  .span6
    = render :partial => 'giri/list_giro'
  .span5
    .module
      .header
        = show_hide_tag
        %h4 scegli il giorno
      .more.well
        = render "form"
  .span4
    = render partial: "shared/riepilogo_adozioni", locals: { tipo_riepilogo: "adozioni", collection: @giro.adozioni}
  .span4
    = render partial: "shared/riepilogo_libri", locals: { tipo_riepilogo: "volumi_da_consegnare", collection: @giro.righe_da_consegnare} 
    
  - if @giro.appunti_da_fare.size > 0
    .span6  
      .content
        .content-header
          .header-inner.header
            = show_hide_tag
            .pull-right
              .btn-group
                %button.btn.btn-link.dropdown-toggle{ "data-toggle" => "dropdown" }
                  %i.icon-cog
                %ul.dropdown-menu.pull-right
                  / %li= adozioni_stato_tag "adozioni da consegnare", @giro.adozioni, false
                  / %li= adozioni_stato_tag "adozioni saggio", @giro.adozioni, false            
                  / %li= adozioni_stato_tag "adozioni kit", @giro.adozioni, false            
                  / %li= adozioni_stato_tag "adozioni kit no saggio", @giro.adozioni, false
                  / %li.divider
                  %li
                    = form_tag print_multiple_appunti_path, :method => :put, target: "_blank", :id => "form_print_sovrapacchi" do
                      - for a in @giro.appunti_da_fare do
                        = hidden_field_tag "appunto_ids[]", a.id
                      = submit_tag "stampa sovrapacchi",  id: "bnt-pdf", class: "btn btn-link"


            %h3
              = pluralize @giro.appunti_da_fare.size, "appunti"
              %small da fare
          .more.appunti.list
            - for appunto in @giro.appunti_da_fare
              = render appunto
  
  - if @giro.appunti_preparato.size > 0
    .span6 
      .content
        .content-header
          .header-inner.header
            = show_hide_tag
            %h3
              = pluralize @giro.appunti_preparato.size, "appunti"
              %small pronti
          .more.appunti.list
            - for appunto in @giro.appunti_preparato
              = render appunto

  - if @giro.appunti_in_sospeso.size > 0
    .span6 
      .content
        .content-header
          .header-inner.header
            = show_hide_tag
            %h3
              = pluralize @giro.appunti_in_sospeso.size, "appunti"
              %small in sospeso
          .more.appunti.list
            - for appunto in @giro.appunti_in_sospeso
              = render appunto
          .footer


      

/ .visite-long.baule-page
/   = render :partial => 'giri/visite_long'
  
  


