.well
  .map-baule
    - @mappa = @clienti.to_gmaps4rails
    = gmaps({ :markers => {:data => @mappa }, :map_options => { :type => "ROADMAP", :zoom => 15, :auto_zoom => true } }, false, false)
    
  = link_to "Svuota baule", baule_rimuovi_path, class: 'btn btn-warning'

.well
  %ul
    - for v in @visite do
      %li
        %h2= v.cliente.titolo
      
      
      .row
        .span5
          = render 'classi/classi', cliente: v.cliente
        .span6
          = render 'adozioni/adozioni', cliente: v.cliente

      
      %ul
        - for a in v.appunti do
          %li= a.note
          %ul 
            - for r in a.righe do
              %li
                = r.libro.titolo
                = r.quantita
                = r.importo
              
.well
  %table.table.libri-nel-baule
    - for libro in @libri_nel_baule do
      %tr
        %td= libro[:titolo]
        %td
          .pull-right= libro[:copie]