- title "Nel Baule"

= new_button( new_appunto_url )


.module.white
  .header
    .btn-toolbar.pull-right
      .btn-group
        = stampami_tag
        = link_to "page break", "", class: "toggle-break btn"
        = link_to "esandi tutto", "", class: "esandi-tutto btn"

    %h2 Nel Baule

.row.baule-page
  .span7
    .module.white
      .header
        = show_hide_tag
        %h3 Mappa
      = render 'baule/mappa_baule', clienti: @giro.clienti

  .span5
    .module.white
      .header
        = show_hide_tag
        %h4 scegli il giorno
      .more.well
        = render "form"

.row.baule-page
  .span4
    = render :partial => 'giri/list_giro'
  .span4
    = render partial: "shared/riepilogo_libri", locals: { tipo_riepilogo: "volumi_da_consegnare", collection: @giro.righe_da_consegnare} 
  .span4
    = render partial: "shared/riepilogo_libri", locals: { tipo_riepilogo: "adozioni", collection: @giro.adozioni}
    

.visite-long.baule-page
  = render :partial => 'giri/visite_long'
  
  


