.classi-adozioni
  - adozioni_grouped = @cliente.mie_adozioni.includes(:libro).joins(:classe).order("classi.classe, classi.sezione").group_by(&:libro)
  - unless adozioni_grouped.empty?
    %header.content-header
      .header-inner  
        %h3= pluralize  @cliente.mie_adozioni.size, "adozione"
    %ul.adozioni.unstyled.list
      - for libro, adozioni in adozioni_grouped do
        %li.item.classi-group.clearfix
          %span.classi= libro.classe.to_s + " " + adozioni.map {|c| c.classe.sezione}.join
          %span.nr_alunni= adozioni.sum {|a| a.classe.nr_alunni}
          %span.titolo= link_to libro.titolo, libro
          %span.pull-right= render "adozioni/destroy_all", adozioni: adozioni


  - classi_grouped = @cliente.classi.order("classi.classe, classi.sezione").group_by(&:classe)
  - unless classi_grouped.empty?
    %header.content-header
      .header-inner  
        %h3= pluralize  @cliente.classi.size, "classe"
    %ul.classi.unstyled.list
      - for classe, sezioni in classi_grouped do
        %li.classi-group.clearfix.item
          %span.classe= classe.to_s + " " + sezioni.map(&:sezione).join 
          %span.nr_alunni= sezioni.sum(&:nr_alunni)
          %span.pull-right= render "classi/destroy_all", classi: sezioni

