- cache [ current_user, cliente, 'big' ] do

  %div{ class: "cliente item big #{dom_id(cliente)} #{cliente.fatto? ? "fatto" : "" }", data: {id: "#{cliente.id}"}}


    .baule-div
      = baule_tag cliente

    - if cliente.da_scorrere?
      .scorri-div
        = link_to "scorri", scorri_classi_cliente_url(cliente), class: "btn-small btn-danger", confirm: "Sei sicuro?", remote: true


    .cliente-inner.clearfix
      .titolo
        = link_to cliente.titolo, cliente
        
        - if cliente.scuola_primaria?
          = link_to cliente_path( id: cliente.slug, view: 'foglio_scuola'), title: "foglio scuola" do
            %i.icon-file
      
      .appunti_da_fare.sum
        - if cliente.properties["appunti_da_fare"].to_i > 0
          %span.label.label-important= cliente.properties["appunti_da_fare"]
          %br
        da fare
      
      .appunti_pronti.sum
        - if cliente.properties["appunti_pronti"].to_i > 0        
          %span.label.label-primary= cliente.properties["appunti_pronti"]
          %br
        pronti


      .importo_in_sospeso.sum
        - if cliente.properties["appunti_in_sospeso"].to_i > 0
          - if cliente.properties["importo_in_sospeso"].to_f > 0.0
            %span.label.label-warning= number_to_currency cliente.properties["importo_in_sospeso"].to_f
            %br
          - else
            %span.label.label-warning= cliente.properties["appunti_in_sospeso"]
            %br
        in sospeso

      - if cliente.scuola_primaria?
        .vacanze_da_ritirare.sum
          - if cliente.properties["vacanze_da_ritirare"].to_i > 0
            %span.label.label-inverse= cliente.properties["vacanze_da_ritirare"]
            %br
          vacanze

      - if cliente.scuola_primaria?
        .adozioni_da_consegnare.sum
          - if cliente.has_adozioni?
            %span.label= cliente.properties["adozioni_da_consegnare"]
            %span.label.label-warning= cliente.properties["adozioni_saggi"]
            %span.label.label-important= cliente.properties["adozioni_kit_no_saggio"]
            %span.label.label-success= cliente.properties["adozioni_kit"]
            %br
          adozioni


      
