- cache [ current_user, cliente, 'big' ] do

  %div{ class: "cliente big #{dom_id(cliente)} #{cliente.fatto? ? "fatto" : "" }", data: {id: "#{cliente.id}"}}

    .scorri-div  
      - if cliente.da_scorrere?
        .pull-right
          = link_to "scorri", scorri_classi_cliente_url(cliente), class: "btn-small btn-danger pull-right", confirm: "Sei sicuro?", remote: true

    .baule-div
      = baule_tag cliente


    .cliente-inner.clearfix
      .titolo
        = link_to cliente.titolo, cliente
        
        - if cliente.scuola_primaria?
          = link_to cliente_path( id: cliente.slug, view: 'foglio_scuola'), title: "foglio scuola" do
            %i.icon-file

      - if cliente.has_sospeso?
        .in_sospeso
          %span.badge.badge-warning

            = number_to_currency cliente.properties["importo_in_sospeso"].to_f

      .vacanze-da-ritirare

        %span.label.label-inverse= cliente.properties["vacanze_da_ritirare"]

      
      - if cliente.has_adozioni?
        .adozioni-da-consegnare


          %span.label= cliente.properties["adozioni_da_consegnare"]
          %span.label.label-warning= cliente.properties["adozioni_saggi"]
          %span.label.label-important= cliente.properties["adozioni_kit_no_saggio"]
          %span.label.label-success= cliente.properties["adozioni_kit"]

      - if cliente.preparato?
        .stato-cliente
          = image_tag asset_path "task-preparato.png"

      
