
/ - cache [@cliente, 'cliente_show'] do         
  
.content
  = render 'clienti/cliente_header',  cliente: @cliente

.row
  
  .span8

    - unless @righe_da_consegnare.empty?
      .module
        .header
          = show_hide_tag
          %h3 vendite da consegnare
        .more       
          = nested_righe_per_appunto( @righe_da_consegnare.to_a )

    - unless @righe_da_registrare.empty?
    
      .module
        .header
          = show_hide_tag
          %h3 vendite da registrare
        .more       
          = nested_righe_per_appunto( @righe_da_registrare.to_a )


    
    - unless @cliente.documenti.size.zero?
      .module.transparent
        .header
          = show_hide_tag
          %h3= pluralize(@cliente.documenti.size, "documento")
        .more
          .list
            = render partial: "documenti/documento", collection: @cliente.documenti.per_numero, as: :documento

      
  / .center.span4
  /   %header.content-header
  /     .header-inner
  /       %h2 Appunti
      
  /   - @appunti_per_anno = @cliente.appunti.not_deleted.recente.group_by { |t| t.created_at.year }
  /   .appunti.list
  /     - for anno, values in @appunti_per_anno do
  /       .item
  /         %h3= anno
  /       - for a in values do
  /         = render a, grouped: "grouped"
        
  /   .stream-loader
    
  .side-bar.span4

    .module
      .header
        = show_hide_tag "down"
        %h3 destinatari
      .more.hidden
        .list
          - @cliente.destinatari.each do |d|
            - unless d.destinatario.blank? && d.telefono.blank? && d.email.blank?
              .item
                = d.destinatario
                = d.telefono
                = d.email



    - if @cliente.longitude && @cliente.latitude
      .module
        .header
          = show_hide_tag
          %h3 nelle vicinanze...
        .clienti.more
          = render @cliente.nearbys(10).con_qualcosa_da_fare(current_user)
