%div{ class: "cliente #{dom_id(cliente)} #{cliente.fatto? ? "fatto" : "" }", data: {id: "#{cliente.id}"}}
  / .counter
  /   = "#{cliente_counter + 1}."
  .baule-div
    = baule_tag cliente, class_scarica: "btn btn-warning btn-mini"
  
  .titolo
    = link_to cliente.titolo, cliente
  
  .in-corso
    - if cliente.properties && cliente.properties['appunti_in_corso']
      %span.badge.badge-info
        = cliente.properties["appunti_in_corso"]
    - else
      &nbsp

  .da-consegnare
    - if cliente.properties && cliente.properties["copie_da_consegnare"]
      %span.badge
        = cliente.properties["copie_da_consegnare"]
    - else
      &nbsp

  .mie-adozioni
    - unless cliente.mie_adozioni.empty?
      %span.adozioni.badge.badge-important 
        = cliente.mie_adozioni.size
    - else
      &nbsp
    
