- cache [ current_user, cliente, 'propa' ] do
  
  - present cliente do |cliente_presenter|

    %div.cliente.item
      
      %div.pull-left{ class: "#{dom_id(cliente)}" }
        
        = baule_tag cliente
        %br
        
        = cliente_presenter.visite_div
      
      %div.pull-left
        
        = link_to cliente.titolo, cliente
        
        - if cliente.scuola_primaria?
          = link_to cliente_path( id: cliente.slug, view: 'foglio_scuola'), title: "foglio scuola" do
            %i.icon-file

      %div.pull-right
        = cliente_presenter.adozioni_box