- cache [ current_user, cliente ] do

  %div{ class: "cliente #{dom_id(cliente)}", data: {id: "#{cliente.id}"}}
        
    .baule-div
      = baule_tag cliente

    .cliente-inner.clearfix
      
      .titolo
        = link_to cliente.titolo, cliente
        
        - if cliente.scuola_primaria?
          = link_to cliente_path( id: cliente.slug, view: 'foglio_scuola'), title: "foglio scuola" do
            %i.icon-file
      
      / = next_visita_div cliente
      
      .importo-in-sospeso
        
        - if cliente.properties && cliente.properties['importo_in_sospeso'] && cliente.properties['importo_in_sospeso'] != '0.0'

          = cliente.properties["importo_in_sospeso"].to_f.round(2)
        - else
          &nbsp

      .todo-icons
        - ["da_fare", "pronti", "in_sospeso"].each do |status|
          
          - if cliente.properties && cliente.properties["appunti_#{status}"]

            = image_tag "task-#{status}.png"

        



