.clienti-side.span3
  .module
    %ul.stats
      %li
        = link_to params.except(:status), remote: false do
          %strong= @tutti
          clienti
      %li
        = link_to params.merge(status: "da_fare"), remote: false do
          %strong= @da_fare
          visitare
      %li
        = link_to params.merge(status: "preparati"), remote: false do
          %strong= @preparati
          pronti
      %li
        = link_to params.merge(status: "in_sospeso"), remote: false do
          %strong= @in_sospeso
          sospeso
    .search-box  
      = form_tag params, method:'get', id: 'clienti_search', class: "form-search", remote: false do
        .input-append
          = text_field_tag :search, params[:search], class: "input-medium search-query", placeholder: "cerca clienti"
          = button_tag class: "btn", name: nil do
            %i.icon-search

    .sort-box.clearfix
      ordine
      .btn-group.pull-right
      
        = link_to "codice", params.except(:ordine), remote: false, class: "btn #{params[:ordine].present? ? '' : 'btn-primary'}"        
        = link_to "comune", params.merge(ordine: "comune"), remote: false, class: "btn #{params[:ordine] == 'comune'  ? 'btn-primary' : ''}"
        = link_to "nome", params.merge(ordine: "nome"), remote: false, class: "btn #{params[:ordine] == 'nome'  ? 'btn-primary' : ''}"

    .more-filters-box
      - if params[:nel_baule].present?
        = link_to "tutti i clienti", clienti_path, class: 'btn btn-block'        
      - else
        = link_to "Nel Baule", params.merge(nel_baule: true), class: 'btn btn-block btn-warning'
      
      - if params[:vacanze_da_ritirare].present?
        = link_to "tutti i clienti", clienti_path, class: 'btn btn-block'        
      - else
        .btn-group
          = link_to "vacanze ritirate", params.merge(vacanze_da_ritirare: false), class: 'btn btn-inverse'
          = link_to "vacanze da ritirare", params.merge(vacanze_da_ritirare: true), class: 'btn'

      - if params[:adozioni_da_consegnare].present?
        = link_to "tutti i clienti", clienti_path, class: 'btn btn-block'        
      - else
        .btn-group
          = link_to "adozioni da consegnare", params.merge(adozioni_da_consegnare: true), class: 'btn btn-inverse'
          = link_to "adozioni consegnate", params.merge(adozioni_da_consegnare: false), class: 'btn'


  = render "shared/search_tipo"
  = render 'shared/search_provincia'
  = render "shared/search_comune"            
