
- cache [@cliente, 'cliente_show'] do         
  
  .content
    = render partial: 'clienti/cliente_header', locals: { cliente: @cliente }

  .row
    .side-bar.span3

      - unless @righe_da_consegnare.empty?
        .module
          .header
            = show_hide_tag
            %h3 Libri da consegnare
          .more.box-consegna.cliente-vendite
            
            - for appunto, righe in @righe_da_consegnare.group_by(&:appunto) do               
              
              = link_to appunto do
                = "##{appunto.id} del #{l appunto.created_at, format: :only_date} - #{appunto.status}"

              - for riga in righe do
                .rig
                  = check_box_tag "riga_ids[]", riga.id, false, {:class => 'cb-riga-item'}
                  = riga.libro.titolo
                  .pull-right= riga.quantita
                  
            %footer.clearfix
              .pull-left
                .dropdown
                  = link_to "Modifica",  "#", class: "btn-small btn-warning dropdown-toggle", "data-toggle" => "dropdown" 

                  %ul.dropdown-menu{ role: "menu", "aria-labelledby" => "dLabel" }

                    %li.dropdown-submenu
                      %a{ tabindex: "-1", href: "#"}
                        Sposta selezionati
                      %ul.dropdown-menu
                        %li
                          = form_for @cliente, url: sposta_righe_cliente_path(@cliente), method: "put", html: {class: "form-inline"} do |f|
                            / - for riga in @righe_da_consegnare do
                            /   = hidden_field_tag "riga_ids[]", riga.id 
                            = f.submit "sposta", class: "btn btn-link"

              .totale-copie.pull-right
                %strong= @righe_da_consegnare.sum(&:quantita)


      - unless @righe_da_registrare.empty?
        .module
          .header
            = show_hide_tag
            %h3 Appunti da registrare
          .more.box-registra.cliente-vendite
            
            - for a, r in @righe_da_registrare.group_by(&:appunto) do               
              = render "appunti/item", appunto: a

            %footer.clearfix
              .pull-left
                = render 'fatture/registra', c: @cliente, r: @righe_da_registrare
              .totale-importo.pull-right
                %strong= number_to_currency @righe_da_registrare.sum(&:importo)
              .totale-copie.pull-right
                %strong= @righe_da_registrare.sum(&:quantita)

      
      - unless @cliente.fatture.size.zero?
        .module
          .header
            = show_hide_tag
            %h3= pluralize(@cliente.fatture.size, "documento")
          .more.riepilogo-libri  
            %ul
              = render partial: "fatture/fattura_item", collection: @cliente.fatture.per_numero, as: :fattura

      - unless @cliente.new_record?  
        - da_consegnare  = @cliente.righe.not_deleted.joins(:libro).includes(:libro).di_questa_propaganda.da_consegnare.order("libri.titolo")
        = render partial: "shared/riepilogo_libri", locals: { tipo_riepilogo: "da_consegnare", collection: da_consegnare} unless da_consegnare.empty?

        - da_pagare = @cliente.righe.not_deleted.joins(:libro).includes(:libro).di_questa_propaganda.da_pagare.order("libri.titolo")
        = render partial: "shared/riepilogo_libri", locals: { tipo_riepilogo: "da_pagare", collection: da_pagare} unless da_pagare.empty?
        

      / - if @cliente.scuola_primaria?
      /   = render "classi_adozioni"
      /   = render "classi_inserters/form", cliente: @cliente
      / - else
      /   &nbsp
        
    .center.span5
      %header.content-header
        .header-inner
          %h2 Appunti
        
      - @appunti_per_anno = @cliente.appunti.not_deleted.recente.group_by { |t| t.created_at.year }
      .appunti.list
        - for anno, values in @appunti_per_anno do
          .item
            %h3= anno
          - for a in values do
            = render a, grouped: "grouped"
          
      .stream-loader
      
    .side-bar.span4
      - if @cliente.longitude && @cliente.latitude
        .module
          .header
            = show_hide_tag
            %h3 
              = "#{pluralize @cliente.nearbys(10).con_appunti(current_user.appunti.da_fare).size, 'cliente'}"
              %small vicini con appunti da fare
          .clienti.more
            = render @cliente.nearbys(10).con_appunti(current_user.appunti.da_fare)
        .module 
          .header
            = show_hide_tag
            %h3 
              = "#{pluralize @cliente.nearbys(10).con_appunti(current_user.appunti.in_sospeso).size, 'cliente'}"
              %small vicini con appunti in sospeso
            
          .clienti.more
            = render @cliente.nearbys(10).con_appunti(current_user.appunti.in_sospeso)
      