.clienti-side.span3
  .module
    %ul.stats
      %li
        = link_to params.except(:status), remote: true do
          %strong= @tutti
          clienti
      %li
        = link_to params.merge(status: "da_fare"), remote: true do
          %strong= @da_fare
          visitare
      %li
        = link_to params.merge(status: "preparati"), remote: true do
          %strong= @preparati
          pronti
      %li
        = link_to params.merge(status: "in_sospeso"), remote: true do
          %strong= @in_sospeso
          sospeso
    %ul
      %li
        = form_tag clienti_path, method:'get', id: 'clienti_search', class: "form-search", remote: true do
          .input-append
            = text_field_tag :search, params[:search], class: "input-medium search-query", placeholder: "cerca clienti"
            = button_tag class: "btn", name: nil do
              %i.icon-search


  = render "shared/search_tipo"
  = render 'shared/search_provincia'
  = render "shared/search_comune"            
