%div{ class: "cliente big #{dom_id(cliente)} #{cliente.fatto? ? "fatto" : "" }", data: {id: "#{cliente.id}"}}

  .scorri-div  
    - if cliente.da_scorrere?
      .pull-right
        = link_to "scorri", scorri_classi_cliente_url(cliente), class: "btn-small btn-danger pull-right", confirm: "Sei sicuro?", remote: true

  .baule-div
    = baule_tag cliente


  .cliente-inner.clearfix
    .titolo
      = link_to cliente.titolo, cliente
    
    - if cliente.scuola_primaria?
      .vacanze-da-ritirare
        - if cliente.vacanze_da_ritirare > 0
          %span.label= cliente.vacanze_da_ritirare
    
    - if cliente.has_adozioni?
      .adozioni-da-consegnare
        - if cliente.saggi_da_consegnare > 0
          %span.label.label-warning= cliente.saggi_da_consegnare
        - if cliente.kit_da_consegnare > 0
          %span.label.label-success= cliente.kit_da_consegnare

    - if cliente.preparato?
      .stato-cliente
        = image_tag asset_path "task-preparato.png"

    
