/ - cache do [ cliente, 'cliente_header']

%section.cliente-header.well.show-page{ class: "cliente #{dom_id(cliente)}"}
  %header
  %article.row-fluid
    .location.span4
      - unless cliente.latitude.nil?
        .map-avatar
          - @mappa = cliente.to_gmaps4rails
          = gmaps({ :markers => {:data => @mappa }, :map_options => { :type => "ROADMAP", :zoom => 15, :auto_zoom => false } } )
    .content-inner.span8
      .more-info.pull-right
        
        - if cliente.has_adozioni?
          
          - present cliente do |cliente_presenter|

            = cliente_presenter.adozioni_grouped

          = render 'clienti/cliente_adozioni', cliente: cliente
          
        %ul.unstyled{ style: "margin-top: 5px;"}
    
          - for v in cliente.visite.limit(7).order("data desc") do
            - if v.data
              %li{ style: "margin-right: 5px"}
                = link_to giro_path(giorno: v.data), class: 'pull-right' do
                  - if v.scopo
                    %span.label.label-warning
                      = v.scopo
                  %span.label{ class: "#{ v.data.year == Time.now.year ? 'label-info' : ''}"}
                    = l v.data, format: :long

      %h1
        =link_to cliente.titolo, cliente

        - if cliente.scuola_primaria?
          %small
            = link_to cliente_path( id: cliente.slug, view: 'foglio_scuola'), title: "foglio scuola" do
              %i.icon-file



      %address
        %strong
          = "@#{cliente.ragione_sociale || [cliente.nome, cliente.cognome].join(' ')}"
        %br
        = cliente.indirizzo
        %br
        = "#{cliente.cap} #{cliente.frazione} #{cliente.comune} #{cliente.provincia}"

      - if cliente.scuola_primaria? && !cliente.parent.nil?
        %div
          sede
          = link_to "#{cliente.parent.titolo}", cliente.parent

      - if cliente.istituto_comprensivo? || cliente.direzione_didattica?
        %ul
          - for c in cliente.children do
            %li= link_to "#{c.titolo}", c


      %div
        Partita IVA:
        = cliente.partita_iva
        %br
        Codice Fiscale:
        = cliente.codice_fiscale
      


      %div

        - unless cliente.telefono.blank?
          %a.btn{ href: "tel:#{cliente.telefono.split.join}" }
            %i.icon-phone
            = cliente.telefono
          %br

        - unless cliente.email.blank?
          %a.btn{ href: "mailto:#{cliente.email}" }
            %i.icon-envelope
            = cliente.email
          %br

        - unless cliente.latitude.nil?
          %a.btn{ href: "http://maps.apple.com/maps?q=#{cliente.latitude},#{cliente.longitude}" }
            / %a.btn{ href: "navigon://coordinate/#{cliente.titolo.parameterize}/#{cliente.longitude}/#{cliente.latitude}" }
            %i.icon-road
            Mostra percorso

  %footer.show-toolbar
    .btn-group.pull-left
      = previous_tag cliente_url(Cliente.previous(cliente, 'id').first)
      = next_tag cliente_url(Cliente.next(cliente, 'id').first)

    - unless cliente.eliminato?
      .pull-right
        = baule_tag cliente, class_scarica: "btn btn-warning"
        - unless cliente.has_documenti?
          = link_to cliente, method: 'delete', title: 'elimina', confirm: "Sei sicuro?", class: "btn btn-danger" do
            %i.icon-trash
            Elimina
        = link_to edit_cliente_url(cliente), class: "btn btn-primary" do
          %i.icon-pencil
          Modifica
    - else
      .pull-right
        %h3
          = "Cliente ELIMINATO il #{l cliente.deleted_at, format: :long}"
