.foglio-scuola.module{ id: "foglio_scuola_#{cliente.id}"}

  .header
    = show_hide_tag  "down"
    .pull-right
      .btn-group
        = form_tag print_multiple_adozioni_path, :method => :put, target: "_blank", :id => "form_print_adozioni" do
          - for a in cliente.mie_adozioni do
            = hidden_field_tag "adozione_ids[]", a.id
          = submit_tag "Stampa Adozioni",  id: "bnt-pdf", class: "btn", placeholder: "salta"
      - if cliente.da_scorrere?
        .btn-group
          = link_to "Scorri classi", scorri_classi_cliente_url(cliente), class: "btn btn-danger", confirm: "Sei sicuro?", remote: true

    %h3 Foglio Scuola

  .more.hidden

    - coef = cliente.max_classi

    - cliente.classi_adozioni_grouped.each do |k, classi|

      .row-classi.clearfix

        .header-classi
          .inner
            %h1= k

        - classi.each do |c|

          = render 'classi/classe', c: c, coef: coef