# encoding: utf-8

= form_for @cliente, html: {:class => "feedback #{params[:action]}_cliente"} do |f|
  -if @cliente.errors.any?
    #error_explanation
      %h2= "#{pluralize(@cliente.errors.count, "error")} prohibited this cliente from being saved:"
      %ul
        - @cliente.errors.full_messages.each do |msg|
          %li= msg
  
  .field
    = f.label :cliente_tipo, "Tipo cliente:"
    = f.select :cliente_tipo, Cliente::TIPI_CLIENTI
  = field f, :nome,      size: 50
  .field
    = f.label :provincia, "Provincia:"
    = f.select :provincia, Comune.provincie.all.map(&:provincia), { :include_blank => true } , {:class => 'chzn-select'}
  .field
    = f.label :citta, "Comune:"
    = f.select :citta, Comune.per_provincia(@cliente.provincia).map(&:citta), { :include_blank => true }, {:class => 'chzn-select'}

  = f.fields_for :indirizzi do |indirizzo|
    %fieldset#gmaps_page 
      %legend= indirizzo.object.tipo ||= 'Indirizzo fattura'
      = field indirizzo, :destinatario, size: 50, label: 'Ragione Sociale'
      = field indirizzo, :indirizzo,    size: 50
      = field indirizzo, :citta, label: 'Località',      size: 50
      .field
        = indirizzo.label :cap, 'CAP:'
        = indirizzo.text_field :cap,    size:  5
        = link_to 'non solo cap', "http://www.nonsolocap.it/cap?k=#{indirizzo.object.citta}&s=Cerca&c=", :target => '_blank'
      = field indirizzo, :provincia,    size:  2
      .field
        %label Mappa:
        - @mappa = indirizzo.object.to_gmaps4rails
        = gmaps( {:markers => {:data => @mappa, :options => { :draggable => true  }}, :map_options => { :type => "ROADMAP", :zoom => 15, :auto_zoom => false } }, false, false)
        
      .clear
      = field indirizzo, :gmaps,        type: :check_box
      = field indirizzo, :latitude,     size: 25
      = field indirizzo, :longitude,    size: 25      

  .actions
    = button_submit_tag 'Salva'

= render 'shared/non_solo_cap'


