= form_for @cliente, html: {:class => "feedback #{params[:action]}_cliente"} do |f|
  -if @cliente.errors.any?
    #error_explanation
      %h2= "#{pluralize(@cliente.errors.count, "error")} prohibited this cliente from being saved:"
      %ul
        - @cliente.errors.full_messages.each do |msg|
          %li= msg
  = field f, :nome,      size: 50
  = field f, :citta,     size: 50, :label => "Città"
  = field f, :provincia, size:  2

  = f.fields_for :indirizzi do |indirizzo|
    %fieldset 
      %legend= indirizzo.object.tipo ||= 'Indirizzo fattura'
      = field indirizzo, :destinatario, size: 50, label: 'Ragione Sociale'
      = field indirizzo, :indirizzo,    size: 50
      = field indirizzo, :cap,          size:  5
      = field indirizzo, :citta,        size: 50
      = field indirizzo, :provincia,    size:  2
      = field indirizzo, :gmaps,        type: :check_box
      = field indirizzo, :latitude,     size: 25
      = field indirizzo, :longitude,    size: 25
  .actionscliente
    = button_submit_tag 'Salva'
