# encoding: utf-8


= simple_form_for @cliente do |f|

  = f.error_notification
  
  %fieldset
    = f.input   :cliente_tipo, collection: Cliente::TIPI_CLIENTI, label: "Tipo Cliente",  input_html: { :class => 'chzn-select', "data-placeholder" => "Seleziona tipo cliente..." }
    = f.input   :titolo, label: "Nome Cliente", hint: "Scegliere un nome univoco per indicare il cliente. Verrà aggiunto automaticamente il prefisso che ne indica il tipo"

  %fieldset
    %legend Dati anagrafici
    .control-group.form-inline
      %label{ for: :nome, :class => 'string required control-label'} Nome e Cognome
      .controls
        = f.text_field :nome
        = f.text_field :cognome
      
    = f.input   :ragione_sociale
  
  %fieldset
    = f.input   :codice_fiscale
    = f.input   :partita_iva
  / = f.input   :avatar
  
  
  
  %fieldset
    %legend Indirizzo
    = f.input   :provincia,    collection: Comune.provincie.all.map(&:provincia),                  input_html: { :class => 'chzn-select', "data-placeholder" => "Seleziona la provincia..." }  
    = f.input   :comune,       collection: Comune.per_provincia(@cliente.provincia).map(&:comune), input_html: { :class => 'chzn-select', "data-placeholder" => "Seleziona il comune..." }
    = f.input   :frazione
    = f.input   :indirizzo
    = f.input   :cap

  %fieldset
    %legend Recapiti
    = f.input :telefono
    = f.input :telefono_2
    = f.input :fax
    = f.input :cellulare
    = f.input :email
    = f.input :url
  
  %fieldset
    %legend Mappa
    = f.input :gmaps
    = f.input :latitude, as: :string
    = f.input :longitude, as: :string
    
  = f.error :base
        
  .form-actions
    = f.button :submit, :class => 'btn-primary'
