<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">id</Data></Cell>
        <Cell><Data ss:Type="String">titolo</Data></Cell>
        <Cell><Data ss:Type="String">ragione_sociale</Data></Cell>
        <Cell><Data ss:Type="String">cliente_tipo</Data></Cell>
        
        <Cell><Data ss:Type="String">indirizzo</Data></Cell>
        <Cell><Data ss:Type="String">cap</Data></Cell>
        <Cell><Data ss:Type="String">comune</Data></Cell>

        <Cell><Data ss:Type="String">frazione</Data></Cell>
        <Cell><Data ss:Type="String">provincia</Data></Cell>
        <Cell><Data ss:Type="String">latitude</Data></Cell>
        <Cell><Data ss:Type="String">longitude</Data></Cell>

      </Row>
    <% @clienti.each do |cliente| %>
      <Row>
        <Cell><Data ss:Type="Number"><%= cliente.id %></Data></Cell>
        <Cell><Data ss:Type="String"><%= cliente.titolo %></Data></Cell>
        <Cell><Data ss:Type="String"><%= cliente.ragione_sociale %></Data></Cell>
        <Cell><Data ss:Type="String"><%= cliente.cliente_tipo %></Data></Cell>
        
        <Cell><Data ss:Type="String"><%= cliente.indirizzo %></Data></Cell>
        <Cell><Data ss:Type="String"><%= cliente.cap %></Data></Cell>
        <Cell><Data ss:Type="String"><%= cliente.comune %></Data></Cell>

        <Cell><Data ss:Type="String"><%= cliente.frazione %></Data></Cell>
        <Cell><Data ss:Type="String"><%= cliente.provincia %></Data></Cell>
        <Cell><Data ss:Type="String"><%= cliente.latitude %></Data></Cell>
        <Cell><Data ss:Type="String"><%= cliente.longitude %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>