= new_button( new_cliente_url )

- title "Clienti"

.row
  = render 'clienti_side'

  .content-main.span6
    %header.content-header
      .header-inner
        %h2 Clienti
    
    = render :partial => 'shared/filters'

    #clienti.list
      = render partial: "cliente_big", collection: @clienti, as: :cliente

    .stream-loader
      = paginate @clienti

  .side-right.span3
    .well
      = form_tag import_clienti_path, multipart: true do
        = file_field_tag :file
        = submit_tag 'Importa', class: "btn pull-right"
      .clearfix
      Download:
      = link_to "CSV", export_clienti_path(format: "csv")
      |
      = link_to "Excel", export_clienti_path(format: "xls")


