- title "Clienti"

.row
  .side-bar.span3
    = render :partial => 'shared/episode_views'
    = render :partial => 'shared/search_options'
  .span9
    .links
      = link_to "Nuovo", new_cliente_path
    %header
      %h1 Clienti
    
    - if params[:tipo].present? || params[:provincia].present? || params[:citta].present? || params[:search].present?
      = render :partial => 'shared/filters'
            
    #clienti{ 'data-json-url' => "#{ clienti_url( params.merge(:format => :json)) }" }
      / - @clienti.each do |cliente|
      /   = render "cliente", :mustache => cliente_for_mustache(cliente)
        


%script{ type: "text/html", id: "cliente_template" }
  = render "cliente"
    



