= new_button( new_cliente_url )

- title "Clienti"

.row.floating
  = render 'clienti_side'

  .content-main.span6
    %header.content-header
      .header-inner
        %h2 Clienti
    
    = render :partial => 'shared/filters'

    #clienti.list

      = render partial: "cliente_propa", collection: @clienti, as: :cliente

    .stream-loader
      = paginate @clienti

  .side-right.span3.floating-side

    .floating-toolbar
      .well
        - if params[:nel_baule].present?
          = link_to "tutti i clienti", clienti_path, class: 'btn btn-block'        
        - else
          = link_to "Nel Baule", params.merge(nel_baule: true), class: 'btn btn-block btn-warning'
        
        %hr

        - if params[:vacanze_da_ritirare].present?
          = link_to "tutti i clienti", clienti_path, class: 'btn btn-block'        
        - else
          = link_to "vacanze da ritirare", params.merge(vacanze_da_ritirare: true), class: 'btn btn-inverse btn-block'

          = link_to "vacanze ritirate", params.merge(vacanze_da_ritirare: false), class: 'btn btn-block'

        %hr
        
        - if params[:adozioni_da_consegnare].present?
          = link_to "tutti i clienti", clienti_path, class: 'btn btn-block'        
        - else
          = link_to "adozioni da consegnare", params.merge(adozioni_da_consegnare: true), class: 'btn btn-inverse btn-block'
          = link_to "adozioni consegnate", params.merge(adozioni_da_consegnare: false), class: 'btn btn-block'



      .well
        = form_tag import_clienti_path, multipart: true do
          = file_field_tag :file
          = submit_tag 'Importa', class: "btn pull-right"
        .clearfix
        Download:
        = link_to "CSV", export_clienti_path(format: "csv")
        |
        = link_to "Excel", export_clienti_path(format: "xls")


