- title "Propa 2014"

.row


  .content-main.span12
    %header.content-header
    
      .header-inner
        - if @provincie
          .sort-box.clearfix
            %h2.pull-left 
              Propaganda 2014
              %small= @count_elementari
            .btn-group.pull-right
              = link_to 'tutte', params.except(:provincia), class: "btn #{params[:provincia].present?  ? '' : 'btn-primary'}", remote: false
              - for provincia in @provincie
                = link_to provincia, params.merge(provincia: provincia), class: "btn #{params[:provincia] == provincia  ? 'btn-primary' : ''}", remote: false

    #clienti.list

      - zone = @clienti.arrange(:order => "provincia asc, comune asc")

      %ul
        - zone.each do |zona|
          %li= link_to zona[0].titolo, zona[0]
          
          %ul.nested_scuole
            - zona[1].each do |direzione|
              %li= link_to direzione[0].titolo, direzione[0]
              %ul.nested_scuole          
                - direzione[1].each do |plesso|
                  %li= link_to plesso[0].titolo, plesso


      / = nested_scuole @clienti.arrange(:order => "provincia asc, comune asc")


