- title "Propa 2014"

.row


  .content-main.span12
    %header.content-header
    
      .header-inner
        - if @provincie
          .sort-box.clearfix
            %h2.pull-left 
              Propaganda 2014
              %small= @count_elementari
            .btn-group.pull-right
              = link_to 'tutte', params.except(:provincia), class: "btn #{params[:provincia].present?  ? '' : 'btn-primary'}", remote: false
              - for provincia in @provincie
                = link_to provincia, params.merge(provincia: provincia), class: "btn #{params[:provincia] == provincia  ? 'btn-primary' : ''}", remote: false

    #clienti.list

      - direzioni = @clienti.arrange(:order => "provincia asc, comune asc")

      %ul
        - direzioni.each do |direzione|
          %li= direzione[0].titolo
          
          %ul.nested_scuole
            - direzione[1].each do |plesso|
              %li= plesso[0].titolo

      / = nested_scuole @clienti.arrange(:order => "provincia asc, comune asc")


