- title @cliente.nome

.content
  .row
    .span7
    
      %section
        %header
          = render 'shared/title_bar', title: @cliente.to_s
        %article.cliente.well
          %dl
            %dt Cliente:
            %dd= @cliente.titolo
            %dt Città:
            %dd= @cliente.comune
            %dt Provincia:
            %dd= @cliente.provincia
            %dt Tipo cliente:
            %dd= @cliente.cliente_tipo
            %dt Indirizzo:
            %dd.full_address= @cliente.full_street_address
        %footer
          = link_to '< previous', cliente_url(Cliente.previous(@cliente, 'titolo').first)
          = link_to 'next >',     cliente_url(Cliente.next(@cliente, 'titolo').first)

    - unless @cliente.new_record?
      .side-bar.span5
        - unless @cliente.latitude.nil?
          #gmaps_page.well 
            - @mappa = @cliente.to_gmaps4rails
            = gmaps({ :markers => {:data => @mappa }, :map_options => { :type => "ROADMAP", :zoom => 15, :auto_zoom => false } }, false, false)
      
        = render :partial => 'shared/nearbys', locals: {:indirizzo => @cliente}
   
      
- @appunto = Appunto.new(cliente: @cliente)
= render "appunti/modal"

