- title @cliente.nome

.cliente.show{ 'data-latitude' => @cliente.indirizzo.latitude, 'data-longitude' => @cliente.indirizzo.longitude }
  = render 'shared/title_bar', title: @cliente.to_s
  #message
  .map
  #collapse
    .field
      %span.label Nome:
      %span.nome= @cliente.nome
    .field
      %span.label Città:
      %span.note= @cliente.citta
    .field
      %span.label Provincia:
      %span.cliente_nome= @cliente.provincia
    .field
      %span.label Indirizzo:
      %span.full_address= @cliente.indirizzo.full_street_address
    
    


