= new_button( new_appunto_url(cliente: @cliente) )

- title @cliente.nome

.content
  .row
    %section.span11
      %header
        / = render 'shared/title_bar', title: @cliente.to_s
      %article.well[@cliente]
      
        - unless @cliente.latitude.nil?
          .map-avatar.pull-left
            - @mappa = @cliente.to_gmaps4rails
            = gmaps({ :markers => {:data => @mappa }, :map_options => { :type => "ROADMAP", :zoom => 15, :auto_zoom => false } }, false, false)
        %div{ style: "margin-left: 330px"}  
          %h1= @cliente.titolo
          %address
            %strong
              = "@#{@cliente.ragione_sociale || [@cliente.nome, @cliente.cognome].join(' ')}"
            %br
            = @cliente.indirizzo
            %br
            = "#{@cliente.cap} #{@cliente.frazione} #{@cliente.comune} #{@cliente.provincia}"
          %div.pull-left
            Partita IVA:
            = @cliente.partita_iva
            %br
            Codice Fiscale:
            = @cliente.codice_fiscale
          %div.pull-right
            %i{ class: 'icon-user'}
            = @cliente.telefono
            %br
            %i{ class: 'icon-envelope'}
            = @cliente.email
          .clearfix

        %footer
          .pull-right
            = link_to @cliente, method: 'delete', title: 'elimina', confirm: "Sei sicuro?", class: "btn btn-danger" do
              %i.icon-trash
              Elimina
            / = link_to cliente_url(@cliente, format: :pdf), class: "btn" do
            /   %i.icon-print
            /   Stampa
            = link_to edit_cliente_url(@cliente), class: "btn btn-primary" do
              %i.icon-pencil
              Modifica
              
          = link_to '< previous', cliente_url(Cliente.previous(@cliente, 'titolo').first), class: "btn"
          = link_to 'next >',     cliente_url(Cliente.next(@cliente, 'titolo').first), class: "btn"
            
  .row
    - unless @cliente.new_record?
      .side-bar.span5      
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        / = render :partial => 'shared/nearbys', locals: {:indirizzo => @cliente}
      .span6
        %header.content-header
          .header-inner
            %h2 Appunti

        .appunti
          - for a in @cliente.appunti.recente do
            = render a
            
        .stream-loader
   
      
- @appunto = Appunto.new(cliente: @cliente)
= render "appunti/modal"

