- title @cliente.nome

.content
  .row
    %section.span11
      %header
        / = render 'shared/title_bar', title: @cliente.to_s
      %article.cliente.well
      
        - unless @cliente.latitude.nil?
          #gmap_page.pull-left
            - @mappa = @cliente.to_gmaps4rails
            = gmaps({ :markers => {:data => @mappa }, :map_options => { :type => "ROADMAP", :zoom => 15, :auto_zoom => false } }, false, false)
        %div{ style: "margin-left: 330px"}  
          %h1= @cliente.titolo
          %address
            %strong
              = "@#{@cliente.ragione_sociale || [@cliente.nome, @cliente.cognome].join(' ')}"
            %br
            = @cliente.indirizzo
            %br
            = "#{@cliente.cap} #{@cliente.frazione} #{@cliente.comune} #{@cliente.provincia}"
          %div.pull-left
            Partita IVA:
            = @cliente.partita_iva
            %br
            Codice Fiscale:
            = @cliente.codice_fiscale
          %div.pull-right
            %i{ class: 'icon-user'}
            = @cliente.telefono
            %br
            %i{ class: 'icon-envelope'}
            = @cliente.email
          
          .clearfix
          
          
        %footer
          = link_to '< previous', cliente_url(Cliente.previous(@cliente, 'titolo').first)
          = link_to 'next >',     cliente_url(Cliente.next(@cliente, 'titolo').first)
            
  .row
    - unless @cliente.new_record?
      .side-bar.span5      
        = render :partial => 'shared/nearbys', locals: {:indirizzo => @cliente}
      .span6
        %header.content-header
          .header-inner
            %h2 Appunti

        - if params[:provincia].present? || params[:citta].present? || params[:search].present? || params[:status].present?
          = render :partial => 'shared/filters'

        #appunti{ 'data-json-url' => "#{ appunti_url( params.merge(:format => :json)) }" }
        / - @appunti.each do |appunto|
        /   = render "appunto"
        .stream-loader
   
      
- @appunto = Appunto.new(cliente: @cliente)
= render "appunti/modal"

