- @classi_inserter ||= ClassiInserter.new

.insert-classi.well

  = simple_form_for [cliente, @classi_inserter],  remote: true do |f|

    = f.error_notification
    = f.error :base, class: "error"

    = f.hidden_field  :cliente_id, value: cliente.id
    
    .row
      .span2
        = f.label :classe
        = f.input_field :classe, as: :select, collection: 1..5, prompt: "inserisci classe"
      .span3
        = f.input :sezioni, hint: "Inserisci le sezioni (a-z) senza spazi e senza ripetizioni. Le sezioni inserite verranno convertite in maiuscolo"
      .span3
        = f.input :nr_alunni, hint: "Inserisci il numero di alunni per sezione separati da spazio (es. 22 23 25) oppure il totale per classe"
        / questo sarebbe figo ma non riesco a mettere il filtro
        / = f.input :libro_ids, as: :check_boxes, collection: Libro.scolastico.all


    .more.hidden.row
      .span9
        .control-group.collection_checkbox
          = hidden_field_tag "classi_inserter[libro_ids][]", nil
          / %label.control-label Libri adottati
          / .controls
          - Libro.adottabile.group_by(&:classe).each do |classe, libri|

            .row.hidden{ data: { classe: "#{classe}" } }
              - libri.group_by(&:materia).each do |materia, l|
                .span3{ data: { materia_id: "#{materia.try(:id)}" } }
                  %small= materia.try(:materia).try(:downcase)
                  %br
                  - l.each do |libro| 
                    %label.checkbox.hidden{ data: { classe: "#{libro.classe}" } }
                      = check_box_tag "classi_inserter[libro_ids][]", libro.id, false, id: dom_id(libro)
                      = libro.titolo

        .controls
          = f.button :submit, "Salva", class: "btn-primary"

