- title "Scuole"

.content
  .side
    = render :partial => 'shared/episode_views'
    = render :partial => 'shared/search_options'

  .links
    = link_to "Nuovo", new_scuola_path
  %h1 Scuole
    
  - if params[:provincia].present? || params[:citta].present? || params[:search].present?
    = render :partial => 'shared/filters'
            
  #scuole{ 'data-json-url' => "#{ scuole_url( params.merge(:format => :json)) }" }
    - @scuole.each do |scuola|
      = render "scuola", :mustache => scuola_for_mustache(scuola)

%script{ type: "text/html", id: "scuola_template" }
  = render "scuola"
    



