!!!
%html
  %head
    %title= yield :title || "Untitled"
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
%body
  #top
    .logo
      = link_to image_tag("TodoPropa3.png", :size => "224x80", :alt => "TodoPropa - Propaganda scolastica"), root_path
    .user_nav
      = link_to "Esci", destroy_user_session_path, :method => :delete
    %ul.subscribe.horizontal

  %div(data-pjax-container)
    - if ['scuole', 'appunti'].include?(params[:controller])
      #nav_bar
        %ul.nav.horizontal
          %li= link_to_unless_current "Appunti",  appunti_url
          %li= link_to_unless_current "Scuole",   scuole_url
          %li= link_to_unless_current "Fatture",  root_url
          %li= link_to_unless_current "Giri",     scuole_url
        = render partial: "shared/search"
    #main
      - flash.each do |name, msg|
        = content_tag(:div, raw(msg), :id => "flash_#{name}")
      = yield
