!!!
%html
  / %html{ :manifest => "production.appcache" }
  %head
    %title= yield :title || "Untitled"
    
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0"}

    = stylesheet_link_tag    "application"
    = stylesheet_link_tag    "print",       :media => 'print'

    = javascript_include_tag "http://maps.google.com/maps/api/js?v=3.5&sensor=false&amp;libraries=geometry"
    = javascript_include_tag "http://google-maps-utility-library-v3.googlecode.com/svn/tags/infobox/1.1.5/src/infobox.js"
    = javascript_include_tag "http://google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.1/src/markerclusterer.js"
    = javascript_include_tag "http://google-maps-utility-library-v3.googlecode.com/svn/trunk/richmarker/src/richmarker-compiled.js"

    = javascript_include_tag "http://cdn.sublimevideo.net/js/gbma90pz.js"

    = javascript_include_tag "application"

    = csrf_meta_tags
  %body
    = render "shared/header"
  
    %div#wrapper(data-pjax-container)
      / = render partial: "shared/test"

      
      .container.page
        - flash.each do |name, msg|
          = content_tag(:div, raw(msg), id: "flash_#{name}", class: "alert alert-#{name}")
        = yield :head
        
        / %input#main-search-input.visible-phone{ type: "text", value: "", autocomplete: "off", placeholder: "cerca tutto"} 
        
        = yield
        = yield :scripts
  
  #footer
